<div class="func-btn-wrapper">
    <div class="func-btn text-muted">
        <span class="glyphicon glyphicon-time" aria-hidden="true" title="Updated at"></span>
        &nbsp;{{ article.updated_at|date:"M dS o h:i A T" }}
    </div>
        &nbsp;
    {% if request.user.is_staff %}
        &nbsp;&nbsp;
        <div class="func-btn text-muted">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <a target="_blank" href="{% url 'admin:blog_article_change' article.id %}">&nbsp;&nbsp;Change</a>
        </div>
        &nbsp;&nbsp;
        <div class="func-btn text-muted">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <a target="_blank" href="{% url 'admin:blog_article_delete' article.id %}">&nbsp;&nbsp;Delete</a>
        </div>
    {% endif %}
</div>