{% load experiment_tags %}
{% for analytic in data_set.analytics.all %}
    <tr>
        <td>{{ analytic.configuration.condition|capfirst }}</td>
        <td style="background:
                {% if analytic.log2fold >= 0 %}
                    {% colour_saturation "red" data_set.analytics_log2fold_points.min_positive data_set.analytics_log2fold_points.max_positive analytic.log2fold %}
                {% else %}
                    {% colour_saturation "blue" data_set.analytics_log2fold_points.max_negative data_set.analytics_log2fold_points.min_negative analytic.log2fold %}
                {% endif %}" title="">
            <div class="gxaShowCell">
                {{ analytic.log2fold|floatformat:3 }}
            </div>
        </td>
        <td>{{ analytic.configuration.comparison|capfirst }}</td>
        <td class="organism-td" >
                    <span> <i
                          class="{% if analytic.configuration.identification.organism %} icon {{ analytic.configuration.identification.organism.ebi_icon_class }} {% else %} fa fa-question {% endif %}"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title=""
                          data-original-title="
                          {% if analytic.configuration.identification.organism %}
                              {% if analytic.configuration.identification.organism.english_name %}
                                  {{ analytic.configuration.identification.organism.english_name }}
                              {% else %}
                                  {{ analytic.configuration.identification.organism.latin_name }}
                              {% endif %}
                          {% elif analytic.configuration.identification.organism_name %}
                              {{ analytic.configuration.identification.organism_name }}
                          {% endif %}"></i>
                    </span>
        </td>
       {% comment %} <td>
            <a href="{% if analytic.gene %}{% url "gene" analytic.gene.name %}{% endif %}">
                {{ analytic.gene_name|upper}}
            </a>
        </td>{% endcomment %}
       {% comment %} <td title="">
            <a href="{% url "experiment:details" analytic.configuration.identification.slug %}">
                {{ analytic.configuration.name }}
            </a>
        </td>{% endcomment %}
        <td class="gxaExperimentalVariable">
            {{ analytic.configuration.identification.factor_name }}
        </td>
        <td>
            <a href="{% url "experiment:details" analytic.configuration.identification.slug %}">
                {{ analytic.configuration.identification.title }}
            </a>
        </td>
    </tr>
{% endfor %}
