{% if not user.is_authenticated %}
    <script>
        var background = window.document.createElement("div");
        background.setAttribute("style", "position:fixed; background:white; background-size:cover; top:0;left:0; right:0; bottom:0; z-index:40000; display:none; border-top:6px solid #375a7f;");
        background.innerHTML ='<div class="exit-popup" style="float:right;font-size:2em;padding:5px 10px;cursor:pointer;color:#5c5e60;">x</div>';
        window.document.body.appendChild(background);

        var foreground = window.document.createElement("div");
        foreground.setAttribute("style","margin: 16% auto; text-align:center; position:relative; top:0px; width:787px; background-size:100%; padding:3%;");
        foreground.innerHTML = '\
        <h1 class="text-center" style="color:#5c5e60;margin-bottom:5px;font-size:2.2em; letter-spacing:0.01em;"> Find Out the ROOT </h1>\
        <h3 class="text-center" style="margin-top:10px;color:#5c5e60; letter-spacing:0.01em;">Causes of Your Symptoms with our Symptom Analyzer.</h3>\
        <a href="https://www.selfdecode.com/?utm_source=selfdecode&utm_medium=page&utm_campaign=id00036">\
            <div style="text-align:center;"><img\
                    style="margin-top:15px;background:white;border-radius:4px;height:70px;padding:10px 0 5px 20px; border-radius:4px;height:70px;padding:10px 0 5px 20px;box-shadow: 0px 5px 15px grey; -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);"\
                    src="https://s3-us-west-1.amazonaws.com/decodify/assets/decodify_logo4.png"></div>\
        </a>';

        background.appendChild(foreground)

        $(".exit-popup").click(function(){
            background.setAttribute("style", "display:none;")
            foreground.setAttribute("style", "display:none;")
            $(".exit-popup").hide()
        })

        $(document).mouseleave(function(){
            background.style.display = "block"
        })
    </script>
{% endif %}