{% if not user.is_authenticated %}
    <h4 class="text-center"
        style="
            border:1px solid rgba(0,0,0,0.1);
            padding:20px;border-radius:5px;
            margin:20px;
            box-shadow:0px 2px 1px rgba(0,0,0,0.3);
            background-color: #fff679;
            ">
        <a href="https://www.selfdecode.com/accounts/signup/?utm_source=selfdecode&utm_medium=page&utm_campaign=id00035" style="color: #505050;">
            Get a Grip on Your Health. Use SelfDecode to Interpret your Genome Today!
        </a>
        <a
            href="https://www.selfdecode.com/accounts/signup/?utm_source=selfdecode&utm_medium=page&utm_campaign=id00035"
            class="btn btn-primary"
            style="margin:5px 0 5px 10px; padding:15px;
            ">
            GET INSTANT ACCESS
        </a>
    </h4>
{% endif %}