{% if user.is_authenticated and user.user_profile.active_file_id %}
    {% if request.path != '/bookmarked_snps/' %}
        <button data-add-url="{% url "add_bookmark_snp" %}"
                data-remove-url="{% url "bookmarked_snps" %}"
                data-pk="{{ snp_id }}"
                data-rsid="{{ snp_rsid }}"
                data-action="bookmark-snp"
                class="btn btn-default btn-sm btn-rounded-sm modal-button">
            <i class="fa fa-bookmark"></i>
        </button>
    {% else %}
        <button data-url="{% url "bookmarked_snps" %}"
                data-pk="{{ snp_id }}"
                data-action="unbookmark-snp"
                class="btn btn-default btn-sm btn-rounded-sm modal-button btn-unbookmark_snp">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    {% endif %}
{% endif %}