{% load formatting %}
{% load genome_filters %}
{% load genome_tags %}
{% load pdf_tags %}
{% load genome_simple_description %}


<div id="variance_report_all_all_569">
    <div class="table-responsive">
        <table id="table_all" class="table table-th-block table-bordered variance-report">
            <thead>
            <tr>
                <td colspan="8" align="center" class="header">
                    <b>Compare reports: {{ page_title }}</b>
                </td>
            </tr>
            <tr style="font-size: 90%;">
                <th>ID&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="This is the unique number ID of a SNP."></span>
                </th>
                <th>Importance&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Importance is a value we assign to each SNP based on it's veracity and impact. If there are many credible studies and they show substantial impact on health, this number will rise."></span>
                </th>

                <th colspan="2">
                    <span class="text-primary">{{ current_user_name }}</span>
                    <span>has these {{ page_title }} in common with</span>
                    <span class="text-danger">{{ comparator_user_name }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
                {% regroup object_list by genes_list as genes_groups %}
                {% for group in genes_groups %}
                    <tr data-row="gene">
                        <td colspan="8" class="gene-header">
                            {% for gene in group.grouper %}
                                <span class="modal-button" data-toggle="tooltip"
                                      title="{% simple_description_by_gene gene %}"><a href="{% abs_link "gene" gene %}" class="gene-name">{{ gene|upper }}</a></span>
                                {% if not noactions %}
                                    <button data-title="{{ snp.name|upper }}"
                                          data-head="{{ gene|upper }}"
                                          data-genotype="{% sort_genotype snp.user_genotype snp.minor_allele %}"
                                          data-url="{% url "get_substance_interaction_modal_body" gene=gene %}"
                                          data-action="get-modal-content"
                                          class="btn btn-default btn-xs btn-rounded-xs modal-button">
                                      <i class="fa fa-wrench"></i>
                                    </button>
                                {% endif %}
                                {% if user.is_staff and not noactions %}
                                    <a href="/admin_gene/{{ gene|lower }}/"> Edit</a>
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% for snp in group.list %}

                    <tr>
                        <td>
                            <a href="{% abs_link "snp" snp.rsid %}">{{ snp.rsid }}</a>
                            {% if user.is_staff and not noactions %}
                                <a href="{% url "admin:genome_snp_change" snp.pk  %}">Edit</a>
                            {% endif %}
                        </td>
                        <td>{{ snp.importance }}</td>
                        {% if snp.t1_user_genotype == snp.t2_user_genotype %}
                            <td style="position:relative;" colspan="2" align="center">
                                {% if snp.t1_user_genotype %}
                                        {% genotype_with_frequency snp.t1_user_genotype snp.pk snp.minor_allele snp.t1_user_genotype %}
                                        {% combined_risk_alleles snp.snpstudies snp.t1_user_genotype %}
                                        {% allele_flag snp snp.t2_user_genotype %}
                                        <button data-title="{{ snp.name|upper }}"
                                            data-head="{{ snp.rsid }}"
                                            data-genotype="{% sort_genotype snp.t1_user_genotype snp.minor_allele %}"
                                            data-url="{% url "get_disease_trait_modal_body" rsid=snp.rsid user_name=current_user_name%}"
                                            data-action="get-modal-content"
                                            class="btn btn-default btn-sm btn-rounded-sm modal-button"
                                        >
                                            <span class="fa fa-info"></span>
                                        </button>
                                {% endif %}
                            </td>
                        {% else %}
                            <td style="position:relative;">
                                    {% if snp.t1_user_genotype %}
                                            {% genotype_with_frequency snp.t1_user_genotype snp.pk snp.minor_allele snp.t1_user_genotype %}
                                            {% combined_risk_alleles snp.snpstudies snp.t1_user_genotype %}
                                            {% allele_flag snp snp.t2_user_genotype %}
                                            <button data-title="{{ snp.name|upper }}"
                                                data-head="{{ snp.rsid }}"
                                                data-genotype="{% sort_genotype snp.t1_user_genotype snp.minor_allele %}"
                                                data-url="{% url "get_disease_trait_modal_body" rsid=snp.rsid user_name=current_user_name%}"
                                                data-action="get-modal-content"
                                                class="btn btn-default btn-sm btn-rounded-sm modal-button"
                                            >
                                                <span class="fa fa-info"></span>
                                            </button>
                                    {% endif %}
                            </td>
                            <td style="position: relative">
                                {% if snp.t2_user_genotype %}
                                            {% genotype_with_frequency snp.t2_user_genotype snp.pk snp.minor_allele snp.t2_user_genotype %}
                                            {% combined_risk_alleles snp.snpstudies snp.t2_user_genotype %}
                                            {% allele_flag snp snp.t2_user_genotype %}
                                            <button data-title="{{ snp.name|upper }}"
                                                data-head="{{ snp.rsid }}"
                                                data-genotype="{% sort_genotype snp.t2_user_genotype snp.minor_allele %}"
                                                data-url="{% url "get_disease_trait_modal_body" rsid=snp.rsid user_name=comparator_user_name %}"
                                                data-action="get-modal-content"
                                                class="btn btn-default btn-sm btn-rounded-sm modal-button"
                                            >
                                                <span class="fa fa-info"></span>
                                            </button>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr data-row="footer">
                    <td colspan="8">SNPs in category: <b>{{ pagination.total_count }}</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
        {% if pagination.has_previous or pagination.has_next %}
            <div class="pull-right pagination-height">
                {% if pagination.has_previous %}
                    <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                       href="{% build_request_string pagination.previous_page_number %}">Prev</a>
                {% endif %}
                <span>{{ pagination.number }} of {{ pagination.num_pages }}</span>
                {% if pagination.has_next %}
                    <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                       href="{% build_request_string pagination.next_page_number %}">Next</a>
                {% endif %}
            </div>
        {% endif %}

<div class="modal fade" id="report-ajax-modal" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-no-shadow modal-no-border">
            <div class="modal-header bg-primary no-border">
                <button type="button" class="close"
                        data-dismiss="modal" style="float:right;"
                        aria-hidden="true">×
                </button>
                <span class="genotype-text" style="float:right; margin-right:13px;"></span>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
