{% for node in nodes %}
    <li>
        <div class="panel panel-info panel-heading load-children" id="{{ node.id }}">
            <span>{% if node.get_descendant_count > 0 %}<i class="fa fa-plus"></i> {% endif %}</span>  <a href="{% url "disease" slug=node.disease.slug%}" target="_blank" onclick="event.stopPropagation()">{{ node.disease.name|capfirst }}</a>
        </div>
        <ul class="child-container">

        </ul>
    </li>
{% endfor %}