{#<div class="panel panel-no-border panel-info panel-toggle">#}
{#    <div class="panel-heading">#}
{#        <div class="pull-left"><h3 class="panel-title">{{ title }}</h3></div>#}
{#        <div class="pull-right"><i class="fa fa-plus"></i></div>#}
{#        <div class="clearfix"></div>#}
{#    </div>#}
    <h4>{{ title }}</h4>
    <div>
        <ul class="disease-go-ul">
{#            {% include 'genome/partials/table_bodies/disease_gene_ontology.html' %}#}
        </ul>
        <div class="row">
                <button
                        style="margin-top: 15px;"
                        class="disease-go-load-more btn btn-default center-block"
                        data-url="{% url "disease_go_ajax" query_set.slug %}"
                        data-type="{{ link }}"
                        data-action="old-load-more"
                        type="button">Load more
                </button>
            </div>
    </div>
