{% for node in nodes %}
    <li>
        <div class="panel panel-info panel-heading load-children" id="{{ node.id }}" data-plugin="collapsible">
            <span>{% if node.get_descendant_count > 0 or node == disease_in_hierarchy.current %}<i class="fa {% if node in disease_in_hierarchy.parents %}fa-minus{% else %}fa-plus{% endif %}"></i> {% endif %}</span>  <a href="{% url "disease" slug=node.disease.slug%}" target="_blank" onclick="event.stopPropagation()">{{ node.disease.name|capfirst }}</a>
        </div>
        <ul class="child-container">
            {% if node in disease_in_hierarchy.parents %}
                {% include 'genome/partials/diseasetrait_tree_node.html' with nodes=node.get_children %}
            {% endif %}
        </ul>
    </li>
{% endfor %}