<div class="panel panel-no-border {% if query_set.relation.genes %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
        <div class="panel-heading" data-hash="disease-gene-interactions">
            <div class="pull-left"><h3 class="panel-title">Disease Interacts with Genes</h3></div>
            <div class="pull-right"><i class="fa fa-plus"></i></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapsed">
            <table class="table table-bordered" cellspacing="0" width="100%" style="display: none;">
                <thead>
                <tr>
                    <td>Gene</td>
                    <td>Score</td>
                </tr>
                </thead>
                <tbody id="gene-interaction-table">

                </tbody>
            </table>
            <div class="row">
                <button id="more-genes"
                        style="margin-top: 15px;"
                        class="btn btn-default center-block"
                        data-url="{% url "disease_genes_ajax" query_set.slug %}"
                        data-action="old-load-more"
                        type="button">Load more
                </button>
            </div>
        </div>
    </div>