<ul class="list-unstyled">
    <li>
        <div class="panel panel-info panel-heading disease-panel load-children" id="{{ disease_in_hierarchy.root.id }}" data-plugin="collapsible">
            <span><i class="fa fa-minus"></i> </span> <a
                href="{% url "disease" slug=disease_in_hierarchy.root.disease.slug %}" target="_blank"
                onclick="event.stopPropagation()">{{ disease_in_hierarchy.root.disease.name|capfirst }}</a>
        </div>
        <ul class="child-container">
            {% include 'genome/partials/diseasetrait_tree_node.html' with nodes=disease_in_hierarchy.root.get_children %}
        </ul>
    </li>

</ul>