<div class="panel panel-no-border {% if query_set.relation.chemicals %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
        <div class="panel-heading" data-hash="chemical-disease-interactions">
            <div class="pull-left"><h3 class="panel-title">Disease Interacts with Substances</h3></div>
            <div class="pull-right"><i class="fa fa-plus"></i></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapsed">
            <table class="table table-bordered" cellspacing="0" width="100%" style="display: none;">
                <thead>
                <tr>
                    <td>Chemical</td>
                    <td>Inference Score</td>
                    <td>References/Inference Genes</td>
                </tr>
                </thead>
                <tbody id="chemical-interaction-table">

                </tbody>
            </table>
            <div class="row">
                <button id="more-chemicals"
                        style="margin-top: 15px;"
                        class="btn btn-default center-block"
                        data-url="{% url "disease_chemicals_ajax" query_set.slug %}"
                        data-action="old-load-more"
                        type="button">Load more
                </button>
            </div>
        </div>
    </div>