<div class="panel panel-no-border {% if query_set.relation.experiments_decrease %} panel-info {% else %} panel-default{% endif %} panel-toggle" id="decrease-experiment">
    <div class="panel-heading bg-snps" id="experiments_decrease">
        <div class="pull-left"><h3 class="panel-title">Conditions with Decreased Gene Activity</h3></div>
        <div class="pull-right"><i class="fa fa-plus"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <div class="pull-right">
            <label>Experimental Variables: </label>
            <select class="experiment-filter" data-attribute="decrease-experiment" data-type="decrease">
                <option value="">All</option>
                <option value="disease" selected>Disease</option>
                <option value="diet">Diet</option>
                <option value="compound">Compound</option>
                <option value="treatment">Treatment</option>
                <option value="injury">Injury</option>
                <option value="growth condition">Growth condition</option>
                <option value="clinical history">Clinical history</option>
                <option value="clinical information">Clinical information</option>
            </select>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Condition</th>
                <th style="width:10%;"><span>Change (log</span><sub
                >2</sub><span>fold)</span></th>
                <th style="width:30%;">Comparison</th>
                <th style="width:5%;">Species</th>
                <th style="width:15%;">Experimental variables</th>
                <th style="width:35%;">Experiment name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row">
            <button
                    style="margin-top: 15px;"
                    class="btn btn-default center-block more-experiments"
                    type="button"
                    data-url="{% url "gene_experiment_ajax" query_set.pk %}"
                    data-type="decrease"
            >Load more
            </button>
        </div>
    </div>
</div>