{% if query_set.genediseasetrait_set.exists %}
    <div class="panel panel-no-border panel-info panel-toggle">
        <div class="panel-heading" id="gene-disease-interactions">
            <div class="pull-left"><h3 class="panel-title">{{ query_set.name|upper }} Interacts with These Diseases</h3></div>
            <div class="pull-right"><i class="fa fa-plus"></i></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapsed">
            <table class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <td>Disease</td>
                    <td>Score</td>
{#                    <td># of PMIDs</td>#}
{#                    <td># of SNPs</td>#}
{#                    <td>Log2Folds</td>#}
{#                    <td>References/Inference chemicals</td>#}
                    {% comment %}<td>Pubmed ID</td>
                    <td>Inference Chemcial</td>{% endcomment %}
                    {#                                    <td>Organism</td>#}
                </tr>
                </thead>
                <tbody id="disease-interaction-table">

                </tbody>
            </table>
            <div class="row">
                <button id="more-diseases"
                        style="margin-top: 15px;"
                        class="btn btn-default center-block"
                        data-url="{% url "gene_disease_ajax" query_set.pk %}"
                        type="button">Load more
                </button>
            </div>
        </div>
    </div>
{% endif %}