<div class="panel panel-no-border {% if query_set.relation.chemicals_decrease %} panel-info {% else %} panel-default{% endif %} panel-toggle" id="decrease-reaction">
    <div class="panel-heading" id="all-ways-to-decrease-gene">
        <div class="pull-left"><h3 class="panel-title">Substances That Decrease {{ query_set.name|upper }}</h3></div>
        <div class="pull-right"><i class="fa fa-plus"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <div class="pull-right">
            <label>Category: </label>
            <select class="category-filter" data-attribute="decrease-reaction" data-type="decrease">
                <option value="all">All</option>
                {% for category in data_set.categories %}
                    <option value="{{ category.pk }}"> {{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clearfix"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="col-md-3"><b>Substances</b></td>
                    <td class="col-md-3"><b>Interaction</b></td>
                    <td class="col-md-2"><b>Organism</b></td>
                    <td class="col-md-4"><b>Category</b></td>
                </tr>
            </thead>
            <tbody>
{#                {% include "genome/partials/table_bodies/gene_chemical.html" with interactions=decrease_interactions display_action="Decreases" %}#}
            </tbody>
        </table>
        <div class="row">
            <button class="btn btn-default center-block load-more-btn"
                    type="button"
                    data-url="{% url "gene_ajax" query_set.pk "decrease" %}"
                    data-type="decrease"
            >Load more</button>
        </div>

    </div>
</div>
