{% for item in request_data %}
    <div class="col-sm-3">
        <div class="panel panel-success text-center">
            <div class="panel-heading">
                <h3 class="panel-title text-short" data-toggle="tooltip" title="{{ item.name|title }}">{{ item.name|title }}</h3>
            </div>
            <div class="panel-body">
                <h4>{{ item.author|default:'' }}</h4>
                <h2 class="bolded tiles-number">{{ item.genes.count }} Genes</h2><br/>
                {% if item.author|default:'' == '' %}
                    <div class="text-left" style="height: 157px; overflow-y: scroll;">
                {% else %}
                    <div class="text-left" style="height: 125px; overflow-y: scroll;">
                {% endif %}
                    <ul class="scrolling-list">
                        {% for item2 in item.genes.all %}
                            <li><a href="{% url 'gene' item2.slug %}"
                                   target="_blank"><b>{{ item2.name|upper }}</b></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="/list_gene_pack/{{ item.id }}" class="btn btn-sm btn-info">
                    View
                </a>
                <form action="{% url 'gene_packs' %}" method="post"
                      style="display:inline-block; margin-top: 5px;">
                    {% csrf_token %}
                    <input type="hidden" value="delete" name="action">
                    <input type="hidden" name="gene_pack_id" value="{{ item.id }}">

                    {% if item.owner.id == user.id %}
                        &nbsp;&nbsp;
                        <a href="{% url 'edit-gene-pack' item.id %}"
                           title="Edit gene pack">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <div class="like">
                        &nbsp;&nbsp;
                        {% if user in item.likes.all %}
                            <i class="fa fa-heart fa-lg" style="color: pink"
                               data-pack-id="{{ item.id }}" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-heart-o fa-lg" style="color: pink"
                               data-pack-id="{{ item.id }}" aria-hidden="true"></i>
                        {% endif %}
                        &nbsp;<span class="text-muted ">{{ item.likes.count }}</span>
                    </div>
                </form>

                <br/>
            </div>
        </div>
    </div>
{% endfor %}