{% load get_beta_value from genome_tags %}

{% if query_set.ci_text %}
    {% if "increase" in query_set.ci_text or "decrease" in query_set.ci_text %}
        <strong> You have a {% get_beta_value query_set %} in <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a>.</strong>
    {% else %}
        {% if query_set.risk_allele in user_rsid_record.genotype %}
            {% if query_set.odds_ratio >= 1.0 %}
                <strong>You are relatively more likely to have <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a>.</strong>
            {% else %}
                <strong>You are relatively less likely to have <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a>.</strong>
            {% endif %}
        {% else %}
            {% if query_set.odds_ratio >= 1.0 %}
                <strong>You are relatively less likely to have <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a>.</strong>
            {% else %}
                <strong>You are relatively more likely to have <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a>.</strong>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
