{% load formatting %}
{% load genome_filters %}
{% load genome_tags %}
{% load pdf_tags %}
{% load genome_simple_description %}

<div id="variance_report_all_all_569" class="clearfix">
    <div class="table-responsive">
        <table id="table_all" class="table table-th-block table-bordered variance-report">
            <thead>
            <tr>
                <td colspan="8" align="center" class="header">
                    <b>Variance Report</b>
                    <a href="{% url "get_snps_report_pdf_page" %}?report={{ report_state }}&sort_by={{ request.GET.sort_by }}&has_description={{ request.GET.has_description }}&query={{ request.GET.query }}&sbmt={{ request.GET.sbmt }}{% if entity_pk %}&entity_pk={{ entity_pk }}{% endif %}&page={{ request.GET.page|default:1 }}&search_object={{ request.GET.search_object }}{% if request.GET.importance %}&reputation={{ request.GET.reputation }}&importance={{ request.GET.importance }}&maf={{ request.GET.maf }}{% endif %}">
                    <i class="glyphicon glyphicon-download-alt"></i></a>
                </td>
            </tr>
            <tr style="font-size: 90%;">
                <th>ID&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="This is the unique number ID of a SNP."></span>
                </th>
                <th>Genotype=Frequency&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="The genotype is your alleles that you possess for a SNP. The frequency is what percentage of the global population have your genotype.  The first allele is always the minor (or less common) allele."></span>
                </th>
                <th>Importance&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Importance is a value we assign to each SNP based on it's veracity and impact. If there are many credible studies and they show substantial impact on health, this number will rise."></span>
                </th>
                {% if not noactions %}
                <th>Actions&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                             data-toggle="tooltip"
                                             data-placement="bottom"
                                             title="You can click on &quot;i&quot; for more information, the spanner for fixes, or you can bookmark the SNP to save it for later.">
                </span>
                </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% regroup query_set by genes_list as genes_groups %}
                {% for group in genes_groups %}
                    <tr data-row="gene">
                        <td colspan="8" class="gene-header">
                            {% for gene in group.grouper %}
                                <span class="modal-button" data-toggle="tooltip"
                                      title="{% simple_description_by_gene gene %}"><a href="{% abs_link "gene" gene %}" class="gene-name">{{ gene|upper }}</a></span>
                                {% if not noactions %}
                                    <button data-title="{{ snp.name|upper }}"
                                          data-head="{{ gene|upper }}"
                                          data-genotype="{% sort_genotype snp.user_genotype snp.minor_allele %}"
                                          data-url="{% url "get_substance_interaction_modal_body" gene=gene %}"
                                          data-action="get-modal-content"
                                          class="btn btn-default btn-xs btn-rounded-xs modal-button">
                                      <i class="fa fa-wrench"></i>
                                    </button>
                                {% endif %}
                                {% if user.is_staff and not noactions %}
                                    <a href="/admin_gene/{{ gene|lower }}/"> Edit</a>
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% for snp in group.list %}
                    <tr>
                        <td>
                            <a href="{% abs_link "snp" snp.rsid %}">{{ snp.rsid }}</a>
                            {% if user.is_staff and not noactions %}
                                <a href="{% url "admin:genome_snp_change" snp.pk %}">Edit</a>
                            {% endif %}
                        </td>
                        <td style="position:relative;">
                            {% genotype_with_frequency snp.user_genotype snp.pk snp.minor_allele snp.user_genotype %}
                            {% combined_risk_alleles snp.snpstudies snp.user_genotype %}
                            {% allele_flag snp %}
{#                            {{ snp.user_genotype_style }}#}
                        </td>
                        <td>{{ snp.importance }}</td>
                        {% if not noactions %}
                        <td>
                            <button data-title="{{ snp.name|upper }}"
                                    data-head="{{ snp.rsid }}"
                                    data-genotype="{% sort_genotype snp.user_genotype snp.minor_allele %}"
                                    data-url="{% url "get_disease_trait_modal_body" rsid=snp.rsid user_name=request.user.username%}"
                                    data-action="get-modal-content"
                                    class="btn btn-default btn-sm btn-rounded-sm modal-button"
                                {% if not snp.available_info %}
                                    disabled
                                {% endif %}
                            >
                                <span class="fa fa-info"></span>
                            </button>
                            {% if not bookmarked_page %}
                                <button data-add-url="{% url "add_bookmark_snp" %}"
                                        data-remove-url="{% url "bookmarked_snps" %}"
                                        data-pk="{{ snp.pk }}"
                                        {% if snp.is_bookmarked %}
                                        data-action="unbookmark-snp"
                                        {% else %}
                                        data-action="bookmark-snp"
                                        {% endif %}
                                        class="btn {% if snp.is_bookmarked %}btn-success{% else %}btn-default{% endif %} btn-sm btn-rounded-sm modal-button">
                                    <i class="fa fa-bookmark"></i>
                                </button>
                            {% else %}
                                    <button data-url="{% url "bookmarked_snps" %}"
                                            data-pk="{{ snp.pk }}"
                                            data-action="remove-bookmarked-snp"
                                            class="btn btn-default btn-sm btn-rounded-sm modal-button btn-unbookmark_snp">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr data-row="footer">
                    <td colspan="8">SNPs in category: <b>{{ query_set_count }}</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    {% if page_set.has_previous or page_set.has_next %}
        <div style="float:right;">
            {% if page_set.has_previous %}
                <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;" href="?page={{ page_set.previous_page_number }}&sort_by={{ request.GET.sort_by }}&has_description={{ request.GET.has_description }}&query={{ request.GET.query }}&sbmt={{ request.GET.sbmt }}&search_object={{ request.GET.search_object }}">Prev</a>
            {% endif %}
            {{ page_set.number }} of {{ page_set.num_pages }}
            {% if page_set.has_next %}
                <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;" href="?page={{ page_set.next_page_number }}&sort_by={{ request.GET.sort_by }}&has_description={{ request.GET.has_description }}&query={{ request.GET.query }}&sbmt={{ request.GET.sbmt }}&search_object={{ request.GET.search_object }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</div>

<div class="modal fade" id="report-ajax-modal" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-no-shadow modal-no-border">
            <div class="modal-header bg-primary no-border">
                <button type="button" class="close"
                        data-dismiss="modal" style="float:right;"
                        aria-hidden="true">×
                </button>
                <span class="genotype-text" style="float:right; margin-right:13px;"></span>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
