<div class="panel panel-no-border panel-info panel-toggle" id="top-disease-toggle">
    <div class="panel-heading">
        <div class="pull-left">
            <h3 class="panel-title">Top genes associated with disease</h3>
        </div>
        <div class="pull-right">
            <i class="fa fa-plus"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <div id="data-container"></div>
        <button class="btn btn-default center-block" id="top-disease-genes-load-more" data-value='{"disease": "{{ disease_slug }}"}'>Load more</button>
    </div>
</div>

