{% load demouser %}

{% if not user|is_demouser %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <div id="it-exchange-profile" class="it-exchange-wrap it-exchange-account">
                    <form action="{% url 'profile' %}" method="post"><input type="hidden" name="user_id"
                                                                  value="313">
                        <input
                            type="hidden" id="_profile_nonce" name="_profile_nonce"
                            value="848b70e40b"/><input
                            type="hidden" name="_wp_http_referer" value="/profile/"/>
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-sm-12">
                                <div>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="text" class="form-control" name="email"
                                               id="email"
                                               value="{{ user.email }}">
                                    </div>
                                    <div class="form-group">
                                        <label>First name</label>
                                        <input type="text" class="form-control" name="first_name"
                                               id="first_name"
                                               value="{{ user.first_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" name="last_name"
                                               id="last_name"
                                               value="{{ user.last_name }}">
                                    </div>
                                    {% if user.user_profile.stripe_customer_id %}
                                        <div class="form-group">
                                            <button id="stripe-change-card" class="btn btn-info">
                                                Update Card Details
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label>Password</label>
                                        <p>
                                            ******** | <a href="{% url 'account_change_password' %}">Change Password</a>
                                        </p>
                                    </div>

                                    <input type="hidden" name="nickname" id="nickname"
                                           value="alsol1"
                                           class="regular-text"/>
                                    <button type="submit" class="btn btn-success"
                                            id="it-exchange-save-profile"
                                            name="it-exchange-save-profile"><i
                                            class="fa fa-save"></i> Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}