{% load demouser %}

{% if not user|is_demouser %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Subscriptions</h3>
            </div>
            <div class="panel-body">
                <div id="it-exchange-purchases" class="it-exchange-wrap it-exchange-account">

                        {% if not user.user_profile.has_free_subscription %}
                            {% if user.subscriptions.exists %}
                                {% for item in user.subscriptions.all %}
                                    <div class="it-exchange-purchase">
                                        <div class="it-exchange-purchase-top it-exchange-transaction-info">
                                        <span class="it-exchange-purchase-date">{{ item.plan.name }}</span>
                                        <span class="it-exchange-purchase-date">({{ item.date_started }} - {{ item.date_expires }})</span>
                                        <ul>
                                            {% for transaction in item.transactions.all %}
                                                <li>Paid ${{ transaction.display_amount }} at {{ transaction.date_paid }}</li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for item in transactions %}
                                    <div class="it-exchange-purchase">
                                        <div class="it-exchange-purchase-top it-exchange-transaction-info">

                                            <span class="it-exchange-purchase-date">{{ item.transaction_type }} on</span>

                                            <span class="it-exchange-purchase-date">{{ item.created_at }} for</span>


                                            <span class="it-exchange-purchase-total">${{ item.price }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}


                        {% if not user.user_profile.has_subscription %}
                            <p>
                                <a href="{% url "payment:checkout" %}" class="btn btn-primary">Subscribe</a>
                            </p>
                        {% elif not user.user_profile.has_cancellation and not user.user_profile.has_free_subscription %}
                            <p>
                            <form action="{% url "payment:cancel" %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" id="unsubscribe-btn">Cancel My
                                    Subscription
                                </button>
                            </form>
                            </p>
                        {% elif user.user_profile.has_free_subscription %}
                            <p>
                                To unsubscribe please email <a href="mailto:support+unsub@selfdecode.com">support+unsub@selfdecode.com</a>
                            </p>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endif %}