
.parenthesis {
    color: #FFFFFF;
}

.table-item-2 .table-heading {
    position: relative;
}

.table-item-2 .table-heading h1.plan-price {
    margin-bottom: 0px;
}

.discount-corner-label {
    background: crimson;
    position: absolute;
    top: 40px;
    right: -45px;
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    padding: 5px;
    width: 200px;
    color: white;
    font-weight: bold;
}
