{% extends "base_list.html" %}

{% load genome_filters %}

{% block title %} <title>{{ title }} | page {{ page_obj.number }} | Genome Analysis</title> {% endblock %}

        {% block autocomplete %}
            {% include 'autocomplete.html' with filter='measurement' autocomplete_id='autocomplete' %}
        {% endblock %}

        {% block letters %}
        <div class="row">
            <h3>
                {% for letter in letters %}
                    {% url 'database:all-measurements-by-letter' letter|lower as letter_url %}
                    <a href="{{ letter_url }}">{{ letter }}</a>
                {% endfor %}
                {% url 'database:all-measurements-by-letter' '0' as numeric_url %}
                <a href="{{ numeric_url }}">[0-9]</a>
            </h3>
        </div>
        {% endblock letters %}

        {% block items %}
        <div class="row">
            {% for chunk in measurements|chunk_queryset:paginator.per_page %}
                <div class="col-md-3">
                    <ul>
                        {% for measurement in chunk %}
                            {% url 'measurement' measurement.slug as link %}
                            <li class="no-dotes truncate"><a href="{{ link }}">{{ measurement|title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endblock items %}
        
        {% block pagination %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="no-dotes">
                        {% url 'database:all-measurements' page_obj.previous_page_number as prev_page_url %}
                        <a href="{{ prev_page_url }}" area-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in page_obj|page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        {% url 'database:all-measurements' i as page_url %}
                        <a href="{{ page_url }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        {% url 'database:all-measurements' page_obj.next_page_number as next_page_url %}
                        <a href="{{ next_page_url }}" area-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                </ul>
            </nav>
        </div>
        {% endblock pagination %}


