{% extends "base_list.html" %}

{% load genome_filters %}

{% block title %} <title>{{ title }} | page {{ page_obj.number }} | Genome Analysis</title> {% endblock %}

{% block autocomplete %}
    {% include 'autocomplete.html' with filter='molecular' autocomplete_id='autocomplete' %}
{% endblock %}

{% block items %}
<div class="row" style="margin-top: 25px;">
    {% for chunk in molecular_function|chunk_queryset:paginator.per_page %}
        <div class="col-md-3">
            <ul>
                {% for item in chunk %}
                    {% url 'molecular-function' item.go_id as link %}
                    <li class="no-dotes truncate"><a href="{{ link }}">{{ item.go_name|title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock items %}

{% block pagination %}
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="no-dotes">
                {% url "database:all-molecular-function" page_obj.previous_page_number as prev_page_url %}
                <a href="{{ prev_page_url }}" area-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in page_obj|page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}>
                {% url "database:all-molecular-function" i as page_url %}
                <a href="{{ page_url }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li>
                {% url "database:all-molecular-function" page_obj.next_page_number as next_page_url %}
                <a href="{{ next_page_url }}" area-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

        </ul>
    </nav>
</div>
{% endblock pagination %}
