{% extends "base_list.html" %}

{% load genome_filters %}

{% block title %} <title>{{ title }} | {{ request.resolver_match.kwargs.letter|upper }} |  page {{ page_obj.number }} | Genome Analysis</title> {% endblock %}

        {% block autocomplete %}
            {% include 'autocomplete.html' with filter='trait' autocomplete_id='autocomplete' %}
        {% endblock %}

        {% block letters %}
        <div class="row">
            <h3>
                {% for letter in letters %}
                    {% url 'database:all-traits-by-letter' letter|lower as letter_url %}
                    <a href="{{ letter_url }}" {% if letter|lower == request.resolver_match.kwargs.letter %} style="text-decoration: underline;" {% endif %}>{{ letter }}</a>
                {% endfor %}
                {% url 'database:all-traits-by-letter' '0' as numeric_url %}
                <a href="{{ numeric_url }}" {% if request.resolver_match.kwargs.letter.isdigit %} style="text-decoration: underline;" {% endif %}>[0-9]</a>
            </h3>
        </div>
        {% endblock letters %}
        
        {% block items %}
        <div class="row">
            {% for chunk in traits|chunk_queryset:paginator.per_page %}
                <div class="col-md-3">
                    <ul>
                        {% for trait in chunk %}
                            {% url 'trait' trait.slug as link %}
                            <li  class="no-dotes truncate">
                                <a class="truncate"class="truncate" href="{{ link }}">{{ trait|title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% endblock items %}

        {% block pagination %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li>
                        {% url 'database:all-traits-by-letter-with-page' request.resolver_match.kwargs.letter page_obj.previous_page_number as prev_page_url %}
                        <a href="{{ prev_page_url }}" area-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in page_obj|page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        {% url 'database:all-traits-by-letter-with-page' request.resolver_match.kwargs.letter i as page_url %}
                        <a href="{{ page_url }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        {% url 'database:all-traits-by-letter-with-page' request.resolver_match.kwargs.letter page_obj.next_page_number as next_page_url %}
                        <a href="{{ next_page_url }}" area-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                </ul>
            </nav>
        </div>
        {% endblock pagination %}


