{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css" />
    <style>
        .panel-toggle {
            cursor: pointer;
        }

        .panel-toggle .collapsed {
            display: none;
        }

        .panel-toggle select {
            color: initial;
        }
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
            cursor: pointer;
            fill: #e7573e;

        }

        .node[bookmarked="true"]{
            fill: green;
        }

        .link {
          stroke: #999;
          stroke-width: 3px;
          stroke-opacity: 1;
        }

        .label {
            fill: white;
            font-family: Verdana;
            font-size: 12px;
            text-anchor: middle;
            cursor: pointer;
        }
        .gene-table{
            width: 50%
        }
        td ,th {
            padding: 5px;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="{% url "home_page" %}" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url "profile" %}" title="User">User</a>
        </li>
        <li class="active">My Bookmarked SNPs</li>
    </ol>
{% endblock %}

{% block page_title %}
    My Bookmarked SNPs
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                    {% if bookmarked_recomendations %}
                        <div class="panel panel-no-border panel-info panel-toggle">
                            <div class="panel-heading bg-snps">
                                <div class="pull-left"><h3 class="panel-title">Beneficial Substances for Bookmarked SNPs</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <table class="gene-table">
                                    {% for chemical in bookmarked_recomendations %}
                                        <tr>
                                            <td><a href="{% url "chemical:chemical" chemical.slug %}">{{ chemical.display_name|title }} ({{ chemical.cnt }})</a></td>
                                            <td><button 
                                                type="button"
                                                data-title= "Page of chemical {{ chemical.display_name|title }}"
                                                data-url="{% url 'recommendation:api' chemical.id %}"
                                                data-tab="bookmarked" 
                                                class="btn btn-xs btn-primary chem-btn">See substance gene interactions
                                            </button></td>
                                        </tr>
                                        
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% include "genome/partials/part_report.html" with report_state="bookmarked_snps" %}
                </div>
            </div>
        </div>
    </div>

    {% include 'genome/partials/modal_bodies/modal_body.html' %}


{% endblock %}

{% block scripts %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js" integrity="sha256-z0A2CQF8xxCKuOJsn4sJ5HBjxiHHRAfTX8hDF4RSN5s=" crossorigin="anonymous"></script>
    <script src="{% static 'genome/cola.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'genome/reports.js' %}"></script>
    <script src="{% static 'genome/recomendations.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

{% endblock %}





