{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static 'genome/css/tipsy.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">Gene Pack</li>
    </ol>
{% endblock %}

{% block page_title %}
    Gene Pack: {{ name|title }}
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">

                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                    {% if chem_recommendations %}
                        <div class="panel panel-no-border panel-info panel-toggle">
                            <div class="panel-heading bg-snps">
                                <div class="pull-left">
                                    <h3 class="panel-title">
                                        Beneficial Substance Recommendations For Problematic Genes in this Gene Pack
                                    </h3>
                                </div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <table>
                                    {% for chemical in chem_recommendations %}
                                        <tr>
                                            <td>
                                                <a href="{% url "chemical:chemical" chemical.slug %}">
                                                    {{ chemical.display_as|default:chemical.name|title }} ({{ chemical.cnt }})
                                                </a>
                                            </td>
                                            <td><button
                                                type="button"
                                                data-title= "Page of chemical {{ chemical.display_as|default:chemical.name|title }}"
                                                data-url="{% url 'recommendation:api' chemical.id %}"
                                                class="btn btn-xs btn-primary chem-btn">See substance gene interactions
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if targeted_recommendations %}
                        <div class="panel panel-no-border panel-info panel-toggle">
                            <div class="panel-heading bg-snps">
                                <div class="pull-left">
                                    <h3 class="panel-title">
                                        Targeted Beneficial Substance Recommendations For Problematic Genes in this Gene Pack
                                    </h3>
                                </div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <table>
                                    {% for chemical in targeted_recommendations %}
                                        <tr>
                                            <td>
                                                <a href="{% url "chemical:chemical" chemical.slug %}">
                                                    {{ chemical.display_as|default:chemical.name|title }} ({{ chemical.cnt }})
                                                </a>
                                            </td>
                                            <td><button
                                                type="button"
                                                data-title= "Page of chemical {{ chemical.display_as|default:chemical.name|title }}"
                                                data-url="{% url 'recommendation:api' chemical.id %}"
                                                class="btn btn-xs btn-primary chem-btn">See substance gene interactions
                                            </button></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <h1></h1>
                    {% endif %}
                    {% include "genome/partials/part_report.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-modal">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content modal-no-shadow modal-no-border">
                <div class="modal-header bg-primary no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                <div id="loader"></div>

                <div class="chem-graph" ></div>

                </div>
                <p class="legend">Selected genes are highlighted in <span style="color: orange;">orange</span>, bookmarked genes are <span style="color: green;">green</span></p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i> - Chemical increases gene,
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i> - Chemical decreases gene,
                    <i class="fa fa-arrows-v" aria-hidden="true"></i> - Chemical increases and decreases gene simultaneosly,
                    <strong>No arrows</strong> - gene doesn't interact with the chemical.
                </p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" style="color: #3eafdb;" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: #3eafdb;" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time and the chemical does it.
                    <i class="fa fa-long-arrow-up" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time but the chemical does the opposite.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div><!-- /.modal-footer -->
            </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script src="{% static "genome/reports.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js" integrity="sha256-z0A2CQF8xxCKuOJsn4sJ5HBjxiHHRAfTX8hDF4RSN5s=" crossorigin="anonymous"></script>
    <script src="{% static 'genome/cola.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'genome/recomendations.js' %}"></script>
{% endblock %}
