{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="{% url "home_page" %}" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url "profile" %}" title="User">User</a>
        </li>
        <li class="active">My Important SNPs</li>
    </ol>
{% endblock %}

{% block page_title %}
    My Important SNPs
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                    {% include "genome/partials/part_report.html" with report_state="my_important_snps" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{% static "genome/reports.js" %}"></script>

{% endblock %}





