{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "genome/autocomplete.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="{% url "home_page" %}" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url "profile" %}" title="User">User</a>
        </li>
        <li class="active">Potentially Bad SNPs</li>
    </ol>
{% endblock %}

{% block page_title %}
    Potentially Bad SNPs
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Apply Filters
                                for My Bad SNPs</h3>
                        </div>
                        <form class="panel-body" method="get"><!-- {% csrf_token %} -->
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Search by Disease:</label>
                                    <input placeholder="None"
                                           class="form-control" type="text" name="disease"
                                           id="snps_to_look_at_search" value="{{ request.GET.disease }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <button class="btn btn-primary" id="apply_snp_filters">Filter Results
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="panel-footer"></div>
                    </div>
                </div>
                <div class="col-sm-10">
                    {% include "genome/partials/part_report.html" with report_state="snps_to_look_at" %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-modal">
        <div class="modal-dialog">
            <div class="modal-content modal-no-shadow modal-no-border">
                <div class="modal-header bg-primary no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static "genome/reports.js" %}"></script>
    <script src="{% static "genome/jquery.autocomplete.min.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('#snps_to_look_at_search').autocomplete({
                serviceUrl: "{% url "ajax-autocomplete-diseases" %}",
                minChars: 3
            });
        });

        $('.showModal').click(function () {

            $('#my-modal').find(".modal-body").empty();

            $(".modal-header").html(jQuery(this).attr('data-title'))

            $.ajax($(this).attr('data-url')).done(function (data) {
                $('#my-modal').find(".modal-body").html(data);
            });

            $('#my-modal').modal('show');
        });


    </script>

{% endblock %}



