{% extends "base.html" %}

{% load remove_dunder %}
{% load keyword_link %}
{% load formatting %}
{% load genome_filters %}
{% load staticfiles %}
{% load genome_simple_description %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="#" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3514">
            <a class="bread-parent bread-parent-3514" href="/variance_report/?report=variance_report" title="Reports">Reports</a>
        </li>
        <li class="active">SNP Explorer</li>
    </ol>
{% endblock %}

{% block page_title %}
    SNP Explorer
{% endblock %}

{% block content %}

    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <article id="post-3315" class="post-3315 page type-page status-publish hentry tag-report">

                    <div class="entry-content">

                        <div class="row" style="padding-top:20px">

                            {% include "genome/_profile_sidebar.html" %}
                            <div class="col-sm-5">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Apply Filters
                                            for {{ user.user_profile.active_file.file_name|remove_dunder|truncatechars:25 }}</h3>
                                    </div>
                                    <form class="panel-body" method="get">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div class="drop_menu_container" data-filter="filter" data-type="extra" style="display:inline"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <div class="drop_menu_container" data-filter="sort_by" data-type="extra" style="display:inline">
                                                    <label for="jump_menu_reputation">Sort by:</label>
                                                    <select name="sort_by"
                                                            class="genomics_jump_menu form-control"
                                                            id="jump_menu_reputation"
                                                            tabindex="2">
                                                        <option {% if request.GET.sort_by == "important_snps" %}selected="selected"{% endif %} value="important_snps">Most important SNPs</option>
                                                        <option {% if request.GET.sort_by == "red_flagged" %}selected="selected"{% endif %} value="red_flagged">Red flagged SNPs</option>
                                                        <option {% if request.GET.sort_by == "most_rare" %}selected="selected"{% endif %} value="most_rare">Most Rare SNPs that are Bad</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="row">
                                                <label>Search term:</label>
                                                <div class="input-group">
                                                    <div class="input-group-btn" style="width: 25%">
                                                        <select name="search_object" class="form-control">
                                                            <option {% if request.GET.search_object == "gene" %}selected="selected"{% endif %} value="gene">Gene</option>
                                                            <option {% if request.GET.search_object == "chemical" %}selected="selected"{% endif %} value="chemical">Chemical</option>
                                                            <option {% if request.GET.search_object == "disease" %}selected="selected"{% endif %} value="disease">Ailment</option>
                                                        </select>
                                                    </div>

                                                    <input placeholder="Search for ..."
                                                           class="form-control autocomplete-inpt"
                                                           style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                                                           type="text"
                                                           name="query"
                                                           id="variance_report_search"
                                                           value="{{ request.GET.query }}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12 checkbox">
                                                <label>
                                                    <input
                                                        type="checkbox"
                                                        name="has_description"
                                                        {% if request.GET.has_description == 'on' and request.GET.sbmt == 'true' %}
                                                            checked
                                                        {% endif %}
                                                    >
                                                    Search for SNPs with curated content only
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <button name="sbmt" value="true" class="btn btn-primary" id="apply_snp_filters">Filter Results
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h3>How to use:</h3>
                                <p>The variable report has filter dropdowns which allow you to filter by different
                                    criteria.</p>
                                <p>To see only bad SNPs, go to the dropdown box that say “All Reputations” and select
                                    the “Bad”. If you are only interested in the relatively important SNPs, click the
                                    “All Importance” dropdown and select the 3 or higher. The higher the number the more
                                    important the SNP. The MAF (minor allele frequency) filter allows you filter SNPs
                                    based on how rare the minor allele is, the lower the MAF, the rarer the SNP.</p>
                                <p>Hitting the Get SNPs button with no filters applied will retrieve all the SNPs in the
                                    database.
                            </div>
                            <div class="col-sm-10">
                                {% include "genome/partials/part_report.html" with report_state="variance_report" %}
                            </div>
                        </div>

                        <div class="row" style="padding-top:20px">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-th-block table-bordered">
                                        <tbody>
                                        <tr>
                                            <th colspan="2" class="info">Legend</th>
                                        </tr>
                                        <tr>
                                            <td class="success" style="font-weight:bold; text-align:center">-/-</td>
                                            <td>By default, green means that there are no minor alleles. Sometimes, if a
                                                minor allele is protective, we will manually change a SNP to appear
                                                green if it has a minor allele.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="warning" style="font-weight:bold; text-align:center">+/-</td>
                                            <td>By default, orange means that there is one minor allele. Sometimes, two
                                                major alleles (common alleles) are orange if the major allele is the
                                                risk allele.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="danger" style="font-weight:bold; text-align:center">+/+</td>
                                            <td>Red means that you need to pay attention to this SNP. By default, Red
                                                means that there are two minor (less common) alleles. Sometimes, we
                                                manually change a color to Red if there is only one minor allele and one
                                                minor allele is associated with negative health outcomes.
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </article>


            </main>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static "genome/reports.js" %}"></script>
    <script>
        $(document).ready(function(){
            var result;
            $('.autocomplete-inpt').autocomplete({
                source: function(request, response){
                    var obj = $('select[name="search_object"]').val();
                    $.ajax({
                        url: '/report-autocomplete/',
                        data: {
                            query: request.term,
                            search_object: obj
                        },
                        dataType: 'json',
                        success: function(data){
                            result = data;
                            response(data.suggestions);
                        },
                        error: function(data){
                            console.log(data);
                        },
                        beforeSend: function (xhr) {
                            if (!obj){
                                xhr.abort();
                            }
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}
