{% extends "base.html" %}
{% load genome_filters %}

{% block breadcrumbs %}
    {% url "database:main" as database_link %}
    {% url 'home_page' as home_page_link %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="{{ home_page_link }}" title="Home">Home</a></li>
        <li class="item-home"><a class="bread-link" href="{{ database_link }}" title="Database">Database</a></li>
        <li class="active">{{ title }}</li>
    </ol>
{% endblock breadcrumbs %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                {% block letters %}
                {% endblock %}
            </div>

        {% block autocomplete %}
            <div class="col-sm-4" style="margin-top: 20px;">
                <form action="{% url "search:main" %}" method="get">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                            <input type="text" name="query" class="form-control" id="autocomplete">
                            {% if filter %}
                                <input type="hidden" name="filter" value="{{ filter }}">
                            {% endif %}
                    </div>
                </form>
            </div>
        {% endblock %}
            
        </div>

        {% block items %}
        {% endblock %}

        {% block pagination %}
        {% endblock %}

    </div><!-- .container -->
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function(){
        var result;
        $('#autocomplete').autocomplete({
            source: function(request, response){
                $.ajax({
                    data: { query: request.term },
                    dataType: 'json',
                    success: function(data){
                        result = data;
                        response(data.suggestions);
                    },
                    error: function(){
                    }
                });
            },
            select: function(event, ui){
                if (result.type == 'gene' || result.type == 'snp'){
                    var url = window.location.origin + '/' + result.type + '/' + ui.item.value;
                }
                else {
                    var indexOfSlug = result.suggestions.indexOf(ui.item.value);
                    var url = window.location.origin + '/' + result.type + '/' + result.slug[indexOfSlug];
                }
                window.open(url, '_blank');
            }
        });

    });
</script>
{% endblock scripts %}
