{% load staticfiles %}

<!doctype html>
<html>
<head>
<meta name="google-site-verification" content="MRZhWGBfhGhvXccX9lnSrc8oVAt2iszxMHnSZ-qnfgg" />
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/decodify/assets/favicon-decodify.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="fb:app_id"             content="{{ fb_app_id }}" />
    <meta property="og:url"                content="{{ abs_url }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:site_name"          content="SelfDecode.com" />
    <meta property="og:title"              content="SelfDecode | Genome Analysis" />
    <meta property="og:description"        content="I just uploaded my Genome to be analyzed by SelfDecode.com!" />
    <meta property="og:image"              content="{{ fb_share_image }}" />


{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}
{#    <link rel='stylesheet' id='fonts-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.5.2' type='text/css' media='all' />#}
    <link rel="stylesheet" href="{% static "css/bootstrap-3.3.6.min.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "genome/styles.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "genome/responsive.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />


    {#  Fix wysiwyg broken styles  #}
    <style>
        .tab-content span,
        .container span[style] {
            font-family: inherit !important;
            font-size: inherit !important;
            color: inherit !important;
        }
        .tooltip-icon {
            font-size: 18px;
            line-height: 18px;
            vertical-align: middle;
        }
    </style>

</head>
<body class="home page page-id-3494 page-template-default tooltips static-nav">
  <div class="top-navbar fancy-color">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="https://s3-us-west-1.amazonaws.com/decodify/assets/decodify_logo4.png" alt="Logo"></a>
      </div>
    </div>
  </div>

    	<!-- BEGIN HEADER FULL IMAGE SLIDE -->
		<div class="full-slide-image" id="full-img-slide" style="
		background:url(//decodify.s3.amazonaws.com/assets/selfedcode+background.png);
		background-size:cover;
		background-repeat:no-repeat;">
			<div class="slide-inner">
				<div class="slide-text-content">
					<div class="container-fluid">
						<div id="content-header-slide" class="owl-carousel">
							<div class="item">
								<h1>Whoops</h1>
								<div class="clear"></div>
								<h3 class="front-page-info">
                                    Page not found
                                </h3>
								<div class="clear"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- BEGIN FOOTER -->
    <footer class="light-color">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h4>ABOUT SELFDECODE</h4>
            <p>
            SelfDecode is a personalized health report service, which enables users to obtain detailed information and reports based on their genome.  SelfDecode does not treat, diagnose or cure any conditions, but is for informational and educational purposes alone.
            </p>
            <!-- <p>
              <a href="#fakelink"><i data-toggle="tooltip" title="Facebook" class="fa fa-facebook icon-sm icon-rounded icon-social-footer icon-facebook"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Twitter" class="fa fa-twitter icon-sm icon-rounded icon-social-footer icon-twitter"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Google plus" class="fa fa-google-plus icon-sm icon-rounded icon-social-footer icon-google-plus"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Dribbble" class="fa fa-dribbble icon-sm icon-rounded icon-social-footer icon-dribbble"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Pinterest" class="fa fa-pinterest icon-sm icon-rounded icon-social-footer icon-pinterest"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Github" class="fa fa-github icon-sm icon-rounded icon-social-footer icon-github"></i></a>
            </p> -->
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-6 col-md-3">
            <h4>CONTACT</h4>
<!--            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-map-marker media-object"></i>
              </span>
              <div class="media-body">
              <address>
                decodify.me<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>
              </div>
            </div> -->

            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-envelope media-object"></i>
              </span>
              <div class="media-body">
              <address>
                Support<br>
                <a href="mailto:#">support@selfdecode.com</a>
              </address>
                {% if user.is_authenticated %}
<!--               <a href="" data-toggle="modal">Submit Feedback</a><br />
              <a href="" data-toggle="modal">Submit Bug Report</a><br />
 -->              {% endif %}
              </div><!-- /.media-body -->
            </div><!-- /.media -->
          </div><!-- /.col-sm-3 -->
          <div class="clearfix visible-sm"></div>
          <div class="col-sm-6 col-md-2">
            <h4>NAVIGATION</h4>
            <ul class="list">
              <li><a href="/post/FAQs">FAQs</a></li>
              <li><a href="/variance_report">Reports</a></li>
              <li><a href="/page/how-it-works">How it works</a></li>
              <li><a href="/page/pricing">Pricing</a></li>
            </ul>
          </div><!-- /.col-sm-2 -->
          <div class="col-sm-6 col-md-3">
            <h4>SIGN UP NEWSLETTER</h4>
            <p>
            Sign up to our newletter to receive updates on new reports and features.
            </p>
            <form role="form" method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" _lpchecked="1">
            <input type="hidden" name="meta_web_form_id" value="1028486538">
            <input type="hidden" name="meta_split_id" value="">
            <input type="hidden" name="listname" value="awlist4140206">
            <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_9c16264c7652c785cab6185d947b126c">

            <input type="hidden" name="meta_adtracking" value="Decodify_Me_Updates">
            <input type="hidden" name="meta_message" value="1">
            <input type="hidden" name="meta_required" value="email">

            <input type="hidden" name="meta_tooltip" value="">

            <div class="input-group subscribe">
              <input type="text" class="form-control text" placeholder="Enter email address" id="awf_field-79259774" name="email" value="" tabindex="500" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';}">
              <span class="input-group-btn">
                <button class="btn btn-info" name="submit" type="submit" id="af-submit-image-1028486538"><i class="fa fa-chevron-right"></i></button>
              </span>
            </div><!-- /input-group -->
        </form>
          </div><!-- /.col-sm-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </footer><!-- /.section -->

    <div class="footer light-color">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            Copyright &copy; 2016 <a href="#">SelfDecode</a>
          </div><!-- /.col-sm-5 -->
          <div class="col-sm-7 text-right">
            <ul class="list-inline">
              <li><a href="#">Terms and condition</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="/post/FAQs">FAQ</a></li>
            </ul>
          </div><!-- /.col-sm-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.footer -->
    <!-- END FOOTER -->




{#<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>#}
<script src="{% static "js/jquery-1.12.3.min.js" %}"></script>

{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}
<script src="{% static "js/bootstrap-3.3.6.min.js" %}"></script>

</body>
</html>