{% load genome_filters %}
{% load badges_inclusion %}

{% for interaction in interactions %}
    <tr>
        <td class="gene-td">
            <a href="{% url 'gene' gene=interaction.gene__slug %}"
               target="_blank">{{ interaction.gene__name|upper }}</a>
            {% show_badges interaction.gene__id bad_genes contains_risk_allele %}
        </td>
        <td>
            {% for pathway in interaction.pathways %}
                <a href="{% url "gene_pathway_details" interaction.gene__name pathway.f2 %}" target="_blank">{{ pathway.f1 }}</a>
                {% if not forloop.last %},&nbsp;
                {% else %}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}