{% load genome_simple_description %}
{% load genome_tags %}
{% load genome_filters %}
{% load badges_inclusion %}

{% for interaction in genes %}
    <tr>
        <td>
            {% simple_description_by_gene interaction as gene_name %}
            <a href="{% url 'gene' gene=interaction.gene__slug %}"
               target="_blank"
               {% if gene_name %}
                   class="hashtip"
               {% endif %}
               title="{{ gene_name }}"
               data-gene_id="{{ interaction.gene__id }}">
            {{ interaction.gene__name|upper }}
            </a>
            {% show_badges interaction.gene__id bad_genes contains_risk_allele %}
        </td>
        <td>{{ interaction.sort_field|default:interaction.max_inference_score|floatformat:2 }}</td>
    </tr>
{% endfor %}