{% load genome_tags %}

{% for interaction in disease_interactions %}
    <tr>
        <td>
            <a href="{% url 'diseasetrait' slug=interaction.slug %}" title=""
               target="_blank">{{ interaction.name|capfirst }}</a>
        </td>
        <td>{{ interaction.sort_field|default:interaction.max_inference_score|floatformat:2 }}</td>
{#        <td>{{ interaction.max_nofpmids|default:"" }}</td>#}
{#        <td>{{ interaction.max_nofsnps|default:"" }}</td>#}
{#        <td>{{ interaction.l2f_min }}  -  {{ interaction.l2f_max }}</td>#}
{#        <td>#}
{#        <button onclick="$('#reference-modal-{{ interaction.diseasetrait__slug }}').modal('show');"#}
{#                                        class="btn btn-default btn-sm btn-rounded-sm modal-button">#}
{#                                    <span class="fa fa-info"></span></button>#}
{#            <div class="modal fade" id="reference-modal-{{ interaction.diseasetrait__slug }}">#}
{#                <div class="modal-dialog modal-lg">#}
{#                    <div class="modal-content modal-no-shadow modal-no-border">#}
{#                        <div class="modal-header bg-primary no-border">#}
{#                            <button type="button" class="close"#}
{#                                    data-dismiss="modal" style="float:right;"#}
{#                                    aria-hidden="true">×#}
{#                            </button>#}
{#                            <span class="genotype-text"#}
{#                                  style="float:right; margin-right:13px;">References/Inference chemicals</span>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div>#}
{#                                <ul class="nav nav-tabs" role="tablist">#}
{#                                    <li role="presentation" class="active">#}
{#                                        <a href="#reference-{{ interaction.diseasetrait__slug }}"#}
{#                                           aria-controls="home" role="tab"#}
{#                                           data-toggle="tab"#}
{#                                           aria-expanded="true">References</a>#}
{#                                    </li>#}
{#                                    <li role="presentation">#}
{#                                        <a href="#inf-chemicals-{{ interaction.diseasetrait__slug }}"#}
{#                                           aria-controls="profile" role="tab"#}
{#                                           data-toggle="tab"#}
{#                                           aria-expanded="false">Inference chemicals</a>#}
{#                                    </li>#}
{#                                </ul>#}
{##}
{#                                <div class="tab-content">#}
{#                                    <div role="tabpanel" class="tab-pane active" id="reference-{{ interaction.diseasetrait__slug }}"><br>#}
{#                                       <ul>#}
{#                                           {% for pid in interaction.pubmed_ids %}#}
{#                                               <li>#}
{#                                                   <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pid }}"#}
{#                                                      target="_blank">{{ pid }}</a>#}
{#                                               </li>#}
{#                                           {% endfor %}#}
{#                                       </ul>#}
{#                                    </div>#}
{#                                    <div role="tabpanel" class="tab-pane" id="inf-chemicals-{{ interaction.diseasetrait__slug }}"><br>#}
{#                                        <ul>#}
{#                                            {% for chemical in interaction.chemicals %}#}
{#                                                <li>#}
{#                                                    <a href="{% url 'chemical:chemical' chemical=chemical.f1 %}"#}
{#                                                       target="_blank">{{ chemical.f2 }}</a>#}
{#                                                </li>#}
{#                                            {% endfor %}#}
{#                                       </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-default"#}
{#                                    data-dismiss="modal">Close#}
{#                            </button>#}
{#                        </div><!-- /.modal-footer -->#}
{#                    </div>#}
{#                    <!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->#}
{#                </div>#}
{#            </div>#}
{##}
{#        </td>#}
       {% comment %} <td>{% for pid in interaction.pubmed_ids %}
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pid }}" target="_blank">{{ pid }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        <td>
            {% for chemical in interaction.chemicals %}
                <a href="{% url 'chemical:chemical' chemical=chemical.f1 %}"
                   target="_blank">{{ chemical.f2 }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>{% endcomment %}
    </tr>
{% endfor %}