{% load chemical_tooltip %}

{% for interaction in interactions %}

    <tr {% comment %}data-attribute="
                        {% for cat in interaction.chemical.categories.all %}{{ cat.get_root }} {% endfor %}"{% endcomment %}>
        <td>
            <b>
                {% chemical_tooltip interaction.chemical.pk as title %}
                <a href="/chemical/{{ interaction.chemical.slug }}" data-placement="top"
                        title="{{ title }}"
                        {% if title != '' %}
                            class="substances-hashtip"
                        {% endif %}>
                        {{ interaction.chemical.display_name | capfirst }}
                </a>
                {% if interaction.exists_opposite == 2 %}
                    <span data-toggle="tooltip" title="This substance seems to both increase and decrease the gene.">
                        <span class="fa fa-arrows-v"></span>
                    </span>
                {% endif %}
            </b>
        </td>
        <td>
            {% for action in interaction.actions_merged %}
                {{ display_action }} {{ action }}
                <span class="fa fa-info-circle tooltip-icon"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{ interaction }}">
                </span>
                {% if not forloop.last %},
                {% endif %}
            {% endfor %}
        </td>
        <td class="organism-td">
            {% for action in interaction.actions_merged %}
                {#                <td class="organism-td" >#}
                <span> <i
                        class="{% if interaction.organism.ebi_icon_class %} icon {{ interaction.organism.ebi_icon_class }} {% else %} fa fa-question {% endif %}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title=""
                        data-original-title="
                          {% if interaction.organism %}
                              {% if interaction.organism.english_name %}
                                  {{ interaction.organism.english_name }}
                              {% else %}
                                  {{ interaction.organism.latin_name }}
                              {% endif %}
                          {% elif interaction.organism_name %}
                              {{ interaction.organism_name }}
                          {% endif %}"></i>
                    </span>
                {#                </td>#}
                {% comment %}
                    {% if interaction.organism.english_name %}
                        {{ interaction.organism.english_name | capfirst }}
                    {% else %}
                        {{ interaction.organism.latin_name | capfirst }}
                    {% endif %}
                {% endcomment %}
                {% for pid in interaction.pub_med_ids_as_list %}
                    {% if forloop.counter0 == 0 %}({% endif %}<!--
                    --><a href="{{ pid }}">R</a><!--
                    {% if not forloop.last %},
                    {% else %}
                        -->)
                {% endif %}
                {% empty %}
                {% endfor %}
                {% if not forloop.last %},
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <span>
                {{ interaction.chemical.categories.all|join:', '|default:"Uncategorized chemicals" }}
            </span>
        </td>


    </tr>
{% endfor %}