{% for interaction in interactions %}
    <tr>
        <td>
            <a href="{% url 'disease' slug=interaction.disease.slug %}"
               target="_blank">{{ interaction.disease.name|title }}</a>
        </td>
        <td>{{ interaction.inference_gene }}</td>
    </tr>
{% endfor %}