<div class="panel panel-no-border {% if query_set.relation.pathways %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
    <div class="panel-heading" data-hash="related-pathways">
        <div class="pull-left"><h3 class="panel-title">Related Pathways</h3></div>
        <div class="pull-right"><i class="fa fa-plus"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <div data-container="list"></div>
        <div class="row">
            <button style="margin-top: 15px;"
                    data-action="load-more"
                    data-tmpl="#chemical-related-pathways-tmpl"
                    data-url="{% url 'api:chemical-related-pathways' query_set.pk %}"
                    class="btn btn-default center-block">
                Load more
            </button>
        </div>
    </div>
</div>

{% verbatim %}
<script type="text/x-jquery-tmpl" id="chemical-related-pathways-tmpl">
    {{if response.count == 0}}
    <p>${app.config.AJAX_NOINFO_MESSAGE}</p>
    {{else}}
    <ul>
        {{each(i, item) items}}
        <li><a href="${item.details_page_url}">${item.pathway_name}</a></li></li>
        {{/each}}
    </ul>
    {{/if}}
</script>
{% endverbatim %}
