<div class="panel panel-no-border {% if query_set.relation.diseases %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
    <div class="panel-heading" data-hash="chemical-disease-interactions">
        <div class="pull-left"><h3 class="panel-title">{{ query_set.display_name.strip|title }} Interacts with Diseases</h3></div>
        <div class="pull-right"><i class="fa fa-plus"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <table class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <td>Disease</td>
                <td>Inference Score</td>
                <td>References/Inference Genes</td>
{#                <td>Inference Gene</td>#}
                {#                                    <td>Organism</td>#}
            </tr>
            </thead>
            <tbody id="disease-interaction-table">
            {% include "chemical/partials/table_bodies/chemical_disease.html" %}
            </tbody>
        </table>
        <div class="row">
            <button class="btn btn-default center-block" id="disease-interaction-load-more"
                    type="button"
            data-url="{% url 'chemical:chemical-disease-ajax' chemical=query_set.slug %}">Load more
            </button>
        </div>
    </div>
</div>