<div class="panel panel-no-border {% if query_set.relation.genes %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
    <div class="panel-heading" data-hash="chemical-interacts-with-genes">
        <div class="pull-left"><h3 class="panel-title">{{ query_set.display_name.strip|title }} Interacts with Genes</h3></div>
        <div class="pull-right"><i class="fa fa-plus"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body collapsed">
        <div data-container="list"></div>
        <div class="row">
            <button class="btn btn-default center-block"
                    data-action="load-more"
                    data-tmpl="#chemical-genes-interactions-tmpl"
                    data-url="{% url 'api:chemical-genes-interactions' query_set.pk %}">
                Load more
            </button>
        </div>
    </div>
</div>

{% verbatim %}
<script type="text/x-jquery-tmpl" id="chemical-genes-interactions-tmpl">
    {{if response.count == 0}}
    <p>${app.config.AJAX_NOINFO_MESSAGE}</p>
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Gene</th>
                <th>Interaction</th>
                <th>Organism</th>
            </tr>
        </thead>
        <tbody>

        {{each(i, item) items}}
        <tr>
            <td>
                <a href="${item.gene.details_page_url}"
                    {{if (item.gene.description_simple || item.gene.function)}}
                    data-tooltip="tooltipsy"
                    data-placement="top"
                        {{if item.gene.description_simple}}
                            title="${item.gene.description_simple}"
                        {{else}}
                            title="${item.gene.function}"
                        {{/if}}
                    {{/if}}
                >
                    ${item.gene.name}
                </a>
                {{if item.gene.bad_gene}}
                    <i class="fa fa-exclamation-triangle text-warning hashtip" title="Potentially bad gene"></i>
                {{/if}}
                {{if item.gene.contains_risk_allele}}
                    <i class="fa fa-exclamation-circle text-danger hashtip" title="Contains Risk Alleles"></i>
                {{/if}}
            </td>
            <td>
                {{each(j, iteraction) item.actions}}
                <span>${iteraction.action.toTitle()} ${iteraction.interaction_type.name}</span>
                {{if j != item.actions.length - 1}}, {{/if}}
                {{/each}}
            </td>
            <td>
                ${item.organism.name}
                ({{each(j, url) item.pubmed_urls}}<a href="${url}">R</a>{{if j != item.pubmed_urls.length - 1}}, {{/if}}{{/each}})
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
    {{/if}}
</script>
{% endverbatim %}
