{% load chemical_filters %}

{% for interaction in top_interactions %}
    <div class="modal fade" id="interactions-modal-{{ interaction.gene__slug }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-no-shadow modal-no-border">
                <div class="modal-header bg-primary no-border">
                    <button type="button" class="close"
                            data-dismiss="modal" style="float:right;"
                            aria-hidden="true">×
                    </button>
                    <span class="genotype-text" style="float:right; margin-right:13px;">Interactions list</span>
                    <h4 class="modal-title">Interactions list</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Interaction</th>
                                <th>References</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
{#                                    <td>{{ chemical }} {{ action.action }} {{ action.interaction_type.name }}</td>#}
                                <td>{{ interaction.interaction }}</td>
                                <td>
                                    {% for pid in interaction.pub_med_ids|split:"|" %}
                                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pid }}">R</a>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                </div><!-- /.modal-footer -->
            </div>
            <!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
        </div>
    </div>
{% endfor %}