{% extends "base.html" %}

{% load staticfiles %}
{% load analysis_filters %}
{% load keyword_link %}
{% load demouser %}

{% block title %} <title>Create a System | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.min.css' %}" />
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css" />
    <style>
    .delete-btn:hover{
        color: #E7573E;
    }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-home"><a class="bread-link bread-home" href="{% url "dashboard" %}" title="Home">User</a></li>
        <li class="item-home">
            <a class="bread-link bread-home" href="{% url "analysis:personalized-health-report" %}" title="Home">
                Personalized Health Report
            </a>
        </li>
        <li class="item-current item-3602"><strong class="bread-current bread-3602">Create System</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
     Personalized Health Report
    &nbsp;
    {% if queryset %}
        <a href="{% url 'analysis:personalized-health-pdf-report' %}?pdf=true" title="Download report as a PDF file">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
        <div class="section">
            <div class="container">
                {% if not user|is_demouser %}
                <h1>Create a system</h1>
                <form class="form-horizontal" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label class="control-label" for="system-name">System Name:</label>
                            <input type="text" id="system-name" class="form-control" name="name" minlength=2
                                   maxlength=70 required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label class="control-label" for="system-short-name">Short Name:</label>
                            <input type="text" id="system-short-name" class="form-control" name="short_name" minlength=2
                                   maxlength=20>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label class="control-label" for="system-name">Threshold:</label>
                            <input type="number" id="system-name" class="form-control" name="threshold" required min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="margin-left: 15px" class="control-label" for="description">Description:</label>
                        <div class="col-sm-12">
                            {{ form.description }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="margin-left: 15px" class="control-label" for="threshold-description">Threshold Description:</label>
                        <div class="col-sm-12">
                            {{ form.threshold_description }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Select Genes</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select name="genes" data-placeholder="Type here to select genes"
                                                multiple class="chosen-select genes" style="display: none;">
                                        </select>
                                        <div class="hidden-tags"></div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Select Substances</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select
                                                data-placeholder="Type here to select Substances."
                                                multiple
                                                name="chemicals"
                                                class="chosen-select chemicals"
                                                style="display: none;">
                                        </select>
                                        <div class="chem-button pull-right"></div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">System Symptoms</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table symptom-table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Symptom</th>
                                                <th>Weight</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="chosen-search">
                                                        <select
                                                            data-placeholder="Type a symptom name..."
                                                            name="symptoms[]"
                                                            class="chosen-select symptoms">
                                                            {% for item in query_set_symptoms %}
                                                                <option value="{{ item.id }}">
                                                                    {{ item.name|title }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input
                                                        class="form-control"
                                                        type="number"
                                                        style="width: 20%"
                                                        value="1"
                                                        name="weights[]"
                                                        min="1">
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <span
                                                        class="glyphicon glyphicon-remove text-muted delete-btn"
                                                        aria-hidden="true"
                                                        title="Delete row">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-3" style="margin-left: 5px">
                                        <span
                                            class="glyphicon glyphicon-plus text-success"
                                            aria-hidden="true">
                                        </span>
                                        <a href="" class="add-symptom-btn">Add another symptom.</a>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info pull-right">Create</button>
                </form>
                {% else %}
                    <h3>You are not allowed to view this page.</h3>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script type="html/template" id="symptom-row">
        <tr>
            <td>
                <div class="chosen-search">
                    <select
                        data-placeholder="Type a symptom name..."
                        name="symptoms[]"
                        class="chosen-select symptoms">
                        {% for item in query_set_symptoms %}
                            <option value="{{ item.id }}">
                                {{ item.name|title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input class="form-control" name="weights[]" type="number" style="width: 20%" min="1" value="1">
            </td>
            <td style="vertical-align: middle;">
                <span
                    class="glyphicon glyphicon-remove text-muted delete-btn"
                    aria-hidden="true"
                    title="Delete row">
                </span>
            </td>
        </tr>
    </script>

    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" ></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'analysis/create-symptom.js' %}"></script>
{% endblock %}
