{% extends "base.html" %}

{% load staticfiles %}
{% load analysis_filters %}
{% load analysis_tags %}
{% load keyword_link %}
{% load chemical_filters %}
{% load resolve_url %}
{% load genome_filters %}
{% load demouser %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "analysis/analysis.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.min.css' %}" />
    <link rel="stylesheet" href="{% static 'genome/css/tipsy.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-home"><a class="bread-link bread-home" href="{% url "dashboard" %}" title="Home">User</a></li>
        <li class="item-current item-3602"><strong class="bread-current bread-3602">Personalized Health Report</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
     Personalized Health Report
    &nbsp;
    {% if queryset %}
        <a href="{% url 'analysis:personalized-health-pdf-report' %}?pdf=true{% extra_get_params %}" title="Download report as a PDF file">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
{% if queryset %}
    <div class="section">
        <div class="container">
            <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="{% progress_status system %}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="
                                width:{% progress_status system %}%;
                                text-align: center;
                                background-color: #2ebdd1;
                                ">
                    {% progress_status system %}%
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-11">
                    <ul class="navigation_items">
                        {% for page in system.paginator.object_list %}
                            {% if page.short_name %}
                                <li>
                                    <div class="text-center">
                                        {% if forloop.counter < system.number %}
                                            {% if page.user.is_staff %}
                                                <img
                                                    src="{% static 'analysis/verified-user-small.png' %}"
                                                    alt="verified-user-small-icon"
                                                    title="SelfDecode Approved">
                                            {% else %}
                                                <i class="glyphicon glyphicon-check"></i>
                                            {% endif %}
                                        {% elif forloop.counter == system.number %}
                                            <i class="glyphicon glyphicon-map-marker"></i>
                                        {% else %}
                                            {% if page.user.is_staff %}
                                                <img
                                                    src="{% static 'analysis/verified-user-small.png' %}"
                                                    alt="verified-user-small-icon"
                                                    title="SelfDecode Approved">
                                            {% else %}
                                                <i class="glyphicon glyphicon-unchecked"></i>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <a href="?page={{ forloop.counter }}{% extra_get_params %}">{{ page.short_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% if system.has_next %}
                    <div class="col-sm-1">
                        <div class="next-btn" style="margin-top: 12px">
                            <a href="?page={{ system.next_page_number }}{% extra_get_params %}" style="display: inline-block; width: 60px;">
                                NEXT
                                <i class="glyphicon glyphicon-chevron-right navigation_icon"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% with system=system.object_list.0 %}

        {% if not user|is_demouser %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="" method="get" class="pull-right">
                            <label for="show_user_systems">Include Systems Created by Users</label>
                            <input
                                id="show_user_systems"
                                type="checkbox"
                                {% if request.GET.show_user_systems == 'on' %}
                                    checked
                                {% endif %}
                                name="show_user_systems">
                        </form>
                        <a href="{% url 'analysis:create-system' %}" class="pull-right modify-system-btn">
                            <button type="button" class="btn btn-sm btn-primary ">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Create a system
                            </button>
                        </a>
                        {% if system.user == user %}
                            <a href="{% url 'analysis:edit-system' system.id %}" class="pull-right modify-system-btn">
                                <button type="button" class="btn btn-sm btn-info ">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    Edit system
                                </button>
                            </a>
                            <form action="{% url 'analysis:delete-system' system.id %}" method="post"
                                  class="pull-right modify-system-btn">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger "
                                        onclick="return confirm('Are you sure?')">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Delete system
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="system-header">
                            {{ system.name|title }}
                        </h1>
                        {% if system.user.is_staff %}
                            <p class="pull-right">
                                Author: {{ system.user }}
                                <img
                                    src="{% static 'analysis/verified-user-medium.png' %}"
                                    title="SelfDecode Approved"
                                    alt="verified-user-medium-icon">
                            </p>
                        {% else %}
                            <p class="pull-right">Author: {{ system.user }}</p>
                        {% endif %}
                        <br>
                        <h1>Why do you have {{ symptoms_list|join:", " }}?</h1>
                        <p>
                            Part of the reason why you are having these symptoms is because of {{ system.name }}.
                            Therefore, you need to take steps to strengthen this system.
                        </p>

                        {% if system.symptoms.all.exists %}
                            <h1>Symptoms of {{ system.name|title }}:</h1>
                            <ul>
                                {% for symptom in system.symptoms.distinct.all %}
                                    <li>
                                        {% if symptom.selfhacked_link %}
                                            <a href="{{ symptom.selfhacked_link }}" target="_blank">{{ symptom }}</a>
                                        {% else %}
                                            {{ symptom }}
                                        {% endif %}
                                        {% if symptom.related_objects.exists %}
                                             See:
                                            {% for obj in  symptom.related_objects.all %}
                                                <a href="{% resolve_url obj.object_type.model obj.object %}">
                                                    {% resolve_name obj.object %}</a>{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if system.description %}
                            <p>{{ system.description|safe }}</p>
                        {% endif %}

                        {% if system.threshold_description %}
                            <div class="bs-callout bs-callout-danger">
                                {{ system.threshold_description|safe }}
                            </div>
                        {% endif %}

                        {% if system_bad_genes %}
                            <h1>Potentially problematic genes in {{ system.name }}</h1>
                            <table class="table table-bordered bad-genes" cellspacing="0">
                                <thead>
                                    <tr>
                                        <td width="300">Gene</td>
                                        <td>Summary</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bad_gene in system_bad_genes %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'gene' bad_gene.slug %}">{{ bad_gene.name|upper }}</a>
                                            </td>
                                            <td>{{ bad_gene.description_simple|keyword_link|safe }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        {% if recommendations %}
                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading bg-snps">
                                    <div class="pull-left"><h3 class="panel-title">Substances for {{ system.name|title }}</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <p>Please speak to your healthcare professional before taking any listed supplements.</p>
                                    <table>
                                        {% for chemical in recommendations %}
                                            <tr>
                                                <td>
                                                    {% with chemical.t3db_data.first.description|default:chemical.definition as tooltip_title %}
                                                    <a href="{% url "chemical:chemical" chemical.slug %}"
                                                       {% if tooltip_title %}
                                                           class="panel-hashtip"
                                                       {% endif %}
                                                       title="{{ tooltip_title|striptags }}">
                                                        {{ chemical.display_name|title }}
                                                    </a>
                                                    {% endwith %}
                                                </td>
                                                <td>
                                                    <button
                                                        type="button"
                                                        data-title= "Page of chemical {{ chemical.display_name|title }}"
                                                        data-url="{% url 'recommendation:api' chemical.id %}"
                                                        class="btn btn-xs btn-primary chem-btn"
                                                        {% if not chemical.id|has_chemical_gene_interactions %}
                                                            disabled
                                                        {% endif %}>
                                                        See substance gene interactions
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
        {% endwith %}

            <div class="row pagination">
                {% if system.has_previous %}
                    <a href="?page={{ system.previous_page_number }}{% extra_get_params %}">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        Back
                    </a>
                {% endif %}

                {% if system.has_next %}
                    <a href="?page={{ system.next_page_number }}{% extra_get_params %}" class="pull-right">
                        Next
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% else %}
    <div class="section">
        <div class="container">
            <h2>
                The personalized health report is a new feature, and not enough
                <a href="{% url "symptoms_conditions" %}">symptoms</a>
                were selected for a report to come up. Check back in a few weeks as we add more reports,
                which will increase the likelihood that a report will come up.
            </h2>
        </div>
    </div>
{% endif %}

    <div class="modal fade" id="my-modal">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content modal-no-shadow modal-no-border">
                <div class="modal-header bg-primary no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                <div id="loader"></div>

                <div class="chem-graph" ></div>

                </div>
                <p class="legend">Selected genes are highlighted in <span style="color: orange;">orange</span>, bookmarked genes are <span style="color: green;">green</span></p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i> - Chemical increases gene,
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i> - Chemical decreases gene,
                    <i class="fa fa-arrows-v" aria-hidden="true"></i> - Chemical increases and decreases gene simultaneosly,
                    <strong>No arrows</strong> - gene doesn't interact with the chemical.
                </p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" style="color: #3eafdb;" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: #3eafdb;" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time and the chemical does it.
                    <i class="fa fa-long-arrow-up" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time but the chemical does the opposite.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div><!-- /.modal-footer -->
            </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js" integrity="sha256-z0A2CQF8xxCKuOJsn4sJ5HBjxiHHRAfTX8hDF4RSN5s=" crossorigin="anonymous"></script>
    <script src="{% static 'genome/cola.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'genome/recomendations.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $('#show_user_systems').checkboxradio();

            $('#show_user_systems').on('change', function () {
                $(this).closest('form').submit();
            })

        });
    </script>
{% endblock %}
