{% load staticfiles %}
{% load analysis_filters %}
{% load keyword_link %}
{% load pdf_tags %}
{% load resolve_url %}
{% load genome_filters %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: 'Lato', Calibri, Arial, sans-serif;
                color: #505050;
            }

            .system-header {
                background-color: #a51f1f;
                color: white;
                padding: 15px 5px;
                text-align: center;
            }

            p, li {
                line-height: 24px;
            }

            a {
                color: #3eafdb;
            }

            h1 {
                font-size: 36px;
            }

            .bs-callout {
                padding: 20px;
                margin: 20px 0;
                border: 1px solid #eee;
                border-left-width: 5px;
                border-radius: 3px;
            }

            .bs-callout.bs-callout-danger {
                border-left-color: #ce4844;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
{#                border: 1px solid #ddd;#}
                padding: 6px;
            }

            .table td{
                border: 1px solid #ddd;
                padding: 6px;
            }

            .bad-genes thead td{
                background-color: #a51f1f;
                color: white;
                line-height: 1.42857143;
                height: 35px;
                padding: 6px;
            }

            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-row-group;
            }

            tr {
                page-break-inside: avoid;
            }

            .bad-genes thead td:first-child {
                width: 150px;
            }

        </style>
    </head>
    <body>
    {% for item in systems %}
        <div class="container">
            <div class="row">

                <h1 class="system-header">
                    {{ item.system.name }}
                </h1>

                <h1>Why do you have {{ item.symptoms_list|join:", " }}?</h1>
                <p>
                    Part of the reason why you are having these symptoms is because of {{ item.system.name }}.
                    Therefore, you need to take steps to strengthen this system.
                </p>
                <br>

                {% if item.system.symptoms.all.exists %}
                    <h1>Symptoms of {{ item.system.name|title }}:</h1>
                    <ul>
                        {% for symptom in item.system.symptoms.distinct.all %}
                            <li>
                                {% if symptom.selfhacked_link %}
                                    <a href="{{ symptom.selfhacked_link }}" target="_blank">{{ symptom }}</a>
                                {% else %}
                                    {{ symptom }}
                                {% endif %}
                                {% if symptom.related_objects.exists %}
                                     See:
                                    {% for obj in  symptom.related_objects.all %}
                                        {% resolve_url obj.object_type.model obj.object as relative_link %}
                                        <a href="{{ request.scheme }}://{{ request.get_host }}{{ relative_link }}">
                                            {% resolve_name obj.object %}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if system.description %}
                    <p>{{ system.description|safe }}</p>
                {% endif %}

                {% if system.threshold_description %}
                    <div class="bs-callout bs-callout-danger">
                        {{ system.threshold_description|safe }}
                    </div>
                {% endif %}

                {% if item.system_bad_genes %}
                    <h1>Potentially problematic genes in {{ item.system.name }}</h1>
                    <table
                            class="table bad-genes"
                            cellspacing="0"
                            width="100%"
                            style="margin-bottom: 0px; padding-bottom: 0px">
                        <thead>
                            <tr>
                                <td width="300">Gene</td>
                                <td>Summary</td>
                            </tr>
                        </thead>
                    </table>
                    <table
                            class="table bad-genes"
                            cellspacing="0"
                            width="100%"
                            style="margin-top: 0px; padding-top: 0px">
                        <tbody>
                            {% for bad_gene in item.system_bad_genes %}
                                <tr>
                                    <td width="150">
                                        <a href="{% abs_link "gene" bad_gene.name %}">{{ bad_gene.name|upper }}</a>
                                    </td>
                                    <td>{{ bad_gene.description_simple|keyword_link|safe }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                {% endif %}

                {% if item.recommendations %}
                    <h1>Recommendations for {{ item.system.name }}</h1>
                    <ul>
                        {% for chemical in item.recommendations %}
                            <li><a href="{% abs_link "chemical:chemical" chemical.slug %}">{{ chemical.display_name|title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>


    {% endfor %}
    </body>
</html>
