{% extends "base.html" %}
{% load get_class %}
{% load genome_filters %}
{% load genome_tags %}
{% load extras %}
{% load bbcode_tags %}
{% load badges_inclusion %}

{% block head %}
<style>
    h2{
        font-size: 20px;
        line-height: 1.5;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-current-"><strong class="bread-current bread-current-"
                                                       title="Search results for: ">Search results
            for: {{ request.GET.query }}</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Search Results
{% endblock %}

{% block content %}

        <div class="container container-spacing">
            <header class="page-header">
                <h1 class="page-title">Found Results for: <span>{{ request.GET.query }} ({{ found_items }})</span></h1>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ request.GET.filter|title|default:'All' }}
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="{% url "search:main" %}?query={{ request.GET.query }}">All</a></li>
                      {% for item in search_items %}
                        <li><a href="{% url "search:main" %}?query={{ request.GET.query }}&filter={{ item.filter_string }}">{{ item.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </header><!-- .page-header -->

            {% for item in page_obj %}
                {% if item.model_name == 'healtheffect' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'chemical:health-effect' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">health effect</span>
                            </h2>
                        </header><!-- .entry-header -->
                        {% if item.description %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Description: </strong>{{item.description|default:""|safe|truncatechars:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                    </article><!-- #post-## -->

                {% elif item.model_name == 'diseasetrait' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                {% if item.category == "Disease" %}
                                    <a href="{% url 'disease' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                    <span style="background:#7cb839;border-color:#7cb839;" class="post-type">disease</span>
                                {% elif item.category == "Trait" %}
                                    <a href="{% url 'trait' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                    <span style="background:#7cb839;border-color:#7cb839;" class="post-type">trait</span>
                                {% else %}
                                    <a href="{% url 'measurement' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                    <span style="background:#7cb839;border-color:#7cb839;" class="post-type">measurement</span>
                                {% endif %}
                            </h2>
                        </header><!-- .entry-header -->
                        
                        {% if item.description %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Definition: </strong>{{item.description|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                    </article><!-- #post-## -->

                {% elif item.model_name == 'chemical' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'chemical:chemical' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">chemical</span>
                            </h2>
                        </header><!-- .entry-header -->
                        {% if item.synonyms %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Synonyms: </strong>{{item.synonyms|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                        {% if item.description %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Definition: </strong>{{item.description|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                    </article><!-- #post-## -->
                {% elif item.model_name == 'organism' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'chemical:organism' item.slug %}" rel="bookmark">{% if item.english_name %}{{ item.english_name }}{% else %}{{ item.latin_name }}{% endif %}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">organism</span>
                            </h2>
                        </header><!-- .entry-header -->
                    </article><!-- #post-## -->

                {% elif item.model_name == 'gene' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'gene' item.slug %}" rel="bookmark">{{ item.text|upper }}</a>
                                <span>
                                    {% show_badges item.pk bad_genes contains_risk_allele %}
                                </span>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">
                                    gene
                                </span>
                            </h2>
                        </header>

                        {% if item.description %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Description: </strong>{{item.description|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                    </article><!-- #post-## -->

                {% elif item.model_name == 'snp' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'snp' item.text %}" rel="bookmark">{{ item.text }}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">snp</span>
                                &nbsp;&nbsp;
                                <span>{% genotype_with_frequency_snp_search item.text user %}</span>
                            </h2>
                        </header><!-- .entry-header -->
                        {% if item.genes %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Genes: </strong>{{ item.genes|join:", "|upper }}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                        {% if item.description %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>SNP description: </strong>{{item.description|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}

                    </article><!-- #post-## -->

                {% elif item.model_name == 'identification' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'experiment:details' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">Experiment</span>
                            </h2>
                        </header><!-- .entry-header -->
                        {% if item.text %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Name: </strong>{{item.text}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                        {% if item.title %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Title: </strong>{{item.title|safe|truncatechars_html:600}}</div>
                            </div><!-- .entry-summary -->
                        {% endif %}
                    </article><!-- #post-## -->

                {% elif item.model_name == 'geneontology' %}
                    <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                {% if item.type == 'biological-process' %}
                                    <a href="{% url 'biological-process' item.slug %}" rel="bookmark" target="_blank">{{ item.text }}</a>
                                    <span style="background:#7cb839;border-color:#7cb839;" class="post-type">biological process</span>
                                {% elif item.type == 'molecular-function' %}
                                    <a href="{% url 'molecular-function' item.slug %}" rel="bookmark" target="_blank">{{ item.text }}</a>
                                    <span style="background:#7cb839;border-color:#7cb839;" class="post-type">molecular function</span>
                                {% endif %}
                            </h2>
                        </header>
                        {% if item.go_name %}
                            <div class="entry-summary">
                                <div style="display:inline-block;"><strong>Name:</strong>{{item.go_name|title}}</div>
                            </div>
                        {% endif %}
                    </article>

                {% elif item.model_name == 'post' %}
                     <article class="status-publish hentry">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="{% url 'forum:post' item.slug %}" rel="bookmark">{{ item.text }}</a>
                                <span style="background:#7cb839;border-color:#7cb839;" class="post-type">
                                    forum
                                </span>
                            </h2>
                        </header>

                        {% if item.body %}
                            <div class="entry-summary">
                                <div style="display:inline-block;">
                                    {{ item.body|repair_bb_links|bbcode|truncatechars_html:150|safe }}
                                </div>
                            </div>
                        {% endif %}
                    </article>
                {% endif %}



            {% endfor %}

            {% if page_obj.has_other_pages %}
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="no-dotes">
                                <a href="?query={{ request.GET.query }}&page={{ page_obj.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for i in page_obj|page_range %}
                            <li {% if page_obj.number == i %} class="active" {% endif %}>
                                <a href="{% url "search:main" %}?query={{ request.GET.query }}&page={{ i }}{%if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="?query={{ request.GET.query }}&page={{ page_obj.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"
                                    area-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        </ul>
                    </nav>
                </div>
            {% endif %}

        </div>

{% endblock %}