{% load remove_dunder %}
{% load sidebar_usage_history %}
{% load demouser %}

<div class="col-sm-2">
	<ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase" id="decodify-members-menu">
		<li id="symptoms"><a href="{% url "symptoms_conditions" %}">My Symptoms</a></li>
        <li id="pathway-analysis"><a href="{% url "analysis:personalized-health-report" %}">Personalized Health Report</a></li>
        <li id="symptoms"><a href="{% url "bookmarked_snps" %}">Bookmarked SNPs</a></li>
        <li id="database"><a href="{% url "database:main" %}">Database</a></li>
        <li id="diseases"><a href="{% url 'disease-tree' %}">Disease Tree</a></li>
        {% if not user|is_demouser and user.user_profile.has_subscription %}
            <li id="uploader"><a href="{% url 'uploader' %}">Upload a File</a></li>
        {% endif %}
	</ul><br>
    {% usage_history %}
</div>