{% load keyword_link %}
{% load formatting %}
{% load genome_filters %}
{% load genome_tags %}
{% load bookmark_snp %}

<div class="col-sm-10">
    {{ df2|safe }}
    <div id="variance_report_all_all_569">
        <div class="table-responsive">

            <table id="table_all" class="table table-th-block table-bordered variance-report">
                <thead>
                <tr>
                    <td colspan="9" align="center" class="header">
                        <b>Variance Report</b> <a href="/get_report_pdf_page?report={{ report_state }}{% if entity_pk %}&entity_pk={{ entity_pk }}{% endif %}&page={{ request.GET.page|default:1 }}"><i
                            class="glyphicon glyphicon-download-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <th>ID&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="This is the unique number ID of a SNP."></span>
                    </th>
                    <th>Name&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="This is the name of the gene that the SNP belongs to. SNPs belong to genes."></span>
                    </th>
                    <th>Minor Frequency&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="This is the frequency of the less common allele in the population.  So when &quot;C=45%&quot; it means that 45% of the alleles in the global population are comprised of the nucleotide/allele &quot;C&quot;.  If you have one or two less common alleles, you want to look into the SNP more and see if there is any negative effects associated with these alleles."></span>
                    </th>
                    <th>Risk Frequency</th>
                    <th>Genotype&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="These are the alleles that you get from each parent. &quot;CG&quot; means that you got the &quot;C&quot; nucleotide/allele from one parent and &quot;G&quot; from another."></span>
                    </th>
                    <th>Result&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="Generally, red means you have 2 less common alleles (minor), green means you have 2 more common alleles (major) and yellow means you have one of each."></span>
                    </th>
                    <th>Flag</th>
                    <th>Importance&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="Importance is a value we assign to each SNP based on it's veracity and impact. If there are many credible studies and they show substantial impact on health, this number will rise."></span>
                    </th>
                    <th>Actions&nbsp;&nbsp;<span class="fa fa-info-circle tooltip-icon"
                                                     data-toggle="tooltip"
                                                     data-placement="bottom"
                                                     title="You can click on &quot;i&quot; for more information, the spanner for fixes, or you can bookmark the SNP to save it for later.">
                    </span>
                    </th>
                </tr>
                </thead>
                <tbody>


{#                {% regroup df by gene as gene_list %}#}

                {% for item2 in df %}

                    <tr data-row="gene" style="display:table-row;">
                        <td colspan="9" class="gene-header showModal" data-title="{{ item2.grouper|upper }}"
                            data-url="/description/{{ item2.grouper }}"><span
                            class="modal-button">
						{{ item2.grouper|upper }}
						</span>
                            <span class="fa fa-info-circle modal-button" data-target="#modal-2090" data-toggle="modal"
                                  title="Gene Information" data-code="modal-2090"></span>{% if user.is_staff %}
                                <a href="/admin_gene/{{ item2.grouper }}/"> Edit</a>{% endif %}
                        </td>
                    </tr>

                    {% regroup item2.list by rsid as snps_list %}
                        {% for snp in snps_list %}
                        <tr data-row="snp" style="display:table-row;">
                            {% with item=snp.list.0 %}
                            <td class="rsid">
                                <a target="_blank" href="/snp/{{ snp.grouper }}">{{ snp.grouper }}</a>
                                {% if user.is_staff %}
                                    {% with item=snp.list.0 %}
                                    <a href="/joes_office/genome/snp/{{ item.id_snp }}/change">Edit</a>
                                    <!--  /joes_office/genome/snpallele/82/change/ -->
                                    {% endwith %}
                                {% endif %}
                            </td>
                            <td><a target="_blank" href="/gene/{{ item2.grouper }}">{{ item2.grouper|upper }}</a></td>
                            <td>{{ item.minor_allele }}{% if item.minor_allele and item.minor_allele_frequency %}={% endif %}{{ item.minor_allele_frequency|mul:100|format:"{:.2f}%" }}</td>
                            {% endwith %}
                            <td>
                                {% for item in snp.list %}
                                    {% if item.risk_allele %}{{ item.risk_allele }}{% else %}?{% endif %}={% if item.risk_allele_frequency %}{{ item.risk_allele_frequency|mul:100|format:"{:.2f}%" }}{% else %}?{% endif %}
                                        {% if item.disease %}
                                            {% risk_disease_tooltip item.genotype_y item.risk_allele item.disease|title %}
                                        {% endif %}
                                        <br/>
                                {% empty %}
                                    <span class="fa fa-question"></span>
                                {% endfor %}
                            </td>
                        {% with item=snp.list.0 %}

                            <td>{{ item.genotype_y }}</td>
                            <td align="center">
                                {% if item.genotype_style == "homozygous_minor" %}
                                    {% genotype_badge item.genotype_y item.minor_allele "+/+" %}
                                {% elif item.genotype_style == "homozygous_major" %}
                                    {% genotype_badge item.genotype_y item.minor_allele "-/-" %}
                                {% elif item.genotype_style == "heterozygous" %}
                                    {% genotype_badge item.genotype_y item.minor_allele "+/-" %}
                                {% elif item.genotype_style == "major" %}
                                    {% genotype_badge item.genotype_y item.minor_allele "-" %}
                                {% elif item.genotype_style == "minor" %}
                                    {% genotype_badge item.genotype_y item.minor_allele "+" %}
                                {% else %}
                                    <span class="badge">&nbsp;</span>
                                {% endif %}
                            </td>
                            <td>
                                {% allele_flag item %}
                            </td>
                            <td>{{ item.importance }}</td>
                            <td>
                                <button onclick="get_modal_content(this)"
                                        data-title="{{ item.name|upper }}"
                                        data-rsid="{{ item.rsid }}"
                                        data-genotype="{{ item.genotype_y }}"
                                        data-url="{% url "get_disease_trait_modal_body" rsid=item.rsid user_name=request.user.username%}"
                                        class="btn btn-default btn-sm btn-rounded-sm modal-button">
                                    <span class="fa fa-info"></span></button>

                                <button onclick="get_modal_content(this)"
                                        data-title="{{ item.name|upper }}"
                                        data-rsid="{{ item.rsid }}"
                                        data-genotype="{{ item.genotype_y }}"
                                        data-url="{% url "get_substance_interaction_modal_body" rsid=item.rsid gene=item2.grouper|iriencode %}"
                                        class="btn btn-default btn-sm btn-rounded-sm modal-button">
                                    <i class="fa fa-wrench"></i></button>
                                {% bookmark_snp_button item.id item.rsid %}

                            </td>
                        </tr>

                        <div class="modal fade" id="modal-info-{{ item.rsid }}">
                            <div class="modal-dialog">
                                <div class="modal-content modal-no-shadow modal-no-border">
                                    <div class="modal-header bg-primary no-border">
                                        <button type="button" class="close" data-dismiss="modal" style="float:right;"
                                                aria-hidden="true">×
                                        </button>
                                        <span style="float:right; margin-right:13px;">My Genotype: {{ item.genotype_y }}</span>
                                        <h4 class="modal-title">{{ item.rsid }}</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div>
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a
                                                        href="#me-info-{{ item.rsid }}" aria-controls="home" role="tab"
                                                        data-toggle="tab" aria-expanded="true">Me</a></li>
                                                <li role="presentation" class=""><a href="#all-info-{{ item.rsid }}"
                                                                                    aria-controls="profile" role="tab"
                                                                                    data-toggle="tab"
                                                                                    aria-expanded="false">All Info</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active"
                                                     id="me-info-{{ item.rsid }}"><br>


                                                    {% if item.genotype_style == "heterozygous" and item.description_hetero != "" %}

                                                        {{ item.description_hetero|keyword_link|safe }}

                                                    {% elif item.genotype_style == "homozygous_major" and item.description_major != "" %}

                                                        {{ item.description_major|keyword_link|safe }}

                                                    {% elif item.genotype_style == "homozygous_minor" and item.description_minor != "" %}

                                                        {{ item.description_minor|keyword_link|safe }}

                                                    {% else %}
                                                        No info...
                                                    {% endif %}


                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="all-info-{{ item.rsid }}"><br>
                                                    {% if item.description_advanced_x %}
                                                        {{ item.description_advanced_x|keyword_link|safe }}
                                                    {% else %}
                                                        No info...
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div><!-- /.modal-footer -->
                                </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
                            </div>
                        </div>


                        <div class="modal fade" id="modal-fix-{{ item.rsid }}">
                            <div class="modal-dialog">
                                <div class="modal-content modal-no-shadow modal-no-border">
                                    <div class="modal-header bg-primary no-border">
                                        <button type="button" class="close" data-dismiss="modal" style="float:right;"
                                                aria-hidden="true">×
                                        </button>
                                        <span style="float:right; margin-right:13px;">My Genotype: {{ item.genotype_y }}</span>
                                        <h4 class="modal-title">{{ item.rsid }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a
                                                        href="#simple-fix-{{ item.rsid }}" aria-controls="home"
                                                        role="tab" data-toggle="tab" aria-expanded="true">Simple</a>
                                                </li>
                                                <li role="presentation" class=""><a href="#advanced-fix-{{ item.rsid }}"
                                                                                    aria-controls="profile" role="tab"
                                                                                    data-toggle="tab"
                                                                                    aria-expanded="false">Advanced</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active"
                                                     id="simple-fix-{{ item.rsid }}"><br>
                                                    {% if item.fix_simple %}
                                                        {{ item.fix_simple|keyword_link|safe }}
                                                        {% if item.transcription_factors.all %}
                                                            <p>Transcription Factors</p>
                                                            {% for item2 in item.transcription_factors.all %}
                                                                <p>{{ item2.name|safe }}</p>
                                                                <p>{{ item2.description|keyword_link|safe }}</p>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% else %}
                                                        No info...
                                                    {% endif %}                </div>
                                                <div role="tabpanel" class="tab-pane" id="advanced-fix-{{ item.rsid }}">
                                                    <br>
                                                    {% if item.fix_advanced %}
                                                        {{ item.fix_advanced|keyword_link|safe }}
                                                    {% else %}
                                                        No info...
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div><!-- /.modal-footer -->
                                </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
                            </div>
                        </div>
                    {% endwith %}

                    {% endfor %}
                {% endfor %}

                </tbody>
                <tfoot>
                <tr data-row="footer">
                    <td colspan="9">SNPs in category: <b>{{ query_set_count }}</b></td>
                </tr>
                </tfoot>

            </table>
        </div>
        {% if df.has_previous or df.has_next %}
            <div style="float:right;">
                {% if df.has_previous %}
                    <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                       href="?page={{ df.previous_page_number }}">Prev</a>
                {% endif %}
                {{ df.number }} of {{ df.paginator.num_pages }}
                {% if df.has_next %}
                    <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                       href="?page={{ df.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    </div>


</div>

<div class="modal fade" id="genotype-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-no-shadow modal-no-border">
            <div class="modal-header bg-primary no-border">
                <button type="button" class="close"
                        data-dismiss="modal" style="float:right;"
                        aria-hidden="true">×
                </button>
                <span class="genotype-text" style="float:right; margin-right:13px;">My Genotype: {{ item.genotype }}</span>
                <h4 class="modal-title">{{ item.rsid }}</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div><!-- /.modal-footer -->
        </div>
        <!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
    </div>
</div>

<script>
    function get_modal_content(el) {
        $("#genotype-modal .modal-title").text($(el).data().rsid);
        $("#genotype-modal .genotype-text").text("My Genotype: " + $(el).data().genotype);
        $("#genotype-modal").modal("show");

        preloader();
        $.get($(el).data().url).success(function (data) {
            $("#genotype-modal .modal-body").html(data)
        })
    }

    function preloader() {
        var img = document.createElement("img");
        var div = document.createElement("div");
        img.setAttribute("src", "https://s3-us-west-1.amazonaws.com/decodify/assets/default.gif");
        img.setAttribute("style", "position:fixed;top:50%;margin-left:-30px;margin-top:-30px;left:50%;width:60px;");
        div.setAttribute("style", "position: fixed;top: 0;left:0;right:0;bottom:0;z-index: 90000;background: rgba(255,255,255,0.8);");
        $(div).append(img);
        $("#genotype-modal .modal-body").append(div);
    }
</script>
