{% load resolve_url %}
{% load replace_underscores %}
<div>
    <h4>Recent changes</h4>
    <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase">
        {% for item in query_set %}
            {% with item.edited_obj as edited_object %}
                {% if edited_object %}
            <li>
                <a href="{% resolve_url item.content_type.model edited_object %}"
                   target="_blank"
                   title="{{ user }}, {{ item.action_time|date:"M d" }} <br> {{ item.modelfieldchanges.changed_fields|join:', '|title|replace_underscores}}"
                   data-toggle="tooltip"
                   data-html="true"
                   style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                >
                    <span class='badge badge-info'>{{ item.content_type.model|title }}</span>&nbsp;{{ edited_object.name|title}}
                </a>
            </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>

