{% extends "base.html" %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% endblock %}

{% block content %}
<!-- <input type="hidden" name="acl" value="bucket-owner-full-control">
 -->
<form action="https://decodify.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
<input type="hidden" name="AWSAccessKeyId" value="AKIAIM4ZUBWXUKSKBJUA">
<input type="hidden" name="key" value="{{user.id}}__${filename}">
<input type="hidden" name="policy" value="{{policy}}"> Requests without policy will succeed only on publicly writable buckets.
<input type="hidden" name="success_action_redirect" value="https://www.selfdecode.com/ancestry_done/">S3 appends bucket, key, etag as query string
<input type="hidden" name="signature" value="{{signature}}"> signature is required if I want to use a policy
<input type="file" name="file">
<input type="submit" value="dun">

</form>



{% endblock %}


{ "expiration": "2017-12-01T12:00:00.000Z",

  "conditions": [


    {"bucket": "johnsmith" },

    ["starts-with", "$key", "user/eric/"],

  ]

}
