{% extends "base.html" %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/blood_markers"
                                                    title="User">User</a></li>
        <li class="active">Blood Markers</li>
    </ol>
{% endblock %}

{% block page_title %}
    Blood Markers
{% endblock %}

{% block content %}

<div class="section">
<div class="container">



		<div class="row">
	        	{% include "genome/_profile_sidebar.html" %}
			<div class="col-sm-10">
			    <div class="row input-area">
                    <div class="col-sm-4 col-sm-offset-4">

<!--                             <p style="width:100%;text-align:center;">Add Blood Marker</p><input style="text-align:center;" type="text" class="form-control" placeholder="e.g. Vitamin c">
 -->

                        <form action="" method="post" style="text-align:center;">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>

                </div>
                <div class="row"> <!-- Sorted by date biomarkers report starts here -->


<div class="col-sm-12" style="margin-top:30px;">
    {{ df2|safe }}
      <div id="variance_report_all_all_569">
      <div class="table-responsive">

        <table id="table_all" class="table table-th-block table-bordered variance-report">
        <thead>
        <tr>
        <td colspan="7" align="center" class="header">
            <b>Blood Marker Report</b>
        </td></tr>
<tr>
<th>Name</th>
<th>Metric</th>
<th>Unit</th>
<th>Actions</th>
</tr>
        </thead>
        <tbody>



{% for item2 in query_set %}



<tr data-row="gene" style="display:table-row;">
                    <td colspan="7" class="gene-header"><span class="modal-button">
                        {{item.name}}
                        </span>
                        <span class="fa fa-info-circle modal-button" data-target="#modal-2090" data-toggle="modal" title="Gene Information" data-code="modal-2090"></span>


                    </td></tr>

{% for item in item2.list %}
<tr data-row="snp" style="display:table-row;">
<td class="rsid"><a target="_blank" href="/snp/{{item.rsid}}">{{item.rsid}}</a></td>
<td><a target="_blank" href="/gene/{{item2.grouper}}">{{ item2.grouper|upper }}</a></td>
<td>{{ item.risk_allele }}={{ item.minor_allele_frequency }}</td>
<td>{{ item.genotype_y }}</td>

<td>{{ item.importance }}</td>
<td>
            <button onclick="jQuery('#modal-info-{{item.rsid}}').modal('show')" data-title="{{item.name|upper}}" class="btn btn-default btn-sm btn-rounded-sm modal-button"><span class="fa fa-info"></span></button>

            <button onclick="jQuery('#modal-fix-{{item.rsid}}').modal('show')" data-title="{{item.gene|upper}}" class="btn btn-default btn-sm btn-rounded-sm modal-button"><i class="fa fa-wrench"></i></button>
{% if request.path != '/bookmarked_snps/' %}
      <button onclick="jQuery.get('/add_bookmark_snp/?snp_id={{item.id_snp}}', function(){jQuery('#add-{{item.id_snp}}').attr('style', 'background:#e0e3e9;')})" data-title="{{item.gene|upper}}" class="btn btn-default btn-sm btn-rounded-sm modal-button" id="add-{{item.id_snp}}"><i class="fa fa-bookmark"></i></button>
{% endif %}

</td>
</tr>



<div class="modal fade" id="modal-info-{{item.rsid}}">
    <div class="modal-dialog">
        <div class="modal-content modal-no-shadow modal-no-border">
          <div class="modal-header bg-primary no-border">
            <button type="button" class="close" data-dismiss="modal" style="float:right;" aria-hidden="true">×</button>
            <span style="float:right; margin-right:13px;">My Genotype: {{item.genotype_y}}</span>
            <h4 class="modal-title">{{item.rsid}}</h4>
          </div>
          <div class="modal-body">

            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#me-info-{{item.rsid}}" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Me</a></li>
                <li role="presentation" class=""><a href="#all-info-{{item.rsid}}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">All Info</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="me-info-{{item.rsid}}"><br>


                {% if item.genotype_style == "heterozygous" and item.description_hetero != "" %}

                {{ item.description_hetero|safe }}

                {% elif item.genotype_style == "homozygous_major" and item.description_major != "" %}

                {{ item.description_major|safe }}

                {% elif item.genotype_style == "homozygous_minor" and item.description_minor != "" %}

                {{ item.description_minor|safe }}

                {% else %}
                 No info...
                {% endif %}



                </div>
                <div role="tabpanel" class="tab-pane" id="all-info-{{item.rsid}}"><br>
                {% if item.description_advanced_x %}
                    {{ item.description_advanced_x|safe }}
                {% else %}
                    No info...
                {%endif%}

                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
    </div>
</div>


<div class="modal fade" id="modal-fix-{{item.rsid}}">
    <div class="modal-dialog">
        <div class="modal-content modal-no-shadow modal-no-border">
          <div class="modal-header bg-primary no-border">
            <button type="button" class="close" data-dismiss="modal" style="float:right;" aria-hidden="true">×</button>
            <span style="float:right; margin-right:13px;">My Genotype: {{item.genotype_y}}</span>
            <h4 class="modal-title">{{item.rsid}}</h4>
          </div>
          <div class="modal-body">
            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#simple-fix-{{item.rsid}}" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Simple</a></li>
                <li role="presentation" class=""><a href="#advanced-fix-{{item.rsid}}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Advanced</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="simple-fix-{{item.rsid}}"><br>
                {% if item.fix_simple %}
                        {{ item.fix_simple|safe }}
                        {% if item.transcription_factors.all %}
                          <p>Transcription Factors</p>
                          {% for item2 in item.transcription_factors.all %}
                            <p>{{ item2.name|safe }}</p>
                            <p>{{ item2.description|safe }}</p>
                          {% endfor %}
                        {% endif %}
                {% else %}
                No info...
                {%endif%}                </div>
                <div role="tabpanel" class="tab-pane" id="advanced-fix-{{item.rsid}}"><br>
                {% if item.fix_advanced %}
                       {{ item.fix_advanced|safe }}
                {% else %}
                No info...
                {% endif %}
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
    </div>
</div>







{% endfor %}
{% endfor %}

</tbody><tfoot><tr data-row="footer"><td colspan="7">SNPs in category: <b>{{ query_set_count }}</b></td></tr></tfoot>

        </table>
        </div>
     </div>



      </div>


                </div><!-- this closes the row -->






            </div>
        </div>
</div>
</div>

{% endblock %}

{% block scripts %}

{{ form.media }}

<script>
jQuery("#id_Add_Blood_Marker").change(function(){ console.log("changed!") })
</script>

{% endblock %}





