{% extends "base.html" %}


{% block content %}


<div style="text-align:center; margin:150px auto; max-width:400px;">
<h1>Choose User</h1>

<form method="post" action="/choose_user/" class="form">

<input type="text" name="email" class="form-control" placeholder="Enter their email" style="margin-bottom:10px;">

<input type="button" value="submit" class="btn btn-block btn-primary">
{% csrf_token %}
</form>


</div>


{% endblock %}