{% extends "base.html" %}

{% load staticfiles %}
{% load demouser %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.min.css' %}" />
    <style>
        ul.chosen-choices{
        line-height: 27px !important;
        box-shadow: none !important;
        border: none !important;
        background-image: none !important;
    }

    .search-field input{
        font-family: 'Lato', Calibri, Arial, sans-serif !important;
        font-size: 20px !important;
        margin-top: 7px !important;
    }

    li.search-choice {
        line-height: 27px !important;
        border-radius: 11px !important;
        font-family: 'Lato', Calibri, Arial, sans-serif !important;
        font-size: 15px !important;
        background-color: #3BAFDA !important;
        border: none !important;
        background-image: none !important;
        color: white !important;
        box-shadow: none !important;
        padding-left: 14px !important;
        padding-right: 22px !important;
    }

    .search-choice-close{
        top: 12px !important;
    }
    .panel-info {
        border-color: #8CC152;
    }

    .panel-info > .panel-heading {
        background-color: #8CC152;
        border-color: #8CC152;
    }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="#"
                                                    title="User">User</a></li>
        <li class="active">Create a gene pack</li>
    </ol>
{% endblock %}

{% block page_title %}
    Create a gene pack
{% endblock %}

{% block content %}
{% if not user|is_demouser %}
    <div class="section">
        <div class="container">
            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                    <div class="section">

                        <form class="form-horizontal" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label" for="pack-name">Pack Name:</label>
                                    <input type="text" id="pack-name" class="form-control" name="name" minlength=2
                                           maxlength=30 required>
                                    <label class="control-label" for="pack-author">Author Name:</label>
                                    <input type="text" id="pack-author" class="form-control" name="author" minlength=2
                                           placeholder="Your Name to Display on Gene Packs (if no name is given, your username will display)"
                                           maxlength=30 required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Select Genes</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <select name="genes" data-placeholder="Type here to select genes"
                                                        multiple class="chosen-select genes" style="display: none;">
                                                </select>
                                                <div class="hidden-tags"></div>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                    <div class="panel-footer"></div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info pull-right">Create</button>
                        </form>


                    </div>
                </div> <!-- #col-sm-10 -->
            </div> <!-- #row -->
        </div> <!-- #container -->
    </div> <!--   #SECTION 		-->
    {% else %}
        <p>You are not allowed to view this page</p>
    {% endif %}

    </div><!-- #content -->

{% endblock %}

{% block scripts %}
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script>
    $('select.genes').ajaxChosen({
            dataType: 'json',
            type: 'GET',
            url:'/genes-list-api/',
        }, {
                processItems: function(data){ return data.results; },
                useAjax: true,
                generateUrl: function(q){ return '/genes-list-api/' },
                minLength: 2
        }, {
            disable_search_threshold: 10,
            width: "100%"
        });
    $(document).ready(function () {
        $('select#pack-type').change(function () {
            var selected_option = $('select#pack-type option:selected').val();
            if (selected_option == "sponsored")
                $('[price]').show();
            else
                $('[price]').hide();
        });
    })
    </script>
{% endblock %}