{% extends "base.html" %}
{% load remove_dunder %}
{% load sidebar_usage_history %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'sweetalert/sweetalert2.min.css' %}">
    <style>
        .recommendations-block a {
            color: #ffffff;
        }
        .recommendations-block a:hover {
            text-decoration: none;
        }
        .popover {
            max-width: 400px;
        }
    </style>
{% endblock %}


{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3602"><strong class="bread-current bread-3602"> User</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    User
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">


            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">

                    {% include "fileapi/partial_my_files.html" %}

                    {% include 'genome/partials/profile.html' %}

                    {% include 'genome/partials/subscriptions.html' %}

                </div>
            </div>
        </div>
    </div> <!--   SECTION 		-->

    </div><!-- #content -->

{% endblock %}

{% block scripts %}
    <script src="{% static "sweetalert/sweetalert2.min.js" %}?v6"></script>
    <script src="{% static "fileapi/my_files.js" %}?v6"></script>
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            $('#unsubscribe-btn').on('click', function () {
                Intercom('update', $.extend(window.intercomSettings, {unsubscribed: "true"}));
            })
        });
    </script>
    {% if user.user_profile.stripe_customer_id %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    $(document).ready(function(){
        var handler = StripeCheckout.configure({
            key: '{{ STRIPE_API_KEY }}',
            image: 'https://s3-us-west-1.amazonaws.com/decodify/assets/dec_strpe.png',
            locale: 'auto',
            name: 'Selfdecode',
            panelLabel: 'Update Card Details',
            email: '{{ user.email }}',
            allowRememberMe: false
        });

        $("#stripe-change-card").on("click", function (e) {
            // Open Checkout with further options:
            handler.open();
            e.preventDefault();
        });
    });
    </script>
    {% endif %}
{% endblock %}
