<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#simple-info-{{ query_set.id }}"
                                                  aria-controls="home"
                                                  role="tab"
                                                  data-toggle="tab"
                                                  aria-expanded="true">Simple</a></li>
        <li role="presentation" class=""><a href="#advanced-info-{{ query_set.id }}"
                                            aria-controls="profile"
                                            role="tab"
                                            data-toggle="tab"
                                            aria-expanded="false">Advanced</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="simple-info-{{ query_set.id }}"><br>

            {% if query_set.description_simple %}
                {{ query_set.description_simple|safe }}
            {% else %}
                No info...
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="advanced-info-{{ query_set.id }}"><br>
            {% if query_set.description_advanced %}
                {{ query_set.description_advanced|safe }}
            {% else %}
                No info...
            {% endif %}

            {% if query_set.transcription_factors.exists %}
                <h4>The following transcription factors increase gene production(<a
                        href="http://www.sabiosciences.com/chipqpcrsearch.php?gene={{ query_set.name }}&factor=Over+200+TF&species_id=0&ninfo=n&ngene=n&nfactor=y">R</a>):
                </h4>
                <ul>
                    {% for item in query_set.transcription_factors.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if query_set.function %}
                <h4>Function:</h4>
                <p>{{ query_set.function }}</p>
            {% endif %}

            {% if query_set.tissue_specificity %}
                <h4>Tissue specificity:</h4>
                <p>{{ query_set.tissue_specificity }}</p>
            {% endif %}

            {% if query_set.pathways.count %}
                <div>
                    <h4>Gene Pathways:</h4>
                    <ul>
                        {% for pathway in query_set.pathways.all %}
                            <li>
                                <a href="{% url "gene_pathway_details" query_set.name pathway.kegg_id %}">{{ pathway.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if query_set.induction %}
                <h4>Induction:</h4>
                <p>{{ query_set.induction }}</p>
            {% endif %}

            {% if query_set.miscellaneous %}
                <h4>Miscellaneous:</h4>
                <p>{{ query_set.miscellaneous }}</p>
            {% endif %}

            {% if query_set.developmental_stage %}
                <h4>Developmental stage:</h4>
                <p>{{ query_set.developmental_stage }}</p>
            {% endif %}

            {% if query_set.caution %}
                <h4>Caution:</h4>
                <p>{{ query_set.caution }}</p>
            {% endif %}

            {% if query_set.enzyme_regulation %}
                <h4>Enzyme Regulation:</h4>
                <p>{{ query_set.enzyme_regulation }}</p>
            {% endif %}

            {% if query_set.cofactor %}
                <h4>Cofactor:</h4>
                <p>{{ query_set.cofactor }}</p>
            {% endif %}

            {% if data_set.keywords %}
                <h4>Keywords:</h4>
                <p>{{ data_set.keywords }}</p>
            {% endif %}

            {% if data_set.molecular_function %}
                <h4>Molecular Function:</h4>
                <p>{{ data_set.molecular_function }}</p>
            {% endif %}

            {% if data_set.biological_processes %}
                <h4>Biological Processes:</h4>
                <p>{{ data_set.biological_processes }}</p>
            {% endif %}

            {% if data_set.drug_bank %}
                <h4>Drug Bank:</h4>
                <p>{{ data_set.drug_bank }}</p>
            {% endif %}

        </div>
    </div>
</div>