                    <div class="section">
                        <div class="container-fluid">
                            <p style="font-size: 18px;">This information should not be construed as factual or medical advice.  We simply aggregate SNP information and weight it.  This information is not accurate and it wouldn't be wise to make any medical decisions based on it.  Over time, we are working on making it more accurate, but currently, it's not accurate.</p>
                        </div><!-- /.container -->
                    </div>