{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <link rel="stylesheet" href="{% static "experiment/details.css" %}">
    <style>
        li{
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% url "database:main" as database_link %}
    {% url 'home_page' as home_page_link %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="{{ home_page_link }}" title="Home">Home</a></li>
        <li class="item-home"><a class="bread-link" href="{{ database_link }}" title="Database">Database</a></li>
        <li class="active">Disease Tree</li>
    </ol>
{% endblock breadcrumbs %}

{% block page_title %}
    DISEASE TREE
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: -10px">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <form action="/search/" method="get" _lpchecked="1">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                        <input type="text" name="query" class="form-control ui-autocomplete-input" id="autocomplete_tree" autocomplete="off">
                        <input type="hidden" name="filter" value="disease">
                    </div>
                </form>
            </div>
        </div>
        {% include 'genome/partials/advertisement.html' %}
        <div class="content-area">
            <main id="main" class="site-main" role="main">
{#                <div class="col-md-12">#}
                    <ul>
                        {% include 'genome/partials/disease_tree_nodes.html' with nodes=root_nodes %}
                    </ul>
{#                </div>#}
            </main>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "genome/disease_tree.js" %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
    $(document).ready(function(){
        var result;
        $('#autocomplete_tree').autocomplete({
             source: function(request, response){
                $.ajax({
                    url: '/list-diseases/',
                    data: { query: request.term },
                    dataType: 'json',
                    success: function(data){
                        result = data;
                        response(data.suggestions);
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            },
            select: function(event, ui){
                var indexOfSlug = result.suggestions.indexOf(ui.item.value);
                var url = window.location.origin + '/' + result.type + '/' + result.slug[indexOfSlug];
                window.open(url, '_blank');
            },
            keypress: function (event) {
                console.log(event.which);
            }
        });
    });
</script>
{% include 'genome/partials/ad_popup.html' %}
{% endblock %}
