{% extends "base.html" %}

{% load keyword_link %}
{% load remove_whitespace %}
{% load static from staticfiles %}
{% load formatting %}
{% load genome_filters %}
{% load genome_tags %}
{% load genome_simple_description %}
{% load bookmark_snp %}
{% load badges_inclusion %}

{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <style>
        .panel-toggle {
            cursor: pointer;
        }

        .panel-toggle .collapsed {
            display: none;
        }

        .panel-toggle select {
            color: initial;
        }
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
            cursor: pointer;
            fill: #e7573e;

        }

        .link {
          stroke: #999;
          stroke-width: 3px;
          stroke-opacity: 1;
        }

        .label {
            fill: white;
            font-family: Verdana;
            font-size: 12px;
            text-anchor: middle;
            cursor: pointer;
        }
        .gene-table{
            width: 50%
        }
        td ,th {
            padding: 5px;
        }


    </style>
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="{% url 'database:list-diseases' %}" title="Disease/Trait">
                {{ query_set.category }}
            </a></li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.name|title }}
            </strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.name|title }}{% if query_set.full_name %}({{ query_set.full_name|title }}){% endif %}
    {% if user.is_staff %}
        <a href="/joes_office/genome/diseasetrait/{{ query_set.pk }}/change/"> Edit</a>
    {% endif %}
{% endblock %}

{% block extra_page_title %}
    <h4 class="pull-right">{{ query_set.category }}</h4>
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-3048"
                         class="post-3048 gene type-gene status-publish hentry snp_category-cardiovascular snp_category-circadian-rhythm snp_category-cognitive snp_category-health-report snp_category-main snp_category-sleep-related snp_category-obesity">

                     <div class="row">
                         <div class="col-sm-10 col-sm-offset-1">
                             <div class="panel panel-info panel-toggle">
                                 <div class="panel-heading">
                                     <h3 class="panel-title">Summary</h3>
                                 </div>
                                 <div class="panel-body">

                                     {% get_summary query_set %}
                                     {% comment %}{% if query_set.ref_url %}
                                        (<a href="{{ query_set.ref_url }}" target="_blank">R</a>)
                                     {% endif %}{% endcomment %}

                                 </div><!-- /.panel-body -->
                                 <div class="panel-footer"></div>
                             </div>
                         </div>
                     </div>

                    {% include 'genome/partials/advertisement.html' %}

                    {% if file_exists and user.is_authenticated %}
                    <div class="panel panel-no-border panel-info panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="my-snps">
                            <div class="pull-left"><h3 class="panel-title">My SNPs</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <div class="my_snp_table">

                            </div>
                            <div class="row">
                                <button class="btn btn-default center-block user-snp-load-more"
                                        data-type="my_snp"
                                        data-action="old-load-more"
                                >Load more</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if file_exists and user.is_authenticated %}
                    <div class="panel panel-no-border panel-info panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="my-snps-within-subcategories-of-this-disease">
                            <div class="pull-left"><h3 class="panel-title">My SNPs Within Subcategories of This Disease</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <div class="my_snp_table"></div>

                            <div class="row">
                                <button
                                    class="btn btn-default center-block user-snp-load-more"
                                    data-type="my_snp_sub_diseases"
                                    data-action="old-load-more"
                                >Load more</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if not user.is_authenticated %}
                    <div class="panel panel-no-border panel-info panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="all-snps">
                            <div class="pull-left">
                                <h3 class="panel-title">
                                    All SNPs
                                </h3>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-plus">
                                </i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <table class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Genes</th>
                                        <th>SNP</th>
                                        <th>Risk Alleles</th>
                                    </tr>
                                </thead>
                                <tbody id="my_other_table">

                                </tbody>
                            </table>

                            <div class="row">
                                <button class="btn btn-default center-block" id="user-other-load-more" data-action="old-load-more">Load more</button>
                            </div>

                        </div>
                    </div>
                    {% endif %}

{#                    {% if query_set.relation.hierarchy %}#}
                        <div class="panel panel-no-border {% if query_set.relation.hierarchy %} panel-info {% else %} panel-default{% endif %} panel-toggle">
                            <div class="panel-heading" id="disease-hierarchy" data-hash="disease-hierarchy">
                                <div class="pull-left"><h3 class="panel-title">Disease Hierarchy</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">

                            </div>
                        </div>
{#                    {% endif %}#}


                    {% if user.is_authenticated %}
                        {% if beneficial_subs_recomends %}
                            <div class="panel panel-no-border panel-info{% if file_exists %} panel-toggle{% endif %}" data-plugin="collapsible">
                                <div class="panel-heading" id="beneficial-substance-recommendations-for-your-bad-genes" data-hash="beneficial-substance-recommendations-for-your-bad-genes">
                                    <div class="pull-left">
                                        <h3 class="panel-title">
                                            Beneficial Substance Recommendations for Your Bad {{ query_set.name|title }} Genes
                                        </h3>
                                    </div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <table>
                                        {% for chemical in beneficial_subs_recomends %}
                                            <tr>
                                                <td><a href="{% url "chemical:chemical" chemical.slug %}">{{ chemical.display_name|title }} ({{ chemical.cnt }})</a></td>
                                                <td><button
                                                    type="button"
                                                    data-title= "Page of chemical {{ chemical.display_name|title }}"
                                                    data-url="{% url 'recommendation:api' chemical.id %}?diseases%5B%5D={{ query_set.id }}"
                                                    class="btn btn-xs btn-primary chem-btn">See substance gene interactions
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}


                        {% if toxins_recomends %}
                            <div class="panel panel-no-border panel-info{% if file_exists %} panel-toggle{% endif %}" data-plugin="collapsible">
                                <div class="panel-heading" id="toxins-to-stay-away-from-for-your-bad-genes" data-hash="toxins-to-stay-away-from-for-your-bad-genes">
                                    <div class="pull-left">
                                        <h3 class="panel-title">
                                            Toxins to Stay Away From for Your Bad {{ query_set.name|title }} Genes
                                        </h3>
                                    </div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <table>
                                        {% for chemical in toxins_recomends %}
                                            <tr>
                                                <td><a href="{% url "chemical:chemical" chemical.slug %}">{{ chemical.display_name|title }} ({{ chemical.cnt }})</a></td>
                                                <td><button
                                                    type="button"
                                                    data-title= "Page of chemical {{ chemical.display_name|title }}"
                                                    data-url="{% url 'recommendation:api' chemical.id %}?diseases%5B%5D={{ query_set.id }}"
                                                    class="btn btn-xs btn-primary chem-btn">See substance gene interactions
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

{#                    {% if query_set.relation.genes %}#}
                        {% include "genome/partials/disease_gene_interaction.html" %}
{#                    {% endif %}#}
{#                    {% if query_set.relation.chemicals %}#}
                        {% include "genome/partials/disease_chemical_interaction.html" %}
{#                    {% endif %}#}

{#                    {% if query_set.relation.molecular_functions or query_set.relation.biological_processes %}#}
                        <div class="panel panel-no-border {% if query_set.relation.molecular_functions or query_set.relation.biological_processes %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                            <div class="panel-heading" id="processes-associated-with-disease"
                                 data-hash="processes-associated-with-disease">
                                <div class="pull-left">
                                    <h3 class="panel-title">
                                        Processes Associated With Disease
                                    </h3>
                                </div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                {% if query_set.relation.molecular_functions %}
                                    {% include "genome/partials/disease_gene_ontology.html" with interactions=molecular_functions link="molecular-function" title="Molecular Function Associated With Disease" %}
                                {% endif %}
                                {% if query_set.relation.biological_processes %}
                                    {% include "genome/partials/disease_gene_ontology.html" with interactions=biological_process link="biological-process" title="Biological Processes Associated With Disease" %}
                                {% endif %}
                            </div>
                        </div>
{#                    {% endif %}#}

{#                    {% if query_set.relation.pathways %}#}
                        <div class="panel panel-no-border {% if query_set.relation.pathways %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                            <div class="panel-heading" id="pathways-associated-with-disease"
                                 data-hash="pathways-associated-with-disease">
                                <div class="pull-left">
                                    <h3 class="panel-title">
                                        Pathways Associated With Disease
                                    </h3>
                                </div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <table class="table table-bordered" cellspacing="0" width="100%" style="display: none;">
                                    <thead>
                                    <tr>
                                        <td>Gene</td>
                                        <td>Associated Pathway</td>
                                    </tr>
                                    </thead>
                                    <tbody id="pathway-interaction-table">
                                    {#                                        {% include "genome/partials/table_bodies/disease_pathway_interaction.html" with interactions=disease_pathways %}#}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <button id="more-pathways"
                                            style="margin-top: 15px;"
                                            class="btn btn-default center-block"
                                            data-url="{% url "disease_pathways_ajax" query_set.slug %}"
                                            data-action="old-load-more"
                                            type="button">Load more
                                    </button>
                                </div>
                            </div>
                        </div>
{#                    {% endif %}#}


{#                    {% if query_set.relation.symptoms %}#}
                        <div class="panel panel-no-border {% if query_set.relation.symptoms %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                            <div class="panel-heading" data-hash="disease-symptoms">
                                <div class="pull-left">
                                    <h3 class="panel-title">
                                        Symptoms Associated With Disease
                                    </h3>
                                </div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <ul id="disease-symptom-ul">

                                </ul>
                                <div class="row">
                                    <button id="disease-symptoms-load-more"
                                            style="margin-top: 15px;"
                                            class="btn btn-default center-block"
                                            data-url="{% url "diseasetrait_symptoms_ajax" query_set.slug %}"
                                            data-type="{{ link }}"
                                            data-action="old-load-more"
                                            type="button">
                                        Load more
                                    </button>
                                </div>
                            </div>
                        </div>
{#                    {% endif %}#}
                </article>
            </main>
        </div>
    </div>

    {% include 'genome/partials/modal_bodies/modal_body.html' %}

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js" integrity="sha256-z0A2CQF8xxCKuOJsn4sJ5HBjxiHHRAfTX8hDF4RSN5s=" crossorigin="anonymous"></script>
    <script src="{% static 'genome/cola.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'genome/diseasetrait.js' %}"></script>
    <script src="{% static 'genome/disease_tree.js' %}"></script>
    <script src="{% static 'genome/reports.js' %}"></script>

    {% include 'genome/partials/ad_popup.html' %}

{% endblock %}