{% extends "base.html" %}

{% load static %}
{% load genome_tags %}
{% load genome_simple_description %}
{% load genome_split_delimeter %}

{% block head %}
    <style>
        ul.gene-box-list li {
            height: 35px;
            border-top: 1px solid #ddd;
            border-top-color: #E6E9ED;
            padding: 8px;
            list-style-type: none;
        }

        ul.gene-box-list {
            padding-left: 0;
        }

        .gene-pack-header{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="#"
                                                    title="User">User</a></li>
        <li class="active">Potentially Bad Genes</li>
    </ol>
{% endblock %}

{% block page_title %}
    Potentially Bad Genes
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">

                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                    <div class="section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">

                                    {% if gene_list|length > 0 %}
                                    <h3>Potentially Bad Genes</h3>
                                    <p>These are genes which have a large number of SNPs which are known to alter the function of the gene significantly.
                                        In other words, this tool gives you an idea of which of your genes you are most likely to function abnormally. The results are based on a simple experimental
                                        algorithm so predictions should not be viewed as being accurate, but more as a guide to bring your attention to certain genes.</p>
                                    {% else %}
                                        <div style="font-size: 18px;" class="text-center">
                                        <p>Recommendations is our new cool feature and requires you to <a href="{% url "uploader" %}">upload the genome files</a> again or
                                                <a href="{% url "dashboard" %}#section-my-files">re-scan</a> previously uploaded file in your dashboard.</p>
                                            <p>After that is done you will see recommendations on this page.</p>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                            </div>
                                            <div class="row">

                                        {% for grouper, items in gene_list.items %}
{#                                            {% get_gene_score items as gene_score %}#}
                                            <div class="col-sm-3">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading clearfix">
                                                        {% split_string grouper '|' as splitted_gene %}
                                                        <h3 class="panel-title pull-left gene-pack-header" title="{{ splitted_gene.gene_name|upper }} ({{ splitted_gene.gene_score|floatformat:2 }})">
                                                            <a href="{% url 'gene' splitted_gene.gene_slug %}" style="color:white !important;"
                                                               class="hashtip"
                                                                title="{% simple_description_by_gene splitted_gene.gene_name %}">
                                                                {{ splitted_gene.gene_name|upper }}
                                                            </a>
                                                            <span>({{ splitted_gene.gene_score|floatformat:2 }})</span>
                                                        </h3>
                                                        <button data-url="{% url "add_bookmark_snp" %}"
                                                                data-pk="{{ items.0.pk }}"
                                                                data-action="bookmark-gene-snps"
                                                                class="btn btn-default btn-xs modal-button pull-right"
                                                                style="margin-bottom: 6px;">
                                                            <i class="fa fa-bookmark"></i>
                                                        </button>
                                                    </div>
                                                    <div class="panel-body" style="height:215px;overflow-y:scroll;">

                                                        <div class="snp-content">
                                                            <ul class="gene-box-list" data-snp-class="MAOA">
                                                                {% for item2 in items|sort_snps %}
                                                                    <li><a href="{% url 'snp' item2.rsid %}" target="_blank">{{ item2.rsid }}</a>
                                                                        <span class="pull-right">{% genotype_badge item2.genotype item2.minor_allele item2.genotype %}</span>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>


                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="right-content pull-right snp-collapse collapsed"
                                                             data-snp-class="MAOA">
                                                            {% if splitted_gene.gene_id in bad_genes %}
                                                                <i class="fa fa-exclamation-circle text-danger pull-right"
                                                                    data-toggle="tooltip" title="Contains Risk Alleles"
                                                                    aria-hidden="true"></i>
                                                            {% else %}
                                                                <i class="fa fa-exclamation-circle text-danger pull-right invisible"
                                                                   aria-hidden="true">
                                                                </i>
                                                            {% endif %}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div><!-- /.panel panel-success -->
                                            </div>

                                        {% endfor %}
{#                                        {% endfor %}#}


                                    </div>

                                <div class="pull-right">
                                    {% if page.has_previous %}
                                        <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                                           href="?page={{ page.previous_page_number }}">Prev</a>
                                    {% endif %}
                                    {{ page.number }} of {{ page.paginator.num_pages }}
                                    {% if page.has_next %}
                                        <a style="color:#fff;background-color:#37BC9B;border-color: #48CFAD;border-radius:4px;padding:7px;"
                                           href="?page={{ page.next_page_number }}">Next</a>
                                    {% endif %}
                                </div>

                                </div><!-- #col-sm-12 -->
                            </div><!-- /.row -->
                        </div><!-- .container -->
                    </div><!-- .section -->
                </div>
            </div>
        </div>
    </div> <!--   SECTION 		-->

    </div><!-- #content -->

{% endblock %}

{% block scripts %}

    <script src="{% static "genome/reports.js" %}"></script>

{% endblock %}
