{% extends "base.html" %}

{% load keyword_link %}
{% load remove_whitespace %}
{% load static from staticfiles %}

{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Genes">
                Disease/Trait
            </a></li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.name|upper }}
            </strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.name|upper }}{% if query_set.full_name %}({{ query_set.full_name|upper }}){% endif %}
    {% if user.is_staff %}
        <a href="/joes_office/genome/diseasetrait/{{ query_set.pk }}/change/"> Edit</a> {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-3048"
                         class="post-3048 gene type-gene status-publish hentry snp_category-cardiovascular snp_category-circadian-rhythm snp_category-cognitive snp_category-health-report snp_category-main snp_category-sleep-related snp_category-obesity">

                    <div class="row">
                        <div class="col-xs-12">
                            <ol>
                                {% for item in page.object_list %}
                                    <li><a href="{% url "diseasetrait" pk=item.diseasetrait.pk %}">{{ item.diseasetrait.name|capfirst }}</a>&nbsp;(<strong>{{ item.score|floatformat:3 }}</strong>)</li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% if page.has_other_pages %}
                            <ul class="pagination pagination-centered">
                                {% if page.has_previous %}
                                    <li><a href="?page=1"><<</a></li>
                                    <li><a href="?page={{ page.previous_page_number }}"><</a></li>
                                {% endif %}

                                <li class="active"><a href="#">Page {{ page.number }}
                                    of {{ page.paginator.num_pages }}.</a></li>

                                {% if page.has_next %}
                                    <li><a href="?page={{ page.next_page_number }}">></a></li>
                                    <li><a href="?page={{ page.paginator.num_pages }}">>></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>

                </article>
            </main>
        </div>
    </div>

{% endblock %}
