{% extends "base.html" %}

{% load keyword_link %}
{% load remove_whitespace %}
{% load static from staticfiles %}
{% load split from genome_filters %}
{% load genome_filters %}
{% load genome_tags %}
{% load chemical_tooltip %}
{% load format_protein_name from formatting %}
{% load badges_inclusion %}
{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <link rel="stylesheet" href="{% static "experiment/details.css" %}">
    <link rel="stylesheet" href="{% static "genome/css/ebi-fonts.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Genes">
                Genes
            </a></li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.name|upper }}
            </strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.name|upper }}
    {% if query_set.full_name %}
        ({{ query_set.full_name|capfirst }})
    {% endif %}

    {% show_badges query_set bad_genes contains_risk_allele %}

    {% if user.is_staff %}
        <a href="/joes_office/genome/gene/{{ query_set.id }}/change/"> Edit</a>
    {% endif %}
    {% if user.is_authenticated and user.user_profile.active_file_id %}
        <button data-url="{% url "add_bookmark_snp" %}"
                data-pk="{{ query_set.pk }}"
                data-action="bookmark-gene-snps"
                class="btn btn-default btn-sm btn-rounded-sm modal-button"
                style="margin-bottom: 6px;">
            <i class="fa fa-bookmark"></i>
        </button>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-3048"
                         class="post-3048 gene type-gene status-publish hentry snp_category-cardiovascular snp_category-circadian-rhythm snp_category-cognitive snp_category-health-report snp_category-main snp_category-sleep-related snp_category-obesity">
                    <div class="row">
                        <div class="{{ col_style }}">
                            {% if query_set.description_simple != "" %}
                                <div class="panel panel-info panel-toggle">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Summary of {{ query_set.name|upper }}</h3>
                                    </div>
                                    <div class="panel-body">

                                        {{ query_set.description_simple|keyword_link|safe }}
                                        <br>
                                        {% if query_set.exception_status %}
                                            <strong>It's better to have this gene {{ query_set.exception_status }} most of the time.</strong>
                                            {% if query_set.disease_exceptions.exists %}
                                            Exceptions:
                                                {% for disease in query_set.disease_exceptions.all %}
                                                    <a href="{% url 'disease' disease.slug %}" target="_blank">{{ disease.name }}</a>{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <div data-action="voting" data-content-type="gene" data-label="genome" data-object-id="{{ query_set.id }}" id="genome-gene-{{ query_set.id }}">
                                                <span class="score"></span>
                                                <i class="fa fa-arrow-up up pointer" aria-hidden="true" title="Vote this gene shoud be increased"></i>
                                                <i class="fa fa-arrow-down down pointer" aria-hidden="true" title="Vote this gene shoud be decreased"></i>
                                                <span style="font-size: 10px">
                                                    <span class="inc_counter">0</span>
                                                    user want this gene increased,
                                                    <span class="dec_counter">0</span>
                                                    users want it decreased
                                                </span>
                                            </div>
                                        {% endif %}
                                        </div><!-- /.panel-body -->
                                        <div class="panel-footer"></div>
                                </div>
                            {% endif %}
                            {% if query_set.function %}
                                <div class="panel panel-info panel-toggle">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Function</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>{{ query_set.function }}</p>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>

                            {% endif %}
                        </div>

                        {% if query_set.protein_names %}
                            <div class="col-sm-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Protein names</h3>
                                    </div>
                                    <div class="panel-body lesser-font">
                                        {% with query_set.protein_names|format_protein_name as formatted %}
                                            {% if formatted.rec_name %}
                                                <div>
                                                    <p><strong>Recommended name:</strong></p>
                                                    <span>{{ formatted.rec_name }}</span>
                                                </div>
                                            {% endif %}
                                            {% if formatted.short_name %}
                                                <div>
                                                    <p><strong>Short name:</strong></p>
                                                    <span>{{ formatted.short_name }}</span>
                                                </div>
                                            {% endif %}
                                            {% if formatted.alt_names %}
                                                <div>
                                                    <p><strong>Alternative name(s):</strong></p>
                                                    {% for name in formatted.alt_names %}
                                                        <span>{{ name }}</span> <br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="panel-footer">

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% include 'genome/partials/advertisement.html' %}

                    {% if related_snps and user.is_authenticated %}
                        <div class="panel panel-no-border panel-info panel-toggle">
                            <div class="panel-heading bg-snps" id="related-snps">
                                <div class="pull-left"><h3 class="panel-title">{{ query_set.name|upper }} SNPs</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                                <div class="panel-body collapsed">
                                    <ol>
                                        <p>
                                            {% for item in related_snps %}
                                                <li>
                                                    <a href="/snp/{{ item.rsid }}/"
                                                       class="related_item">{{ item.rsid|upper }}
                                                    </a>
                                                    {% if item.risk_allele %}
                                                        <i class="fa fa-exclamation-circle text-danger hashtip" title="Contains Risk Alleles"></i>
                                                    {% endif %}
                                                    {% if item.genotype %}
                                                        {% genotype_with_frequency item.genotype item.id item.minor_allele item.genotype %}
                                                    {% endif %}
                                                    {{ userrsid_bad_genes }}
{#                                                    {% if item.userrsid in userrsid_bad_genes %}#}
{#                                                        test#}
{#                                                    {% endif %}#}
                                                </li>
                                            {% endfor %}
                                    </ol>
                                </div>
                        </div>

                        {% elif query_set.snps.exists and not user.is_authenticated %}
                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading bg-snps" id="related-snps">
                                    <div class="pull-left"><h3 class="panel-title">{{ query_set.name|upper }} SNPs</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="panel-body collapsed">
                                    <ol>
                                        <p>To see your genotype, you should be <a href="/accounts/login">logged in</a> and have a file with your genotype uploaded.</p>
                                            {% for item in query_set.snps.all %}
                                                <li><a href="/snp/{{ item.rsid }}/"
                                                       class="related_item">{{ item.rsid|upper }}
                                                    ({{ query_set.name|upper }}) </a><a href="/accounts/login"><span
                                                        class="badge">??</span></a></li>
                                            {% endfor %}
                                    </ol>
                                </div>
                            </div>

                        {% endif %}

                        {% if top_interactions %}
                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading" id="top-gene-substance-interactions">
                                    <div class="pull-left"><h3 class="panel-title">Top Gene-Substance Interactions</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <div id="top_interacting_highcgart"></div>
                                </div>
                            </div>
                        {% endif %}

                        {% include "genome/partials/gene_disease_interaction.html" %}

                        {% if query_set.fix_simple %}
                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading" id="fixes">
                                    <div class="pull-left"><h3 class="panel-title">Fixes</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <p>{{ query_set.fix_simple|safe }}</p>

                                    {% if query_set.fix_advanced %}
                                        <div class="panel panel-no-border panel-default panel-toggle">
                                            <div class="panel-heading" id="fixes-advanced">
                                                <div class="pull-left"><h3 class="panel-title">Fixes Advanced</h3></div>
                                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="panel-body collapsed">
                                                <p>{{ query_set.fix_advanced|safe }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

{#                        {% if query_set.relation.chemicals_increase %}#}
                            {% include "genome/partials/gene_chemical_increase.html" %}
{#                        {% endif %}#}
{#                        {% if query_set.relation.chemicals_decrease %}#}
                            {% include "genome/partials/gene_chemical_decrease.html" %}
{#                        {% endif %}#}

                        {% if query_set.description_advanced %}
                        <div class="panel panel-no-border panel-info panel-toggle">
                            <div class="panel-heading bg-snps" id="advanced-summary">
                                <div class="pull-left"><h3 class="panel-title">Advanced Summary</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="panel-body collapsed">
                                <p>{{ query_set.description_advanced|keyword_link|safe }}</p>
                            </div>
                        </div>
                        {% endif %}
{#                        {% if query_set.relation.experiments_increase %}#}
                            {% include "genome/partials/experiment_increase.html" %}
{#                        {% endif %}#}
{#                        {% if query_set.relation.experiments_decrease %}#}
                            {% include "genome/partials/experiment_decrease.html" %}
{#                        {% endif %}#}
{#                        {% if query_set.relation.transcription_factors %}#}
                        <div class="panel panel-no-border {% if query_set.relation.transcription_factors %} panel-info {% else %} panel-default{% endif %} panel-toggle">
                            <div class="panel-heading" id="technical">
                                <div class="pull-left"><h3 class="panel-title">Technical</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">

                                {% if query_set.relation.transcription_factors %}
                                    <h4>The following transcription factors affect gene expression (<a
                                            href="http://www.sabiosciences.com/chipqpcrsearch.php?gene={{ query_set.name }}&factor=Over+200+TF&species_id=0&ninfo=n&ngene=n&nfactor=y">R</a>):
                                    </h4>
                                    <ul>
                                        {% for item in query_set.transcription_factors.all %}
                                            <li><a href="{{ item.ref_url }}" target="_blank">{{ item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if query_set.tissue_specificity %}
                                    <h4>Tissue specificity:</h4>
                                    <p>{{ query_set.tissue_specificity }}</p>
                                {% endif %}

                                {% if query_set.global_pathways.count %}
                                    <div>
                                        <h4>Gene Pathways:</h4>
                                        <ul>
                                            {% for pathway in query_set.global_pathways.distinct %}
                                                <li>
                                                    <a href="{% url "gene_pathway_details" query_set.name pathway.pathway_id %}" target="_blank">{{ pathway.pathway_name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% if query_set.induction %}
                                <h4>Induction:</h4>
                                <p>{{ query_set.induction }}</p>
                            {% endif %}

                            {% if query_set.developmental_stage %}
                                <h4>Developmental stage:</h4>
                                <p>{{ query_set.developmental_stage }}</p>
                            {% endif %}

                            {% if query_set.caution %}
                                <h4>Caution:</h4>
                                <p>{{ query_set.caution }}</p>
                            {% endif %}

                            {% if query_set.enzyme_regulation %}
                                <h4>Enzyme Regulation:</h4>
                                <p>{{ query_set.enzyme_regulation }}</p>
                            {% endif %}

                            {% if query_set.cofactor %}
                                <h4>Cofactor:</h4>
                                <p>{{ query_set.cofactor }}</p>
                            {% endif %}


                            {% if data_set.molecular_function %}
                                <h4>Molecular Function:</h4>
                                <ul>
                                    {% for go in data_set.molecular_function.all %}
                                        <li><a href="/molecular-function/{{ go.go_id }}" target="_blank">{{ go.go_name|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if data_set.biological_processes %}
                                <h4>Biological Processes:</h4>
                                <ul>
                                    {% for go in data_set.biological_processes.all %}
                                        <li><a href="/molecular-function/{{ go.go_id }}" target="_blank">{{ go.go_name|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if query_set.relation.drug_bank %}
                                <h4>Drug Bank:</h4>
                                <ul>
                                    {% for item in data_set.drug_bank %}
                                        {% if item.chemical_id %}
                                            <li><a href="{% url "chemical:chemical" item.chemical.slug %}">{{ item.value|title }}</a></li>
                                        {% else %}
                                            <li>{{ item.value|title }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if query_set.relation.synonyms %}
                                <h4>Synonyms/Aliases/Alternative Names of the Gene:</h4>
                                    {{ query_set.synonyms.all|join:"| " }}
                            {% endif %}
                        </div>
{#                        {% endif %}#}
                    </div>
                </article>
            </main>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static "genome/reports.js" %}"></script>
<script>
jQuery(function () {
    jQuery('#top_interacting_highcgart').highcharts({
        chart: {
            type: 'bar'
        },
        exporting: {
            enabled: false
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                {% gene_chemical_highchart_categories top_interactions gene=query_set %}
            ],
            labels: {
                useHTML: true
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Interactions'
            },
            allowDecimals: false
        },
        series: [
            {
                name: 'Interactions',
                data: [
                    {% for interaction in top_interactions %}
                        {
                            y:{{ interaction.total }},
                            desc: '{{ interaction.interaction }}',
                            slug: '{{ interaction.chemical__slug }}'
                        },
                    {% endfor %}
                ]
            }
        ],
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            window.location.href = '/chemical/' + this.slug;
                        }
                    }
                }
            }
        },
        tooltip: {
            backgroundColor: "rgba(255,255,255,1)",
            useHTML: true,
            opacity: 1,
            formatter: function () {
                return this.point.desc + '<br>'
                        + 'Number of interactions: <b>' + this.y + '</b>';
            }
        }
    });
});
</script>
    <script src="{% static "genome/gene.js" %}"></script>
    <script src="{% static "genome/rating.js" %}"></script>
    {% include 'genome/partials/ad_popup.html' %}

{% endblock %}
