{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <style>
        img {
            max-width: 100%;
        }
        .last-div {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="clearfix" style="padding: 30px 0;">
        <h4 class="text-center"><a href="{% url "gene" gene.slug %}">{{ gene.name|title }}</a>: {{ pathway.pathway_name }}</h4>
        <div class="container">
            <div id="primary" class="content-area">
                <div class="panel panel-no-border panel-info panel-toggle">
                    <div class="panel-heading" id="related-diseases">
                        <div class="pull-left"><h3 class="panel-title">Related Diseases</h3></div>
                        <div class="pull-right"><i class="fa fa-plus"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body collapsed">
                        <ul>
                            {% for interaction in diseases %}
                                <li><a href="{% url "disease" interaction.disease.slug %}">{{ interaction.disease.name|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-md-10 col-md-offset-1 last-div">
            {{ pathway.html|safe|default:"No Pathway Map Found" }}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/imageMapResizer.min.js' %}"></script>
    <script>
    var hash = window.location.hash;

    if (hash) {
        var $this = $(hash);
        if ($this.length > 0) {
            var $icon = $this.find('.fa');
            $icon.hasClass('fa-plus');
            $icon.removeClass("fa-plus").addClass("fa-minus");
            $this.next().slideToggle();
            scrollToPosition($this);
        }
    }
    $('.panel-toggle .panel-heading').on('click', function () {
        var $this = $(this);
        var $icon = $this.find('.fa');
        if ($icon.hasClass('fa-plus')) {
            $icon.removeClass("fa-plus").addClass("fa-minus");
            window.location.hash = '#' + $this.attr('id');
            scrollToPosition($this);
        }
        else
            $icon.removeClass("fa-minus").addClass("fa-plus");
        $this.next().slideToggle();
    });
    function scrollToPosition(elem) {
        $('html, body').animate({
            scrollTop: parseInt(elem.offset().top - $(".top-navbar").height() - 10)
        }, 1000);
    }

    $('map').imageMapResize();

    </script>
{% endblock %}
