{% extends "base.html" %}

{% load keyword_link %}
{% load genome_tags %}
{% load genome_filters %}
{% load genome_simple_description %}
{% load badges_inclusion %}
{% load static from staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
{% endblock %}

{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}


{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#"
               title="{{ query_set.get_type_display }}">{{ query_set.get_type_display }}</a>
        </li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.name|upper }}
            </strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.go_name|title }}
    {% if user.is_staff %}
        <a href="/joes_office/genome/geneontology/{{ query_set.id }}/change/"> Edit</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            {% include 'genome/partials/advertisement.html' %}
            <main id="main" class="site-main" role="main">
                {% load remove_whitespace %}
                <div class="panel panel-no-border panel-info panel-toggle">
                    <div class="panel-heading" id="disease-associations">
                        <div class="pull-left"><h3 class="panel-title">Diseases Associated With {{ query_set.go_name|title }}</h3></div>
                        <div class="pull-right"><i class="fa fa-plus"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body collapsed">
                        <table class="table table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <td>Disease</td>
                                <td>Inference Gene</td>
                            </tr>
                            </thead>
                            <tbody id="gene-interaction-table">
                                {% include 'genome/partials/table_bodies/gene_ontology_disease.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-no-border panel-info panel-toggle">
                    <div class="panel-heading" id="related-genes">
                        <div class="pull-left"><h3 class="panel-title">Related Genes</h3></div>
                        <div class="pull-right"><i class="fa fa-plus"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body collapsed">
                        <ul>
                            {% for item in query_set.gene_set.all %}
                                <li><a href="{% url 'gene' item.slug %}" rel="bookmark">{{ item.name|upper }}</a>
                                <span>
                                    {% show_badges item.pk bad_genes contains_risk_allele %}
                                </span>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
{% endblock %}

{% block scripts %}
    {% include 'genome/partials/ad_popup.html' %}
    <script src="{% static 'genome/scroller.js' %}"></script>
{% endblock %}

