{% extends "base.html" %}
{% load staticfiles %}
{% load demouser %}

{% block head %}
    <style>
        .like{
            cursor: pointer;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">Gene Packs</li>
    </ol>
{% endblock %}

{% block page_title %}
    Gene Packs
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                {% include 'genome/_profile_sidebar.html' %}
                <div class="col-sm-10">
                    {% if not user|is_demouser %}
                    <a href="{% url 'create-gene-pack' %}">
                        <button type="button" class="btn btn-sm btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create a gene pack
                        </button>
                    </a>
                    {% endif %}

                    <div class="section">
                        <div class="container-fluid">
                            <div class="section-heading">
                                <div class="inner-border"></div>
                                <h3>MY FAVORITE GENE PACKS</h3>
                            </div>

                            <div class="row" id="favorite-container">

                            </div>
                            <button class="btn btn-info center-block"
                                    id="favorite-packs-load-more"
                                    data-value="{&quot;gene&quot;: &quot;ace&quot;}">Load more
                            </button>
                        </div>
                    </div>

                    <div class="section">
                        <div class="container-fluid">
                            <div class="section-heading">
                                <div class="inner-border"></div>
                                <h3>UPVOTED GENE PACKS</h3>
                            </div>

                            <div class="row" id="upvoted-container">

                            </div>
                            <button class="btn btn-info center-block"
                                    id="upvoted-packs-load-more"
                                    data-value="{&quot;gene&quot;: &quot;ace&quot;}">Load more
                            </button>
                        </div>
                    </div>

                    <div class="section">
                        <div class="container-fluid">
                            <div class="section-heading">
                                <div class="inner-border"></div>
                                <h3>NO UPVOTES</h3>
                            </div>
                            <div class="row" id="not-upvoted-container">

                            </div>
                            <button class="btn btn-info center-block"
                                    id="not-upvoted-packs-load-more"
                                    data-value="{&quot;gene&quot;: &quot;ace&quot;}">Load more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "genome/genepack.js" %}"></script>
{% endblock %}