{% extends "base.html" %}


{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me"
                                 title="Home">Home</a></li>
        <li class="item-current item-18076"><strong class="bread-current bread-18076"> Disclaimer</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Disclaimer
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-18076" class="post-18076 page type-page status-publish hentry">
                    <div class="entry-content">
                        <p>
                            SelfDecode does not and should not be used to treat, diagnose or cure any conditions, but is
                            rather for informational and educational purposes alone. The body is very complex and you
                            should not be making any medical decisions based on the information contained in this site
                            and should speak to your doctor before taking any actions that pertain to your health or any
                            condition you may have.
                        </p>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->

    </div><!-- #content -->

    {% if query_set.slug == 'done' %}
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                style="display: none;">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Share with Facebook</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            I just uploaded my Genome to be analyzed by SelfDecode.com!
                        </p>
                        <p>
                        <div class="fb-share-button"
                             data-href="{{ abs_url }}"
                             data-layout="button"
                             data-mobile-iframe="false">
                            <a class="fb-xfbml-parse-ignore" target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ abs_url }}&amp;src=sdkpreparse">Share</a>
                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="fb-root"></div>
        {% block scripts %}
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: 'fb_app_id',
                        xfbml: true,
                        version: 'v2.8'
                    });
                    $('[data-toggle="modal"]').click();
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endblock %}
    {% endif %}

{% endblock %}