{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'genome/css/proxima.css' %}">
	<link rel="stylesheet" href="{% static 'genome/css/home_page.css' %}">
	<link rel="stylesheet" href="{% static 'genome/css/home_page_responsive.css' %}">

    <style>
        body {
            padding-top: 0px;
        }
        .page-title-wrap {
            display: none;
        }
    </style>
{% endblock %}

{% block inline_notifications %}{% endblock %}

{% block navbar %}
    {% include "proxima-nav-bar.html" %}
{% endblock %}

{% block content %}

    <div class="section-2" style="background:white;">
        <h1 class="how-it-works" id="how-it-works">How It Works</h1>
        <div class="col-sm-4">
            <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/upload.jpg">
            <h4 class="step">Upload your genetic data</h4>
            <p>We accept 23andMe, Ancestry, Courtagen and FamilyTree</p>
        </div>
        <div class="col-sm-4">
            <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/form.jpg">
            <h4 class="step">Enter your symptoms</h4>
            <p>This data informs the genetics pathways that we will recommend you focus on improving</p>
        </div>
        <div class="col-sm-4">
            <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/recom.jpg">
            <h4 class="step">Get recommendations</h4>
            <p>We integrate genetics, blood tests, symptoms and more, to give you the best recommendations possible</p>
        </div>
    </div>

    <section class="section-3">
        <div class="col-sm-6">
            <div class="right-box">
                <h1>Your Variance.</h1>
                <h4>Filter through our database of <span style="font-weight:600;">30,000 SNPs</span> and see your
                    variation from the normal population. Sort by SNP importance, minor allele frequency and reputation.
                </h4>
            </div>
        </div>
        <div class="col-sm-6">
            <img class="comp-image" src="{% static "genome/images/macbook-pro-black-screen.png" %}">
        </div>
    </section>

    <section class="section-features">
        <div class="col-sm-4">
            <h4 class="step">Recommendation Engine</h4>
            <img src="{% static "genome/images/recommendations.png" %}"><br><br><br>
            <p>We use proprietary algorithms to filter through all of the interventions that interact well with your
                custom profile to deliver optimal recommendations</p>
        </div>
        <div class="col-sm-4">
            <h4 class="step">Genes To Look At</h4>
            <img src="{% static "genome/images/genes-to-look-at.png" %}"><br><br><br>
            <p>We have an algorithm that identifies potentially problematic genes that you should keep an eye on</p>
        </div>
        <div class="col-sm-4">
            <h4 class="step">Snp Analyzer</h4>
            <img src="{% static "genome/images/snp-analyzer.png" %}"><br><br><br>
            <p>Our SNP analyzer aggregates data relevant to specific issues into unified report. We have over 100 categories to choose from</p>
        </div>
    </section>

    <section class="section-community">
        <div class="col-md-6 text-center">
            <img src="{% static "genome/images/forum.png" %}"/>
        </div>
        <div class="col-md-6">
            <div class="right-box">
                <h1>Join a Community.</h1>
                <h4>Post on our community forums and work together to understand yourself and eachother. We have PhDs in
                    genetics and MDs moderating the boards to offer their professional insights as well.</h4>
            </div>
        </div>
    </section>



{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.btn-search a').on('click', function() {
            $('.hide-on-search').toggle();
            $('.search-box').toggle();
            $(this).find('.fa').toggleClass('fa-search');
            $(this).find('.fa').toggleClass('fa-close');
            return false;
            });

            var autocomplete_instance = $('#global-autocomplete').autocomplete({
                source: function(request, response){
                    $.ajax({
                        url: '{% url "database:main" %}',
                        data: { query: request.term },
                        dataType: 'json',
                        success: function(data){
                            result = data;
                            response(data.items);
                        },
                        error: function(data){
                        }
                    });
                },
                select: function(event, ui){
                    var url = window.location.origin + '/' + ui.item.type + '/' + ui.item.slug;
                    window.open(url, '_blank');
                }
            }).autocomplete( "instance" );
            if (autocomplete_instance)
                autocomplete_instance._renderItem = function( ul, item ) {
                    return $( "<li>" )
                            .append( "<div>" + item.label+ ':  ' + item.value + "</div>" )
                            .appendTo( ul );
                };
        })
    </script>
{% endblock %}

{% block footer %}
    {% include "proxima-footer.html" %}
{% endblock %}
