<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#simple-info-767" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Simple</a></li>
    <li role="presentation" class=""><a href="#advanced-info-767" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Advanced</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="simple-info-767"><br>
    
    {% if query_set.description_simple %}
        {{ query_set.description_simple|safe }}
    {% else %}
        No info...
    {%endif%}
    </div>
    <div role="tabpanel" class="tab-pane" id="advanced-info-767"><br>
    {% if query_set.description_advanced %}
        {{ query_set.description_advanced|safe }}
    {% else %}
        No info... 
    {%endif%}

  	</div>
  </div>
</div>