{% extends "base.html" %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">Potential Fixes</li>
    </ol>
{% endblock %}

{% block page_title %}
    Potential Fixes
{% endblock %}

{% block content %}

<div class="section">
  <div class="container">
    <div class="row">
    {% include "genome/_profile_sidebar.html" %}
      <div class="col-sm-10">
	      <div class="section">
          <div class="container">
          {% for item in query_set %}
            


            <div class="row">
              <div class="col-sm-10">
                <div class="panel panel-info">
					        <div class="panel-heading">
					          <h3 class="panel-title">Top Options for {{item.name|upper}}</h3>
					        </div>
					        <div class="panel-body">
                      {{ item.fix_simple|safe }}  
				  	      </div><!-- /.panel-body -->
				  	      <div class="panel-footer">
				  	      </div>
				        </div>
              </div><!-- #col-sm-12 -->
            </div><!-- /.row -->

            {% endfor %}




          </div><!-- .container -->
        </div><!-- .section -->
			</div>
		</div>
  </div> <!--   SECTION 		-->
</div><!-- #content -->






{% endblock %}