{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
{% endblock %}

{% block content %}
    <div style="padding: 30px 0;">
        <h4 class="text-center">{{ pathway.pathway_name }}</h4>
        <div class="container">
            <div id="primary" class="content-area">
                <div class="panel panel-no-border panel-info panel-toggle">
                    <div class="panel-heading" id="related-chemicals">
                        <div class="pull-left"><h3 class="panel-title">Related Chemicals</h3></div>
                        <div class="pull-right"><i class="fa fa-plus"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body collapsed">
                        <ul id="chemical-list">
                            {% include 'genome/partials/table_bodies/pathway_chemical.html' %}
                        </ul>
                        <div class="row">
                            <button id="more-chemicals"
                                    style="margin-top: 15px;"
                                    data-url="{% url 'pathway_chemical_ajax' pathway_id=pathway.pathway_id %}"
                                    class="btn btn-default center-block"
                                    type="button">Load more
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center">
            {{ pathway.html|safe|default:"No Pathway Map Found" }}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var chemical_page = 2;
        $('#more-chemicals').on('click', function () {
            var $this = $(this);
            $this.data("oldtext", $this.text());
            $this.text("Loading...");
            $this.attr("disabled", true);
            var url = $this.data("url") + "?page=" + chemical_page;
            $.get(url).success(function (response) {
                var paginator = response.paginator;
                if (!paginator.has_next)
                    $this.hide();
                else
                    $this.show();
                chemical_page = paginator.next_page_number;
                $("#chemical-list").append(response.data)
            }).always(function () {
                $this.text($this.data("oldtext"));
                $this.attr("disabled", false);
            });
        });

        var hash = window.location.hash;

        if (hash) {
            var $this = $(hash);
            if ($this.length > 0) {
                var $icon = $this.find('.fa');
                $icon.hasClass('fa-plus');
                $icon.removeClass("fa-plus").addClass("fa-minus");
                $this.next().slideToggle();
                scrollToPosition($this);
            }
        }
        $('.panel-toggle .panel-heading').on('click', function () {
            var $this = $(this);
            var $icon = $this.find('.fa');
            if ($icon.hasClass('fa-plus')) {
                $icon.removeClass("fa-plus").addClass("fa-minus");
                window.location.hash = '#' + $this.attr('id');
                scrollToPosition($this);
            }
            else
                $icon.removeClass("fa-minus").addClass("fa-plus");
            $this.next().slideToggle();
        });
        function scrollToPosition(elem) {
            $('html, body').animate({
                scrollTop: parseInt(elem.offset().top - $(".top-navbar").height() - 10)
            }, 1000);
        }
    </script>
{% endblock %}
