{% extends "base.html" %}
{% block title %} <title>{{ query_set.title }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3535"><strong class="bread-current bread-3535"> {{ query_set.title }}</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.title }}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-3535" class="post-3535 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div id="it-exchange-store" class="it-exchange-wrap it-exchange-account">
                            <div class="row">
                                {{ query_set.content|safe }}
                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->

{% endblock %}