{% extends "base.html" %}
{% load demouser %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile"
                                                    title="User">User</a></li>
        <li class="active">Profile</li>
    </ol>
{% endblock %}

{% block page_title %}
    Profile
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">


            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">
                {% if not user|is_demouser %}


                    <div id="it-exchange-profile" class="it-exchange-wrap it-exchange-account">
                        <form action="/profile/" method="post"><input type="hidden" name="user_id" value="313"><input
                                type="hidden" id="_profile_nonce" name="_profile_nonce" value="848b70e40b"/><input
                                type="hidden" name="_wp_http_referer" value="/profile/"/>
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-sm-12">
                                    <div class="the-box decodify-form">
                                        <h4 class="small-title">PROFILE</h4>
                                        {% if form.errors %}
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                {% for field in form %} 
                                                    {% if field.errors %}
                                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="text" class="form-control" name="email" id="email"
                                                   value="{{ user.email }}">
                                        </div>
                                        <div class="form-group">
                                            <label>First name</label>
                                            <input type="text" class="form-control" name="first_name" id="first_name"
                                                   value="{{ user.first_name }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input type="text" class="form-control" name="last_name" id="last_name"
                                                   value="{{ user.last_name }}">
                                        </div>
                                        {% if user.user_profile.stripe_customer_id %}
                                        <div class="form-group">
                                            <button id="stripe-change-card" class="btn btn-info">Update Card Details</button>
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label>Password</label>
                                            <p>******** | <a href="/accounts/password/change">Change Password</a></p>
                                        </div>

                                        <input type="hidden" name="nickname" id="nickname" value="alsol1"
                                               class="regular-text"/>
                                        <button type="submit" class="btn btn-success" id="it-exchange-save-profile"
                                                name="it-exchange-save-profile"><i class="fa fa-save"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <p>You are not allowed to view this page</p>
                {% endif %}

                </div>
            </div>
        </div>
    </div> <!--   SECTION 		-->

    </div><!-- #content -->


{% endblock %}

{% block scripts %}
    {{ super.block }}
    {% if user.user_profile.stripe_customer_id %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    $(document).ready(function(){
        var handler = StripeCheckout.configure({
            key: '{{ STRIPE_API_KEY }}',
            image: 'https://s3-us-west-1.amazonaws.com/decodify/assets/dec_strpe.png',
            locale: 'auto',
            name: 'Selfdecode',
            panelLabel: 'Update Card Details',
            email: '{{ user.email }}',
            allowRememberMe: false
        });

        $("#stripe-change-card").on("click", function (e) {
            // Open Checkout with further options:
            handler.open();
            e.preventDefault();
        });
    });
    </script>
    {% endif %}
{% endblock %}