{% extends "base.html" %}
{% load staticfiles %}

{% block title %} <title>SelfDecode | Substance Explorer</title> {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'genome/css/tipsy.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css"/>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="active">Substance Explorer</li>
    </ol>
{% endblock %}

{% block page_title %}
    Substance Explorer
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    {% if file_not_ready %}
                        <div style="font-size: 18px;" class="text-center">
                            <p>Sorry, but we can't display recommendation until your current file
                                isn't fully processed.</p>
                            <hr/>
                        </div>
                    {% else %}

                        <div style="font-size: 18px;" class="text-center">
                            {% if not user.user_profile.active_file %}
                                <p>Recommendations is our new cool feature and requires you to <a
                                        href="{% url "uploader" %}">upload the genome files</a>
                                    again or
                                    <a href="{% url "dashboard" %}#section-my-files">re-scan</a>
                                    previously uploaded file in your dashboard.</p>
                                <p>After that is done you will see recommendations on this
                                    page.</p>
                            {% else %}
                                <p class="disclaimer">SelfDecode does not and should not be used to treat, diagnose or
                                    cure any conditions, but is
                                    rather for informational and educational purposes alone. The
                                    body is very complex and you
                                    should not be making any medical decisions based on the
                                    information contained in this site
                                    and should speak to your doctor before taking any actions that
                                    pertain to your health or
                                    any condition you may have.
                                </p>
                                <p class="disclaimer">The Substance Explorer suggests substances that interact with potentially problematic genes.
                                This list is simply here to help you explore further which substances may have a
                                significant impact on your physiology, but in some cases the
                                impact can be negative even if it's in the natural category.
                                This is why you need to work with a healthcare professional
                                to see which substances may be suited for you, if any.
                                So if you see a substance listed here that you think may
                                help you, ask your healthcare professional about it.
                                </p>
                            {% endif %}

                            <hr/>
                        </div>

                        {% for obj in all_list %}
                            {% if obj.query_set %}
                                <div class="panel panel-no-border panel-info panel-toggle">
                                    <div class="panel-heading bg-snps">
                                        <div class="pull-left"><h3
                                                class="panel-title">{{ obj.title }}</h3></div>
                                        <div class="pull-right"><i class="fa fa-plus"></i></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body collapsed">
                                        <table class="gene-table">
                                            {% for chemical in obj.query_set %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url "chemical:chemical" chemical.slug %}"
                                                        {% if chemical.t3db_data.first.description|default:chemical.definition %}
                                                                    class="panel-hashtip"
                                                        {% endif %}
                                                           target="_blank"
                                                           title="{{ chemical.t3db_data.first.description|default:chemical.definition }}">
                                                            {{ chemical.display_name|title }} ({{ chemical.cnt }})
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <button
                                                                type="button"
                                                                data-title="Page of chemical {{ chemical.display_name|title }}"
                                                                data-url="{% url 'recommendation:api' chemical.id %}"
                                                                data-tab="{% if obj.title == 'Beneficial Substances for Bookmarked SNPs' %}bookmarked{% endif %}"
                                                                class="btn btn-xs btn-primary chem-btn">
                                                            See substance gene interactions
                                                        </button>
                                                        <button
                                                                type="button"
                                                                data-action="load-modal"
                                                                data-container="#concentration-modal"
                                                                data-title="Top Foods that contains {{ chemical.display_name|title }}"
                                                                data-url="{% url 'api:chemical-top-foods' chemical.id %}"
                                                                data-tmpl="#recommended-foods-modal-body "
                                                                class="btn btn-xs btn-info"
                                                                {% if not chemical.relation.preparations %} disabled {% endif %}>
                                                            Foods
                                                        </button>
                                                        <button
                                                                type="button"
                                                                data-action="load-modal"
                                                                data-container="#concentration-modal"
                                                                data-title="Top Organisms that contains {{ chemical.display_name|title }}"
                                                                data-url="{% url 'api:chemical-top-organisms' chemical.id %}"
                                                                data-tmpl="#recommended-organisms-modal-body"
                                                                class="btn btn-xs btn-danger"
                                                                {% if not chemical.relation.organisms %} disabled {% endif %}>
                                                            Organisms
                                                        </button>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if toxins %}
                            <hr/>
                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading bg-snps">
                                    <div class="pull-left"><h3 class="panel-title">Toxins (for
                                        people to stay away from)</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body collapsed">
                                    <table>
                                        {% for chemical in toxins %}
                                            <tr>
                                                <td>
                                                    <a href="{% url "chemical:chemical" chemical.slug %}"
                                                       target="_blank"
                                                       {% if chemical.t3db_data.first.description|default:chemical.definition %}
                                                           class="panel-hashtip"
                                                       {% endif %}
                                                       title="{{ chemical.t3db_data__description|default:chemical.definition }}">
                                                        {{ chemical.display_name|title }} ({{ chemical.cnt }})
                                                    </a>
                                                </td>
                                                <td>
                                                    <button
                                                            type="button"
                                                            data-title="Page of chemical {{ chemical.display_name|title }}"
                                                            data-url="{% url 'recommendation:api' chemical.id %}"
                                                            class="btn btn-xs btn-primary chem-btn">
                                                        See substance gene interactions
                                                    </button>
                                                    <button
                                                            type="button"
                                                            data-action="load-modal"
                                                            data-container="#concentration-modal"
                                                            data-title="Top Foods that contains {{ chemical.display_name|title }} you need to stay away from"
                                                            data-url="{% url 'api:chemical-top-foods' chemical.id %}"
                                                            data-tmpl="#recommended-foods-modal-body"
                                                            class="btn btn-xs btn-info"
                                                            {% if not chemical.relation.preparations %} disabled {% endif %}>
                                                        Foods
                                                    </button>
                                                    <button
                                                            type="button"
                                                            data-action="load-modal"
                                                            data-container="#concentration-modal"
                                                            data-title="Top Organisms that contains {{ chemical.display_name|title }} you need to stay away from"
                                                            data-url="{% url 'api:chemical-top-organisms' chemical.id %}"
                                                            data-tmpl="#recommended-organisms-modal-body"
                                                            class="btn btn-xs btn-danger"
                                                            {% if not chemical.relation.organisms %} disabled {% endif %}>
                                                        Organisms
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                        {% if user.user_profile.active_file %}
                            <hr/>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Selected Diseases</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select data-placeholder="Type here to select a disease"
                                                    multiple class="chosen-select diseases"
                                                    style="display: none;">
                                            </select>
                                            <div class="hidden-tags"></div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                                <div class="panel-footer"></div>
                            </div>

                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading bg-diseases">
                                    <div class="pull-left"><h3 class="panel-title">Beneficial
                                        substances for Selected Diseases</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body tab collapsed tab-diseases">
                                    <table class="diseases">

                                    </table>
                                </div>
                            </div>
                            <hr/>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Selected Genes</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select data-placeholder="Type here to select your bad genes"
                                                    multiple class="chosen-select genes"
                                                    style="display: none;">
                                            </select>
                                            <div class="hidden-tags"></div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                                <div class="panel-footer"></div>
                            </div>

                            <div class="panel panel-no-border panel-info panel-toggle">
                                <div class="panel-heading bg-genes">
                                    <div class="pull-left"><h3 class="panel-title">Beneficial
                                        substances for Selected Genes</h3></div>
                                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body tab collapsed tab-genes">
                                    <table class="genes">

                                    </table>
                                </div>
                            </div>
                            <hr/>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Substance</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select
                                                    data-placeholder="Select from over 1 million substances to see how they interact with your personal genetics."
                                                    multiple
                                                    class="chosen-select chemical"
                                                    style="display: none;">
                                            </select>
                                            <div class="chem-button pull-right"></div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                                <div class="panel-footer"></div>
                            </div>
                        {% endif %}

                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

    {% if not file_not_ready %}
        {% include 'genome/partials/modal_bodies/modal_body.html' %}
    {% endif %}

    <div class="modal fade" id="concentration-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-no-shadow modal-no-border">

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="html/template" id="tpl-toxins">
        <tr>
            <td><a href="{chem_url}" data-toggle="tooltip"
                   class="ajax-hashtip" title="{data_title}">{chem_name} ({count})</a></td>
            <td>
                <button
                        type="button"
                        data-title="Page of chemical"
                        data-url="{data_url}"
                        data-tab="{data_tab}"
                        class="btn btn-xs btn-primary chem-btn">
                    See substance gene interactions
                </button>
            </td>
        </tr>
    </script>
    <script type="html/template" id="tpl-btn">
        <button
                type="button"
                data-title="Page of chemical"
                data-url="{data_url}"
                data-tab="{data_tab}"
                class="btn btn-sm btn-primary chem-btn"
                style="height: 35px;">
            See substance gene interactions
        </button>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
            integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"
            integrity="sha256-z0A2CQF8xxCKuOJsn4sJ5HBjxiHHRAfTX8hDF4RSN5s="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'genome/cola.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'genome/recomendations.js' %}"></script>
{% verbatim %}
<script type="text/x-jquery-tmpl" id="recommended-foods-modal-body">
    <div class="modal-header bg-primary no-border">
        <button type="button" class="close"
            data-dismiss="modal" style="float:right;"
            aria-hidden="true">
        </button>
        <span class="genotype-text"
            style="float:right; margin-right:13px;"></span>
        <h4 class="modal-title">${modal_title}</h4>
    </div>

    <div class="modal-body">
    {{if response.count == 0}}
    <p>${app.config.AJAX_NOINFO_MESSAGE}</p>
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Concentration</th>
                <th>Concentration Unit</th>
            </tr>
        </thead>
        <tbody>
         {{each(i, item) response.results}}
            <tr>
                <td>${item.preparation__name}</td>
                <td>${item.max_conc}</td>
                <td>${item.conc_unit}</td>
            </tr>
         {{/each}}
        </tbody>
    </table>
    {{/if}}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
            data-dismiss="modal">Close
        </button>
    </div>
</script>
<script type="text/x-jquery-tmpl" id="recommended-organisms-modal-body">
    <div class="modal-header bg-primary no-border">
        <button type="button" class="close"
            data-dismiss="modal" style="float:right;"
            aria-hidden="true">
        </button>
        <span class="genotype-text"
            style="float:right; margin-right:13px;"></span>
        <h4 class="modal-title">${modal_title}</h4>
    </div>

    <div class="modal-body">
    {{if response.count == 0}}
    <p>${app.config.AJAX_NOINFO_MESSAGE}</p>
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Organism</th>
                <th>Concentration</th>
                <th>Concentration Unit</th>
            </tr>
        </thead>
        <tbody>
         {{each(i, item) response.results}}
            <tr>
                <td><a href="${item.details_page_url}">${item.name}</a></td>
                <td>${item.max_conc}</td>
                <td>${item.conc_unit}</td>
            </tr>
         {{/each}}
        </tbody>
    </table>
    {{/if}}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
            data-dismiss="modal">Close
        </button>
    </div>
</script>
{% endverbatim %}
{% endblock %}