{% extends "base.html" %}
{% load invert_percent %}
{% load keyword_link %}
{% load formatting %}
{% load genome_filters %}
{% load staticfiles %}
{% load genome_tags %}
{% load bookmark_snp %}

{% block title %} <title>{{ query_set.rsid }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'genome/css/snp-packs.css' %}">
    <style>
        button[data-url]{
            margin-bottom: 6px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-cat item-custom-post-type-snp">
            <a class="bread-cat bread-custom-post-type-snp" href="#" title="SNPs">
                SNPs
            </a></li>
        <li class="item-current item-custom-post-type-snp">
            <strong class="bread-current bread-archive">
                {{ query_set.rsid }}
            </strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.rsid }}
    {% if user.is_staff %}
        <a href="/joes_office/genome/snp/{{ query_set.id }}/change/">Edit</a>
    {% endif %}
    {% bookmark_snp_button query_set.id query_set.rsid %}
{% endblock %}

{% block content %}

    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
            {% include 'genome/partials/advertisement.html' %}
                <article id="post-615" class="post-615 snp type-snp status-publish hentry snp_category-enzymes">

                    <div class="entry-content col-md-8">
                        {% if query_set.studies|can_make_conclusion and user_rsid_record.genotype  %}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Conclusion
                                            <i class="fa fa-info-circle"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="The conclusion is based solely on this SNP and doesn't necessarily represent the absolute risk to an individual">
                                            </i>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for study in query_set.studies.all %}
                                            {% if study.risk_allele %}
                                                    {% for diseasetrait in study.diseasestraits.all %}
                                                    {% include "genome/partials/part_conclusion.html" with query_set=study diseasetrait=diseasetrait user_rsid_record=user_rsid_record %}
                                                    {% if study.ci_text %}
                                                    (<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ study.pubmed_id }}" target="_blank">R</a>)

                                                    <br/>
                                                    {% endif %}
                                                    {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                    </div><!-- /.panel-body -->
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="snp-summary"><p>{{ query_set.description_advanced|keyword_link|safe }}</p>

                            {% if query_set.eur_major_allele %}
                                <div id="highchart1" style="width: 380px;display:inline-block;"></div>

                                <div id="highchart2" style="width: 380px;display:inline-block;"></div>
                            {% endif %}

                        </div><!-- .entry-content -->
                    </div>

                    <div class="col-md-4">


                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ query_set.rsid }}</h3>
                            </div>
                            <div class="panel-body">
                                <p>
{#                                    <i class="fa fa-dot-circle-o"></i> Name: <b>{{ query_set.name }}</b><br>#}
                                    <i class="fa fa-share-alt"></i> Parent Gene:
                                        {% for gene in genes %}
                                            <b>
                                                <a href="{% url 'gene' gene.slug %}">{{ gene.name|upper }}</a>{% if not forloop.last %}, {% endif %}
                                            </b>
                                        {% endfor %}
                                    <br>
                                    <i class="fa fa-exclamation-triangle"></i> Importance:
                                        <b>
                                            {{ query_set.importance }}
                                        </b>
                                    <br>
                                    <i class="fa fa-cubes"></i>
                                        Minor Allele:
                                        <b>
                                            {{ query_set.minor_allele }} = {{ query_set.minor_allele_frequency|mul:100|format:"{:.0f}%" }}
                                        </b>
                                    <br>
                                    <i class="fa fa-cubes"></i>
                                        Major Allele:
                                        <b>
                                            {{ query_set.major_allele }} = {{ query_set.major_allele_frequency|mul:100|format:"{:.0f}%" }}
                                        </b>
                                    <br>
                                    {% if user.user_profile.active_file != None %}
                                        <i class="fa fa-dot-circle-o"></i> My Genotype: <b>
                                            {% genotype_with_frequency_snp_search query_set.rsid user %}
                                        </b><br/>
                                    {% else %}

                                        <i class="fa fa-dot-circle-o"></i> My Genotype:
                                        <b><a href="/accounts/signup/"><span class="badge">Log In</span></a></b><br>

                                    {% endif %}
                                    {%  if query_set.disease_variant.exists or snp.bad_allele or query_set.studies.exists %}
                                        <i class="fa fa-dot-circle-o"></i> Risk Allele: <strong>{% risk_allele_concat snp.bad_allele query_set.studies.all query_set.disease_variant.first.risk_allele %}</strong><br>
                                    {% endif %}
                                    {%  if query_set.disease_variant.exists %}
                                        <i class="fa fa-dot-circle-o"></i> Significance:  <strong>{{ query_set.disease_variant.first.significance }}</strong><br>
                                    {% endif %}

                                </p>
                            </div><!-- /.panel-body -->
                            <div class="panel-footer">
                                {% if related_snp_allele %}
                                    {% if user.is_staff %}
                                        <a href="{% url "admin:genome_snpallele_change" related_snp_allele.pk %}"><strong>Edit
                                            SNP allele</strong></a>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pack-items-container">
                        {% for study in query_set.studies.all %}
                            {% for diseasetrait in study.diseasestraits.all %}
                                <div class="col-md-6 pack-item">
                                {% with genome_in=user_rsid_record.genotype|count_chars:study.risk_allele %}
                                    {% if genome_in == 0 %}
                                        <div class="panel panel-success">
                                    {% elif genome_in == 1 %}
                                        <div class="panel panel-warning">
                                    {% elif genome_in == 2 %}
                                        <div class="panel panel-danger">
                                    {% else %}
                                        <div class="panel panel-default">
                                    {% endif %}
                                {% endwith %}
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Disease/Trait: {{ diseasetrait.name|title }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <i class="fa fa-dot-circle-o"></i> <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a> (<strong>P={{ study.p_value|format_pvalue }}</strong>)<br>
                                            <i class="fa fa-dot-circle-o"></i> Risk Allele: <strong>{{ study.risk_allele }}</strong>
                                            {% if query_set|is_ambiguous_snp %}
                                                <i class="fa fa-warning text-warning" data-toggle="tooltip" data-placement="top" title="Please be advised that this is an ambiguous SNP and G could mean C and A could mean T - and vice versa."></i>
                                            {% endif %}
                                            <br>
                                            <i class="fa fa-dot-circle-o"></i> Reported risk allele frequency: <strong>{{ study.risk_allele_frequency|percentages }}</strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Impact: <strong>{{ study.p_value_mlog|floatformat:2 }}</strong>&nbsp;<i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="The higher the number, the bigger the impact. Anything over 4 will be very statistically significant."></i><br>
                                            {% if user_rsid_record.genotype and study.risk_allele and study.ci_text %}
                                            <i class="fa fa-dot-circle-o"></i> Conclusion:
                                                {% include "genome/partials/part_conclusion.html" with query_set=study diseasetrait=diseasetrait user_rsid_record=user_rsid_record %}

                                            <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="The conclusion is based solely on this SNP and doesn't necessarily represent the absolute risk to an individual"></i>
                                            <br>
                                            {% endif %}
                                            {% if not "increase" in study.ci_text or not "decrease" in study.ci_text %}
                                                <i class="fa fa-dot-circle-o"></i> Odds Ratio: <strong>{{ study.odds_ratio }}</strong>&nbsp;<i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="What does Odds Ratio mean?  An Odds Ratio lower than 1 indicates a decreased risk of disease or measurement.  An Odds Ratio great than 1 indicates an increased risk of disease or measurement.  For example, a 0.5 Odds Ratio means that you have < 50% decreased risk of getting a disease/trait than normal.  An Odds Ratio of 2 means that you have < 2 times increased likelihood of getting a disease/trait."></i><br>
                                            {% endif %}
                                            <i class="fa fa-dot-circle-o"></i> Reported genes:
                                                <strong>
                                                    {% for gene in genes %}
                                                        <a href="{% url 'gene' gene.slug %}" target="_blank">{{ gene|upper }}</a>
                                                        {% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Context: <strong>{{ study.context }}</strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Study title: <strong>{{ study.study }}&nbsp;(<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ study.pubmed_id }}">R</a>)</strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Initial sample size: <strong>{{ study.initial_sample_size }}</strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Replication sample size: <strong>{{ study.replication_sample_size }}</strong><br>
                                            <i class="fa fa-dot-circle-o"></i> Journal: <strong>{{ study.journal }}&nbsp;(<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ study.pubmed_id }}">R</a>)</strong><br>
                                            <i class="fa fa-calendar"></i> Year published: <strong>{{ study.journal_published_at }}</strong><br>
                                            <i class="fa fa-calendar"></i> Strength of evidence: <strong>Strong</strong><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}

                    </div>

                    </div><!-- .entry-content -->
                    
                    <div class="clearfix"></div>
                    <div class="row">
                            <div id="population_ALL" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                            <div id="population_EUR" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                            <div id="population_AMR" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                            <div id="population_EAS" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                            <div id="population_AFR" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                            <div id="population_SAS" class="col-md-4 col-sm-6 col-xs-12" style="min-height: 380px;"></div>
                    </div>

                </article><!-- #post-## -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->


    </div><!-- #content -->


{% endblock %}

{% block scripts %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static "genome/reports.js" %}"></script>

<script>
   {% if query_set.population_genomes %}
       {% for population in query_set.population_genomes.all%}
       jQuery(function () {
    jQuery('#population_{{ population.abbr }}').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        exporting: { enabled: false },
        title: {
            text: '{{ population.title }} ({{ population.abbr }})',
            align: 'center',
            y: 340
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                },
                size: 185
            }
        },
        series: [{
            type: 'pie',
            name: 'Frequency',
            data: [
                ['Maj: {{population.allele_parsed.Maj.0}}', {{population.allele_parsed.Maj.1 }}],
                {
                    name: 'Min: {{population.allele_parsed.Min.0}}',
                    y: {{population.allele_parsed.Min.1 }},
                    sliced: true,
                    selected: true
                },
                ['Het: {{population.allele_parsed.Het.0}}', {{population.allele_parsed.Het.1 }}],
            ]
        }]
    });
});

       {% endfor %}
   {% endif %}
</script>
{% include 'genome/partials/ad_popup.html' %}



{% endblock %}
