{% extends "base.html" %}

{% load static from staticfiles %}
{% load demouser %}
{% load genome_tags %}


{% block head %}
    <link rel="stylesheet" href="{% static 'genome/css/snp-packs.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="#"
                                                    title="User">User</a></li>
        <li class="active">Health Categories</li>
    </ol>

{% endblock %}

{% block page_title %}
    Health Categories <sub style="font-size:0.4em;">beta</sub>
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">


            <div class="row">
                {% include 'genome/_profile_sidebar.html' %}
                <div class="col-sm-10">
                    <div class="section">
                        <div class="container-fluid">
                            <p style="font-size: 18px;">
                                SelfDecode does not and should not be used to treat, diagnose or cure any conditions,
                                but is rather for informational and educational purposes alone.  The body is very complex
                                and you should not be making any medical decisions based on the information contained in
                                this site and should speak to your doctor before taking any actions that pertain to your
                                health or any condition you may have.
                            </p>
                            <p style="font-size: 18px;">
                                This feature is an experimental feature that aims
                                to aggregate SNPs regarding certain health categories.
                                The information should not be viewed as accurate, and it's especially
                                not accurate to make any medical decisions from. Rather,
                                a person should look at individual SNPs and make their own assessments.
                            </p>
                            <div class="section-heading">
                                <div class="inner-border"></div>
                                <h3>INSTALLED PACKAGES</h3>
                            </div><!-- /.section-heading -->
                            <div class="row pack-items-container">
                                {% regroup query_set_installed by id as gene_packs %}
                                {% for grouped in gene_packs %}
                                    {% with item=grouped.list.0 %}
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pack-item">
                                            <div class="panel panel-success text-center">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ item.name|title }}&nbsp;{% gene_pack_score grouped.list item.categories.count %}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <h2 class="bolded tiles-number"
                                                        style="font-size:1.9em;">{{ item.categories.all.count }}
                                                        Categories</h2><br/>
                                                    <div class="text-left">
                                                        <ul class="scrolling-list">
                                                            {% for item2 in item.categories.all %}
                                                                <li>
                                                                    <a href="/snp_pack/{{ item.id }}/category/{{ item2.pk }}/"
                                                                       target="_blank"><b>{{ item2.name|title }}</b></a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="controls">
                                                        <a href="{% url "snp_pack" item.id %}">
                                                            <button class="btn btn-info">View All</button>
                                                        </a>
                                                        {% if not user|is_demouser %}
                                                            <form action="{% url "snp_packs" %}" method="post"
                                                                  style="display:inline-block;">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="delete" name="action">
                                                                <input type="hidden" name="gene_pack_id"
                                                                       value="{{ item.id }}">

                                                                <button class="btn btn-danger uninstall-genes"
                                                                        onclick="return confirm('Are you sure?')"><i
                                                                        class="glyphicon glyphicon-trash"></i></button>
                                                            </form>
                                                        {% endif %}
                                                    </div>

                                                    <br/>
                                                </div><!-- /.panel-body -->
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}


                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>

                    <div class="section">
                        <div class="container-fluid">
                            <div class="section-heading">
                                <div class="inner-border"></div>
                                <h3>AVAILABLE PACKAGES</h3>
                            </div><!-- /.section-heading -->
                            <div class="row">


                            </div><!-- /.row -->
                            <div class="row pack-items-container">
                                {% for item in query_set_available %}
                                    {% if item.coming_soon %}

                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pack-item">
                                            <div class="panel panel-success text-center">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ item.name|title }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="install">
                                                        <h2 class="bolded tiles-number">{{ item.categories.all.count }}
                                                            Categories</h2><br/>
                                                        <div class="text-left" style="padding:0 20px;">
                                                            {% for item2 in item.categories.all %}

                                                                <li><a href='{% url "snp_pack" item.id item2.pk %}'><b>{{ item2.name|title }}</b></a></li>

                                                            {% endfor %}
                                                            <p>{{ item.description_simple|safe }}</p>

                                                            <br/>
                                                        </div>
                                                        <div class="controls">
                                                            <!-- <button class="btn btn-info install-genes" data-pack="blood-glucose" onclick="return confirm('Press OK to confirm payment of {{item.price}} USD for {{item.name|title}}.')" data-file="569">{{item.price}} USD</button> -->
                                                            <button class="btn btn-info install-genes"
                                                                    data-pack="blood-glucose" data-file="569">
                                                                Coming {{ item.coming_soon }}</button>
                                                        </div>

                                                        <div class="loader" style="display:none"><img
                                                                src="https://www.decodify.me/wp-content/plugins/genomics/img/ajax-loader-transparent.gif">
                                                        </div>
                                                    </div><!-- /.panel-body -->
                                                </div>
                                            </div>
                                        </div><!-- /.col-sm-3 -->

                                    {% elif item.pack_type == "sponsored" %}
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pack-item">
                                            <div class="panel panel-success text-center">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ item.name|title }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="install">
                                                        <h2 class="bolded tiles-number">{{ item.categories.all.count }}
                                                            Categories</h2><br/>
                                                        <div class="text-left" style="padding:0 20px;">
                                                            {% for item2 in item.categories.all %}

                                                                <li><a href='/snp_pack/{{ item.id }}/category/{{ item2.pk }}/'><b>{{ item2.name|title }}</b></a></li>

                                                            {% endfor %}
                                                            <p>{{ item.description_simple|safe }}</p>

                                                            <br/></div>
                                                        <form action="{% url "snp_packs" %}" method="post">
                                                            <input type="hidden" name="gene_pack_id" value="{{ item.id }}">
                                                            <div class="controls">
                                                                <!-- <button class="btn btn-info install-genes" data-pack="blood-glucose" onclick="return confirm('Press OK to confirm payment of {{item.price}} USD for {{item.name|title}}.')" data-file="569">{{item.price}} USD</button> -->
                                                                <button class="btn btn-info install-genes"
                                                                        data-pack="blood-glucose" data-file="569">Install
                                                                </button>
                                                            </div>

                                                            {% csrf_token %}
                                                            <br/>
                                                        </form>
                                                        <div class="loader" style="display:none"><img
                                                                src="https://www.decodify.me/wp-content/plugins/genomics/img/ajax-loader-transparent.gif">
                                                        </div>
                                                    </div><!-- /.panel-body -->
                                                </div>
                                            </div><!-- /.col-sm-3 -->
                                        </div>
                                    {% endif %}

                                {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div> <!--   SECTION 		-->

    </div><!-- #content -->
{% endblock %}