{% extends "base.html" %}

{% load remove_dunder %}
{% load get_grade %}
{% load genome_filters %}
{% load genome_tags %}

{% block head %}
    <link href='http://fonts.googleapis.com/css?family=Schoolbell&v1' rel='stylesheet' type='text/css'>

{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="#" title="Home">Home</a></li>
        <li class="item-parent item-parent-3514"><a class="bread-parent bread-parent-3514"
                                                    href="/variance_report/" title="Reports">Reports</a></li>
        <li class="active">{{ gene_pack.name|title }}</li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ gene_pack.name|title }}
{% endblock %}

{% block content %}

    <div class="container">
        <main class="site-main" id="main" role="main">
            <article
                    class="post-3048 gene type-gene status-publish hentry snp_category-cardiovascular snp_category-circadian-rhythm snp_category-cognitive snp_category-health-report snp_category-main snp_category-sleep-related snp_category-obesity">
                <div class="entry-content" style="margin-top:30px;">

                    <div class="col-sm-12">

                        {{ gene_pack.description_advanced|safe }}

                    </div>

                    {% regroup query_set by category as category_list %}

                    {% if page_id == '22' or page_id == '23' %}
                        {% include 'genome/disclaimer.html' %}
                    {% endif %}

                    {% for item in category_list %}

                        <div class="col-sm-6">

                            <div class="panel panel-default" style="display:none;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ item.grouper|get_grade|title }}: </h3>
                                </div>
                                <div class="panel-body count-body" style="height:400px;overflow-y:scroll;">

                                    {% for item2 in item.list %}
                                        {% with item2=item2|get_genotype %}
                                            {% if item2.score %}
                                                <i class="fa fa-dot-circle-o"></i>
                                                <span style="border-radius:4px;margin-right:5px;"
                                                      class="badge badge-success">
                                                    <a style="color:white;" href="/gene/{{ item2.gene }}/">{{ item2.gene|upper }}</a> |
                                                    <a style="color:white;" href="/snp/{{ item2.rsid }}">{{ item2.rsid }}</a> | MAF: {{ item2.minor_allele_frequency }}</span>
                                                {% genotype_badge item2.user_genotype item2.minor_allele item2.user_genotype %}
                                            {% endif %}

                                            <span data-score="{{ item2.score }}"
                                                  data-blue="{{ item2.blue_grade_label }}"
                                                  data-orange="{{ item2.orage_grade_label }}"
                                                  data-red="{{ item2.red_grade_label }}"
                                                  class="badge badge-warning"></span>
                                            {{ item2.description|safe }}

                                        {% endwith %}

                                    {% endfor %}
                                </div>
                                <div class="panel-footer">
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </article>
        </main>
    </div>

{% endblock %}

{% block scripts %}


    <script>
        (function () {
            var all_modals = $(".count-body");

            function replaceString(template, text) {
                var string_data = data.data("blue");
                    if(!text) {
                        replaced_string += template.replace('{is_hidden}', 'visibility:hidden');
                    }
                replaced_string += template.replace('{text}', text);
                return replaced_string;
            }

            for (var i = 0; i < all_modals.length; i++) {
                var total = 0;
                var has_score = false;
                var all_data_score_nodes = $(all_modals[i]).find("[data-score]");
                var data = $(all_modals[i]).find("[data-score]:eq(0)");
                var label_tpl = '<h5 style="font-weight: bold; {is_hidden}">{text}</h5>';

                for (var ii = 0; ii < all_data_score_nodes.length; ii++) {
                    var _score = parseFloat(all_data_score_nodes[ii].getAttribute("data-score"));
                    if(!isNaN(_score)) {
                        total += _score;
                        has_score = true;
                    }
                }

                if(!has_score)
                    total = NaN;

                var modal = $(all_modals[i]);
                var child = modal.prev().children();
                var html = child.html();
                var replaced_string = '';

                if (total > 2) {
                    replaced_string = replaceString(label_tpl, data.data('blue'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-success'>  A +</span>";
                    html += replaced_string;
                    modal.parent().addClass('panel-info');
                    child.html(html);
                } else if (total > 1.5) {
                    replaced_string = replaceString(label_tpl, data.data('blue'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-success'>  A -</span>";
                    html += replaced_string;
                    modal.parent().addClass('panel-info');
                    child.html(html);
                } else if (total > 1) {
                    replaced_string = replaceString(label_tpl, data.data('blue'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-success'>  B +</span>";
                    html += replaced_string;
                    modal.parent().addClass('panel-info');
                    child.html(html);
                } else if (total > 0.5) {
                    replaced_string = replaceString(label_tpl, data.data('blue'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-success'>  B -</span>";
                    html += replaced_string;
                    modal.parent().addClass('panel-info');
                    child.html(html);
                } else if (total > 0) {
                    replaced_string = replaceString(label_tpl, data.data('orange'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-danger'>  C +</span>";
                    html += replaced_string;
                    child.html(html);
                    modal.parent().addClass('panel-warning').removeClass("panel-info");
                } else if (total > -0.5) {
                    replaced_string = replaceString(label_tpl, data.data('orange'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-danger'>  C -</span>";
                    html += replaced_string;
                    child.html(html);
                    modal.parent().addClass('panel-warning').removeClass("panel-info");
                } else if (total > -1) {
                    replaced_string = replaceString(label_tpl, data.data('orange'));
                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-danger'>  D +</span>";
                    html += replaced_string;
                    child.html(html);
                    modal.parent().addClass('panel-danger').removeClass("panel-info");
                } else if (total > -4) {
                    replaced_string = replaceString(label_tpl, data.data('red'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-danger'>  D -</span>";
                    html += replaced_string;
                    child.html(html);
                    modal.parent().addClass('panel-danger').removeClass("panel-info");
                } else if(has_score) {
                    replaced_string = replaceString(label_tpl, data.data('red'));

                    html += "<span style='font-size:1.1em;margin-left:4px;' class='badge badge-danger'>  F</span>";
                    html += replaced_string;
                    child.html(html);
                    modal.parent().addClass('panel-danger').removeClass("panel-info");
                }
                else {
                    replaced_string = replaceString(label_tpl, '');
                    html += "<span style='font-size:1.1em;margin-left:4px; visibility:hidden' class='badge badge-danger'>F</span>";
                    html += replaced_string;
                    child.parent().next().html("There isn't enough information here for a letter grade.");
                    child.html(html)
                }
                modal.parent().show();

                if (modal.html() < 1) {
                    modal.parent().remove()
                }

            }

        })();
    </script>



{% endblock %}

