{% extends "base.html" %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3630"><strong class="bread-current bread-3630"> Getting Started</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Getting Started
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                                        </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-4">
                &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="the-box bg-success no-border box-feature text-center">
                        <h4 class="heading">SIGN UP <i class='glyphicon glyphicon-check'></i></h4>
                        <i class="fa fa-file-text icon-lg"></i>
                        <div class="p-wrap">
                            <p>
                                Sign up and create your account
                            </p>
                        </div><!-- /.p-wrap -->
                        <div class="btn-wrap">
                            <a href="/sign_up"><button class="btn btn-success btn-learn-more">
                              YOU HAVE SIGNED UP</button></a>
                        </div><!-- /.btn-wrap -->
                                    </div><!-- /.the-box bg-danger no-border box-feature text-center -->
                </div><!-- /.col-sm-3 -->
                <div class="col-sm-4">
                    <div class="the-box bg-info no-border box-feature text-center">
                        <h4 class="heading">UPLOAD</h4>
                        <i class="fa fa-upload icon-lg"></i>
                        <p>
                            Upload your 23andMe or Ancestry data
                        </p>
                        <div class="btn-wrap">
                            <a href="/uploader"><button class="btn btn-info btn-learn-more">UPLOAD</button></a>
                        </div><!-- /.btn-wrap -->
                    </div><!-- /.the-box bg-warning no-border box-feature text-center -->
                </div><!-- /.col-sm-3 -->
                <div class="col-sm-4">
                    <div class="the-box bg-warning no-border box-feature text-center">
                        <h4 class="heading">EXPLORE</h4>
                        <i class="fa fa-cubes icon-lg"></i>
                        <p>
                            Explore your genome<br />
                        </p>
                        <div class="btn-wrap">
                            <a href="/variance_report"><button class="btn btn-warning btn-learn-more">EXPLORE</button></a>
                        </div><!-- /.btn-wrap -->
                    </div><!-- /.the-box bg-success no-border box-feature text-center -->
                </div><!-- /.col-sm-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section -->

{% endblock %}


{% block scripts %}
<!-- Google Code for pre-conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 975328164;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "UV7LCNSG22cQpKeJ0QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/975328164/?label=UV7LCNSG22cQpKeJ0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endblock %}