{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    <title>{{ diseasesymptom.name|upper }} | SelfDecode | Genome Analysis</title>
{% endblock  %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ diseasesymptom.name|upper }}
            </strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ diseasesymptom.name|upper }}
    {% if user.is_staff %}
        <a href="/joes_office/genome/diseasesymptom/{{ diseasesymptom.pk }}/change/"> Edit</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div id="primary" class="content-area">
            <div class="panel panel-no-border panel-info panel-toggle" id="symptom-diseases-toggle">
                <div class="panel-heading" id="disease-symptoms">
                    <div class="pull-left">
                        <h3 class="panel-title">
                            Diseases Associated With Symptom
                        </h3>
                    </div>
                    <div class="pull-right"><i class="fa fa-plus"></i></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body collapsed">
                    <ul id="symptom-diseases-ul">

                    </ul>
                    <div class="row">
                        <button id="symptom-diseases-load-more"
                            style="margin-top: 15px;"
                            class="btn btn-default center-block"
                            data-url="{% url 'symptom_diseasetraits_ajax' diseasesymptom.slug %}"
                            data-type="{{ link }}"
                            type="button">
                                Load more
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'genome/symptom.js' %}"></script>
{% endblock %}