{% extends "base.html" %}

{% load staticfiles %}
{% load demouser %}
{% load staticfiles %}
{% load analysis_tags %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'genome/css/recomendations.css' %}" type="text/css"/>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">My Symptoms</li>
    </ol>
{% endblock %}

{% block page_title %}
    My Symptoms
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">

            <div class="row">
                {% include "genome/_profile_sidebar.html" %}

                <div class="col-sm-10">
                    <div class="col-sm-8">
                        <h4>Do you experience any of the following symptoms?</h4>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Selected symptoms</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12"
                                            {% if user|is_demouser %}
                                            onclick="alert('You need to sign up to add or subtract symptoms.')"
                                            {% endif %}>
                                    <select
                                                data-placeholder="Type here to select a symptom" .
                                                multiple
                                                {% if user|is_demouser %}disabled{% endif %}
                                                class="chosen-select symptoms"
                                                style="display: none;">
                                            {% for item in query_set_symptoms %}
                                                <option
                                                        value="{{ item.id }}"
                                                        {% if item in user_symptoms %}
                                                        selected="True"
                                                        {% endif %}>
                                                    {{ item.name|title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div class="hidden-tags"></div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>

                        <h4>Have you been diagnosed with any of the following conditions?</h4>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Selected conditions</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select
                                                data-placeholder="Type here to select a condition" .
                                                multiple
                                                {% if user|is_demouser %}disabled{% endif %}
                                                class="chosen-select conditions"
                                                style="display: none;">
                                            {% for item in query_set_conditions %}
                                                <option
                                                        value="{{ item.id }}"
                                                        {% if item in user_conditions %}
                                                        selected="True"
                                                        {% endif %}>
                                                    {{ item.name|title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div class="hidden-tags"></div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="margin-top: 42px;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Related themes</h3>
                            </div>
                            <div class="panel-body">
                                <p><strong>Connect to groups on forum: </strong></p>
                                <span id="related-tags" style="text-transform: capitalize"></span>
                                <br><br>
                                <p><strong>Related themes on forum: </strong></p>
                                <ul style="padding-left: 20px" id="related-posts"></ul>
                                <br>
                                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                                <a href="" id="related-create-link">Create your own theme.</a>

                            </div><!-- /.panel-body -->
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        $(function () {

            $(".chosen-select.symptoms").chosen({
                disable_search_threshold: 10,
                width: "100%",
            });

            $(".chosen-select.conditions").chosen({
                disable_search_threshold: 10,
                width: "100%",
            });

            function get_content(evt) {
                var grouped_tags = [];
                if (evt.target.selectedOptions) {
                    $.each(evt.target.selectedOptions, function (i, item) {
                        grouped_tags.push(item.text);
                    });
                }
                $.get('/forum/get-tags-by-query/', {query: grouped_tags.toString()}, function (data) {
                    $('#related-tags').empty();
                    $('#related-posts').empty();
                    $.each(data.tags, function (i, item) {
                        $('#related-tags').append('<a href="/forum/tag/{0}">{1}</a>'.format(item.slug, item.name));
                        if (i < data.tags.length - 1){
                            $('#related-tags').append(', ');
                        }
                    });
                    $.each(data.posts, function (i, item) {
                        $('#related-posts').append('<li><a href="/forum/post/{0}">{1}</a></li>'.format(item.slug, item.name));
                    });
                });
                $('#related-create-link').attr('href', '/forum/new-post/?' + $.param({tags: grouped_tags}));
            };

            $('.chosen-select.symptoms').on('chosen:ready', get_content);
            $('.chosen-select.symptoms').trigger('chosen:ready');


            $('.chosen-select.symptoms').on('change', function (evt, obj) {
                if (obj.selected) {
                    $.post("/symptoms_conditions/", {id: obj.selected, form_type: "symptom", value: "true"});
                } else if (obj.deselected) {
                    $.post("/symptoms_conditions/", {id: obj.deselected, form_type: "symptom", value: "false"});
                }
                get_content(evt);
            });


            $('.chosen-select.conditions').on('change', function (evt, obj) {
                if (obj.selected) {
                    $.post("/symptoms_conditions/", {id: obj.selected, form_type: "condition", value: "true"});
                } else if (obj.deselected) {
                    $.post("/symptoms_conditions/", {id: obj.deselected, form_type: "condition", value: "false"});
                }
            });

        })
    </script>
{% endblock %}