{% extends "base.html" %}

{% load demouser %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://decodify.staging.wpengine.com"
                                 title="Home">Home</a></li>
        <li class="item-current item-3535"><strong class="bread-current bread-3535"> Subscribe</strong></li>
    </ol>
{% endblock %}
{% block page_title %}
    Subscribe
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
        {% if not user|is_demouser %}
            <main id="main" class="site-main" role="main">
                <article id="post-3535" class="post-3535 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div id="it-exchange-store" class="it-exchange-wrap it-exchange-account">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="table-item-2 text-center">
                                        <div class="table-heading">
                                            <p class="plan-name">
                                            <h2>Individual</h2></p>
                                            <h1><sup>$</sup>0<sub>/ Year</sub></h1><img
                                                src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">
                                            <form action="/checkout/" method="POST">{% csrf_token %}
                                                <input type="hidden" value="individual_membership" name="purchase_type">
                                                <script
                                                        src="https://checkout.stripe.com/checkout.js"
                                                        class="stripe-button"
                                                        data-key="pk_test_LrJORknCBZzF1sGgx9YvJwTy"
                                                        data-amount="1900"
                                                        data-name="Individual Plan"
                                                        data-description="Widget"
                                                        data-image="https://www.decodify.me/wp-content/themes/decodify/assets/img/decodify-1.png"
                                                        data-locale="auto">
                                                </script>
                                            </form>
                                        </div><!-- /.table-heading -->
                                        <div class="table-body">
                                            <ul>
                                                <li><i class="fa fa-files-o icon-left"></i><strong>1 file
                                                    upload</strong></li>
                                                <li><i class="fa fa-leaf icon-left"></i><strong>All</strong> health
                                                    reports
                                                </li>
                                                <li><i class="fa fa-phone icon-left"></i><strong>All</strong> features
                                                </li>
                                                <li><i class="fa fa-laptop icon-left"></i><strong>Full</strong> site
                                                    access
                                                </li>
                                                <li><i class="fa fa-globe icon-left"></i><strong>Regular</strong>
                                                    updates
                                                </li>
                                                <li><i class="fa fa-compress icon-left"></i><strong>Custom</strong>
                                                    reports
                                                </li>
                                            </ul>
                                        </div><!-- /.table-body -->
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="table-item-2 text-center">
                                        <div class="table-heading">
                                            <p class="plan-name">
                                            <h2>Family</h2></p>
                                            <h1><sup>$</sup>59<sub>/ Year</sub></h1><img
                                                src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">
                                            <form action="/checkout/" method="POST">{% csrf_token %}
                                                <input type="hidden" value="family_membership" name="purchase_type">
                                                <script
                                                        src="https://checkout.stripe.com/checkout.js"
                                                        class="stripe-button"
                                                        data-key="pk_test_LrJORknCBZzF1sGgx9YvJwTy"
                                                        data-amount="5900"
                                                        data-name="Family Plan"
                                                        data-description="Widget"
                                                        data-image="https://www.decodify.me/wp-content/themes/decodify/assets/img/decodify-1.png"
                                                        data-locale="auto">
                                                </script>
                                            </form>
                                        </div><!-- /.table-heading -->
                                        <div class="table-body">
                                            <ul>
                                                <li><i class="fa fa-files-o icon-left"></i><strong>5 file
                                                    uploads</strong></li>
                                                <li><i class="fa fa-leaf icon-left"></i><strong>All</strong> health
                                                    reports
                                                </li>
                                                <li><i class="fa fa-phone icon-left"></i><strong>All</strong> features
                                                </li>
                                                <li><i class="fa fa-laptop icon-left"></i><strong>Full</strong> site
                                                    access
                                                </li>
                                                <li><i class="fa fa-globe icon-left"></i><strong>Regular</strong>
                                                    updates
                                                </li>
                                                <li><i class="fa fa-compress icon-left"></i><strong>Custom</strong>
                                                    reports
                                                </li>
                                            </ul>
                                        </div><!-- /.table-body -->
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="table-item-2 text-center">
                                        <div class="table-heading">
                                            <p class="plan-name">
                                            <h2>Physician</h2></p>
                                            <h1><sup>$</sup>199<sub>/ Year</sub></h1><img
                                                src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">
                                            <form action="/checkout/" method="POST">{% csrf_token %}
                                                <input type="hidden" value="physician_membership" name="purchase_type">
                                                <script
                                                        src="https://checkout.stripe.com/checkout.js"
                                                        class="stripe-button"
                                                        data-key="pk_test_LrJORknCBZzF1sGgx9YvJwTy"
                                                        data-amount="19900"
                                                        data-name="Physician Plan"
                                                        data-description="Widget"
                                                        data-image="https://www.decodify.me/wp-content/themes/decodify/assets/img/decodify-1.png"
                                                        data-locale="auto">
                                                </script>
                                            </form>
                                        </div><!-- /.table-heading -->
                                        <div class="table-body">
                                            <ul>
                                                <li><i class="fa fa-files-o icon-left"></i><strong>Unlimited file
                                                    uploads</strong></li>
                                                <li><i class="fa fa-leaf icon-left"></i><strong>All</strong> health
                                                    reports
                                                </li>
                                                <li><i class="fa fa-phone icon-left"></i><strong>All</strong> features
                                                </li>
                                                <li><i class="fa fa-laptop icon-left"></i><strong>Full</strong> site
                                                    access
                                                </li>
                                                <li><i class="fa fa-globe icon-left"></i><strong>Regular</strong>
                                                    updates
                                                </li>
                                                <li><i class="fa fa-compress icon-left"></i><strong>Custom</strong>
                                                    reports
                                                </li>
                                            </ul>
                                        </div><!-- /.table-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
            {% else %}
                <h3>You are not allowed to view this page</h3>
            {% endif %}
        </div><!-- #primary -->
    </div><!-- .container -->

{% endblock %}
