{% extends "base.html" %}

{% load demouser %}
{% load staticfiles %}

{% block head %}
    <style>
        .upload-btn + input[type=file] {
            display: none;
        }
        .plan-name {
            color: #FFF;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-1006"><strong class="bread-current bread-1006"> Upload My Genes</strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    Upload My Genes
{% endblock %}

{% block content %}
    <div class="section">

        <div class="container">
        {% if user.user_profile.is_file_uploads_quota_exceeded %}
            {% include "payment/upgrade_plan.html" %}
        {% elif not user|is_demouser and user.user_profile.has_subscription %}
            <div class="row">
                <div class="col-sm-12">


                    <article id="post-1006" class="post-1006 page type-page status-publish hentry">


                        <div class="entry-content">

                            <div class="section without_background">
                                <div class="upload_form_container" id="upload_form_container">
                                    <h3>Upload Raw Data</h3>
                                    <br/>
                                    <p>
                                        Upload your file with form below. This may take up to 5 minutes. You can <a
                                            href="/page/ancestry/">download your raw Ancestry data here</a>. You can <a
                                            href="https://you.23andme.com/tools/data/download/">download your raw
                                        23andMe data here.</a> Please use the most up to date file version by visiting
                                        these sites, otherwise it will not work.
                                        <br/>
                                    </p>
                                    <p>
                                        The following genome sequencing services are currently supported: 23andme, AncestryDNA, FamilyTree, Courtagen.
                                    </p>
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-8">

                                            <form class="upload_raw_data_form">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-info upload-btn">
                                                                <span>Upload Genome File</span>
                                                            </span>
                                                            <input type="file" name="gene_file">
                                                        </span>
                                                    </div><!-- /.input-group -->
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-sm-4" style="text-align:center;">
                                            {% if not user.user_profile.access_token %}
                                            <a href="https://api.23andme.com/authorize/?response_type=code&client_id={{ X23ANDME_CLIENT_ID }}&scope=basic%20genomes">
                                                <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/23con.png"
                                                     style="float:right;border-radius:25px;border:1px grey solid;padding:3%;margin:5%;"
                                                     width="200px" alt="Connect with 23andMe"
                                                     class="connect-button-text"></a></div>
                                            {% else %}
                                                <a href="{% url "uploader_23andme" %}">
                                                    <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/23con.png"
                                                         style="float:right;border-radius:25px;border:1px grey solid;padding:3%;margin:5%;"
                                                         width="200px" alt="Connect with 23andMe"
                                                         class="connect-button-text">
                                                </a>
                                            {% endif %}
                                    </div> <!-- ROW -->
                                    <noscript>
                                        <p>
                                        <h2>Please enable javascript to work with website.</h2></p>
                                    </noscript>
                                    <p>
                                        <br/><b>NOTE:</b> You may upload your raw genome file as <b>.txt</b>,
                                        <b>.zip</b> or <b>.gz</b> only.
                                    </p>
                                    <p>
                                        <b>SelfDecode</b> is committed to our users privacy. That is why we ensure our
                                        infrastructure meets modern security standards by enforcing the following
                                        practices:
                                    </p>
                                    <ul>
                                        <li>Secure SSL certified connections only</li>
                                        <li>Script Protection</li>
                                        <li>Disk Write Protections</li>
                                        <li>Plugin Access Restriction</li>
                                        <li>External Security Penetration Testing</li>
                                        <li>Annual SAS 70 Type II Examinations</li>
                                        <li>Encryption of All Backup Media</li>
                                        <li>Maintain Audit Logs</li>
                                    </ul>
                                </div> <!-- UPLOAD FORM CONTAINER -->
                                <div id="not-supported-msg" style="display: none;">
                                    <h3>Your browser is out of date.</h3>
                                    <p>
                                        Please upgrade it to be able to upload files and use all latest features of SelfDecode.<br/>
                                        If you can't upgrade the browser, please send us your genome file to <a href="mailto:support@selfdecode.com?subject=Upload file for {{ user.username }}">support@selfdecode.com</a> and we will upload it for you.<br/>
                                        Please note, some features may be unavailable until you get newer browser version.
                                    </p>
                                </div>
                            </div>


                        </div><!-- .entry-content -->

                    </article><!-- #post-## -->


                </div><!-- #col-sm-12 -->
            </div><!-- /.row -->

        {% else %}
            <h3>You are not allowed to view this page</h3>
        {% endif %}
        </div><!-- .container -->

    </div><!-- .section -->
{% endblock %}

{% block scripts %}
{%load staticfiles%}
<script src="{% static 'genome/jszip.min.js' %}"></script>

<script>
var $buoop = {
    vs:{i:10,f:-10,o:-7,s:7,c:-7},api:4,
    reminder: 0,
    reminderClosed: 1,
    onshow: function (infos) {
        $('.upload_form_container').hide();
        $('#not-supported-msg').show();
        $.post("{% url "fileapi:upload_attempt" %}", {message: infos.text});
    }
};
function $buo_f(){
 var e = document.createElement("script");
 e.src = "//browser-update.org/update.min.js";
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
</script>
{% if not user|is_demouser and user.user_profile.has_subscription %}
<script>
$(document).ready(function () {

    $(window).on("error", function (e) {
        var event = e.originalEvent;
        var msg = event.message + " in " + event.filename + ":" + event.lineno;
        $.post("{% url "fileapi:upload_attempt" %}", {error_message: msg});
    });

    var doNotZipTypes = 'application/zip application/gzip text/vcard';

    var doNotZipExtensions = 'zip gz vcf';

    function preloader() {
        var img = document.createElement("img");
        var div = document.createElement("div");
        img.setAttribute("src", "https://s3-us-west-1.amazonaws.com/decodify/assets/default.gif");
        img.setAttribute("style", "position:fixed;top:50%;margin-left:-30px;margin-top:-30px;left:50%;width:60px;");
        div.setAttribute("style", "position: fixed;top: 0;left:0;right:0;bottom:0;z-index: 90000;background: rgba(255,255,255,0.8);");
        $(div).append(img);
        $("body").append(div);
    }

    function uploadFile(file, s3Data, type) {
        var postData = new FormData();
        $.each(s3Data.fields, function (key, value) {
            postData.append(key, value);
        });
        postData.append('file', file);
        $.ajax({
            url: s3Data.url,
            headers: {'x-amz-acl': 'public-read'},
            method: "POST",
            contentType: false,
            data: postData,
            processData: false
        }).success(function () {
            location.href = '{% url "fileapi:process_uploaded_file" %}?file_name=' + s3Data.fields.key;
        }).error(function () {
            alert('Could not upload file.');
        });
    }

    function getSignedRequest(filename, file, type) {
        preloader();
        $.get('/sign_s3?file-name=' + filename).success(function (data) {
            response = JSON.parse(data);
            uploadFile(file, response.data, type);
        }).error(function () {
            alert("Could not get signed url.");
        });
    }

    function initUpload($file) {
        var file = $file.get(0);
        var type = $file.data("type");
        var parts = file.files[0].name.split(".");
        var ext = parts[parts.length - 1];
        console.log(file.files[0].type);
        if (file.files.length) {
            if (file.files[0].type == 'text/plain' || file.files[0].type == 'text/csv' || (!file.files[0].type && "txt tsv csv".indexOf(ext) != -1)) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    var zip = new JSZip();
                    zip.file(file.files[0].name, e.target.result);
                    zip.generateAsync({type: "blob"}).then(function (blob) {
                        getSignedRequest(file.files[0].name + '.zip', blob, type);
                    });
                };
                if(typeof(reader.readAsBinaryString) == "undefined")
                    reader.readAsText(file.files[0]);
                else
                    reader.readAsBinaryString(file.files[0]);

            } else if (doNotZipTypes.indexOf(file.files[0].type) != -1) {
                getSignedRequest(file.files[0].name, file.files[0], type);
            } else if (doNotZipExtensions.indexOf(ext) != -1) {
                getSignedRequest(file.files[0].name, file.files[0], type);
            } else {
                return alert('You may upload your raw genome file as .txt, .zip or .gz only. You cannot upload a ' + ext + ' file.');
            }
        }
    }

    $('.upload-btn').off().on('click', function () {
        $(this).next().trigger("click");
        return false;
    });

    $('.upload_raw_data_form').find('input[name="gene_file"]').on('change', function handleGeneFileChange() {
        var $this = $(this);
        $.post("{% url "fileapi:upload_attempt" %}", {
            action: $this.data("type"),
            filename: $this.val()
        });
        initUpload($this);
    });

    $(window).on("pageshow", function () {
        $('.upload_raw_data_form').find('input[name="gene_file"]').val(null);
    });

});
</script>
{% endif %}

{% endblock %}