{% extends "base.html" %}


{% block content %}

<div class="content">

<h1>Hijack Them</h1>

<form action="/hijack/{{ query_set.email }}/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Hijack {{ query_set.email }}</button>
</form>

</div>

{% endblock %}