{% extends "base.html" %}

{% load remove_dunder %}
{% load keyword_link %}
{% load formatting %}
{% load genome_filters %}
{% load staticfiles %}
{% load genome_simple_description %}

{% block head %}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="#" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3514">
            <a class="bread-parent bread-parent-3514" href="/variance_report/?report=variance_report" title="Reports">Reports</a>
        </li>
        <li class="active">SNP Explorer</li>
    </ol>
{% endblock %}

{% block page_title %}
    Compare Reports: {{ page_title }}
{% endblock %}


{% block content %}

    <div class="container">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <article id="post-3315" class="post-3315 page type-page status-publish hentry tag-report">

                    <div class="entry-content">

                        <div class="row" style="padding-top:20px">
                            <div class="col-sm-12">
                                {% include "genome/partials/compare_report.html" with report_state="variance_report" %}
                            </div>
                        </div>
                    </div>

                </article>


            </main>
        </div>

    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static "genome/reports.js" %}"></script>

{% endblock %}
