{% extends 'blog/base_blog.html' %}
{% load remove_bbcodes %}

{% block content_wraper %}
    <div class="row">
        <h2 class="category-header">All articles by tag: {{ tag.name }}</h2>
    </div>

    {% for article in articles %}
        <div class="row">
            <h4>
                <a href="{% url 'blog:article' article.slug %}">{{ article.article_name }}</a>
            </h4>
            <p>
                {{ article.article_body|remove_bbcodes|truncatechars_html:400|safe }}
            </p>
            <br>
        </div>
    {% empty %}
        <p class="text-muted lead text-center">There is no articles.</p>
    {% endfor %}

    {% if is_paginated %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li>
                        <a href="{% url 'blog:all-articles-by-tag-paginated' tag.slug page_obj.previous_page_number %}" area-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        <a href="{% url 'blog:all-articles-by-tag-paginated' tag.slug i %}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="{% url 'blog:all-articles-by-tag-paginated' tag.slug page_obj.next_page_number %}" area-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                </ul>
            </nav>
        </div>
    {% endif %}

{% endblock content_wraper %}