{% extends 'blog/base_blog.html' %}
{% load static from staticfiles %}
{% load shortcode_filters %}
{% load bbcode_tags %}
{% load extras %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/reports.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "forum/css/forum.css" %}" type='text/css' media='all'>
    <style>
        .change_username {
            float: left;
            line-height: 2em;
        }
        ul.pagination a::after{
            content: none !important;
        }
    </style>
{% endblock %}


{% block content_wraper %}
    <div data-action="voting" data-content-type="article" data-label="blog" data-object-id="{{ article.id }}" id="blog-article-{{ article.id }}">
        <h4>{{ article.article_name|title }}</h4>
        <span class="score"></span>
        <i class="fa fa-arrow-up up pointer" aria-hidden="true"></i>
        <i class="fa fa-arrow-down down pointer" aria-hidden="true"></i>
    </div>
    {% include 'blog/partials/article-metainfo.html' with article=article %}

    {% shortcode article.article_body as resulting %}
    {{ resulting|safe }}
    <p>
        <strong>Tags: </strong>
        {% for tag in tags %}
            <a href="{% url 'blog:all-articles-by-tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        {% empty %}
            <span>no tags</span>
        {% endfor %}
    </p>

    {% if not user.forum_permissions.first.is_banned %}
        <form action="" method="POST" class="form-horizontal" style="margin-bottom: 55px">
            {% csrf_token %}
            <div class="form-group">
                <div >
                    {% if user.forum_permissions.first.username_changed %}
                        <div style="float: left; line-height: 2em;" class="text-muted">
                            You're logged in as: <strong>{{ request.user.username }}</strong>.
                        </div>
                    {% else %}
                        <div class="text-muted change_username">
                            You're logged in as: <strong>{{ request.user.username }}</strong>.
                            You can change your username to &nbsp;&nbsp;&nbsp;
                        </div>
                        <div style="float: left; ">
                            <input type="text" name="new-username" class="form-control" placeholder="Your new username">
                        </div>
                        <div class="text-muted change_username">&nbsp;&nbsp; or via <a href="{% url 'profile' %}">profile</a>.</div>
                   {% endif %}
                </div>
            </div>
            <div class="form-group">
{#                <label for="comment">Leave your comment here:</label>#}
                {{ form.body }}
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% else %}
        <p class="text-muted lead text-center">Sorry, You can not add comments. Contact administrator.</p>
    {% endif %}

    {% for comment in comments %}
        <div class="media" data-action="voting" data-content-type="comment" data-label="blog" data-object-id="{{ comment.id }}" id="blog-comment-{{ comment.id }}">
            <div class="media-left">
                <img alt="" src="https://secure.gravatar.com/avatar/{{ comment.author.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g" class="img-circle photo grav-hashed" scale="4">
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{ comment.author }}</h4>
                <span class="score"></span>
                <i class="fa fa-arrow-up up pointer" aria-hidden="true"></i>
                <i class="fa fa-arrow-down down pointer" aria-hidden="true"></i>
                <p class="text-muted">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{ comment.updated_at|date:"M dS o h:i A T" }}
                    {% if request.user.is_staff %}
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><a target="_blank" href="{% url 'admin:forum_userpermissions_add' %}">&nbsp;&nbsp;Ban user</a>
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><a target="_blank" href="{% url 'admin:blog_comment_delete' comment.id %}">&nbsp;&nbsp;Delete message</a>
                    {% endif %}
                    &nbsp;
                    {% if user == comment.author %}
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                        <a href="" class="edit-comment-btn">Edit</a>
                    {% endif %}
                </p>
                <span data-comment-id="{{ comment.id }}">
                    {{ comment.body|bbcode|safe|linebreaks }}
                </span>
                {% if comment.updated_at %}
                    <p><i class=" text-muted">Last edited: {{ comment.updated_at|date:"M dS o h:i A T" }}</i></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if comments.paginator.num_pages > 1 %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                {% if comments.has_previous %}
                    <li>
                        {% url 'blog:article-paginated' article.slug comments.previous_page_number as prev_page_url %}
                        <a href="{{ prev_page_url }}" area-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in comments.paginator.page_range %}
                    <li {% if comments.number == i %} class="active" {% endif %}>
                        {% url 'blog:article-paginated' article.slug i as page_url %}
                        <a href="{{ page_url }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if comments.has_next %}
                    <li>
                        {% url 'blog:article-paginated' article.slug comments.next_page_number as next_page_url %}
                        <a href="{{ next_page_url }}" area-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                </ul>
            </nav>
        </div>
    {% endif %}


{% endblock %}


{% block scripts %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static "genome/reports.js" %}"></script>
    <script src="{% static "blog/js/rating.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock scripts %}