{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}" type='text/css' media='all'>
{% endblock head %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url 'profile' %}" title="User">User</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url 'blog:all-articles' %}">Blog</a>
        </li>
        {% block breadcrumd %}
        {% endblock breadcrumd %}
    </ol>
{% endblock %}

{% block page_title %}
    Blog
{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            {% include 'blog/sidebar.html' %}
            <div class="col-sm-10 content-wraper">
                {% block content_wraper %}
                {% endblock content_wraper %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
