            <div class="col-sm-2">

                <h4>Tags:</h4>

                <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase" id="decodify-members-menu">
                    {% for tag in tags %}
                        <li>
                            <a href="{% url 'blog:all-articles-by-tag' tag.slug %}">{{ tag.name|truncatechars:18 }}
                                <span class="badge pull-right">{{ tag.count }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>