{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}
{% block page_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="the-box decodify-form" style="margin-top:30px;">

                <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
