{% extends "base.html" %}

{% block head %}
    <style>
        form input {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }

    </style>
{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_title %}
    {% trans "Sign Up" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="the-box decodify-form" style="margin-top:30px;">

                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use
                    your {{ provider_name }} account to login to
                    Selfdecode. As a final step, please complete the following form:{% endblocktrans %}</p>

                <form class="signup" class="it-exchange-log-in login" id="signup_form" method="post"
                      action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="primaryAction btn btn-success btn-block"
                            type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
