{% for interaction in disease_interactions %}
    <tr>
        <td>
            <a href="{% url 'disease' slug=interaction.disease__slug %}"
               target="_blank">{{ interaction.disease__name|capfirst }}</a>
        </td>
        <td>{{ interaction.max_inference_score }}</td>
        <td>
        <button onclick="$('#reference-modal-{{ interaction.disease__slug }}').modal('show');"
                                        class="btn btn-default btn-sm btn-rounded-sm modal-button">
                                    <span class="fa fa-info"></span></button>
            <div class="modal fade" id="reference-modal-{{ interaction.disease__slug }}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content modal-no-shadow modal-no-border">
                        <div class="modal-header bg-primary no-border">
                            <button type="button" class="close"
                                    data-dismiss="modal" style="float:right;"
                                    aria-hidden="true">×
                            </button>
                            <span class="genotype-text"
                                  style="float:right; margin-right:13px;">References/Inference Genes</span>
                        </div>
                        <div class="modal-body">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#reference-{{ interaction.disease__slug }}"
                                           aria-controls="home" role="tab"
                                           data-toggle="tab"
                                           aria-expanded="true">References</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#inf-chemicals-{{ interaction.disease__slug }}"
                                           aria-controls="profile" role="tab"
                                           data-toggle="tab"
                                           aria-expanded="false">Inference genes</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="reference-{{ interaction.disease__slug}}"><br>
                                       <ul>
                                           {% for pid in interaction.pubmed_ids %}
                                               <li>
                                                   <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pid }}"
                                                      target="_blank">{{ pid }}</a>
                                               </li>
                                           {% endfor %}
                                       </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="inf-chemicals-{{ interaction.disease__slug }}"><br>
                                        <ul>
                                            {% for gene in interaction.genes %}
                                                <li>
                                                    <a href="{% url 'gene' gene=gene.f2 %}"
                                                       target="_blank">{{ gene.f1|upper }}</a>
                                                </li>
                                            {% endfor %}
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close
                            </button>
                        </div><!-- /.modal-footer -->
                    </div>
                    <!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
                </div>
            </div>

        </td>
    </tr>
{% endfor %}