{# NOT USED #}
{% load genome_filters %}
{% load badges_inclusion %}
{% load genome_simple_description %}

{% for interaction in interactions %}
    <tr>
        <td>
            <a href="{% url 'gene' interaction.gene.slug %}"
            {% simple_description_by_gene interaction.gene as gene_title %}
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ gene_title }}"
            >
            {{ interaction.gene | upper }}</a>
            {% show_badges interaction.gene.id bad_genes contains_risk_allele %}
        </td>
        <td>
            <span>
                {% for interactionaction in  interaction.actions.all %}
                    {% if forloop.last %}
                        {{ interactionaction.action|title }}
                        {{ interactionaction.interaction_type }}
                    {% else %}
                        {{ interactionaction.action|title }}
                        {{ interactionaction.interaction_type }},
                    {% endif %}
                {% empty %}
                {% endfor %}
            </span>
        </td>
        <td>
            <span>
                {{ interaction.organism.english_name|title }}
                ({% for pid in interaction.pub_med_ids_as_list %}<a href="{{ pid }}">R</a>{% if not forloop.last %},{% endif %}{% endfor %})
            </span>
        </td>
    </tr>
{% endfor %}