{# NOT USED #}
{% for interaction in pathway_list %}
    <li>
        <a href="{% url 'pathway_details' pathway_id=interaction.pathway_id %}">{{ interaction.pathway_name|capfirst }}</a>
    </li>
{% endfor %}
