.autocomplete-suggestions {
    background: white;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    overflow-y: auto;
}
.autocomplete-suggestions .autocomplete-suggestion {
    padding: 5px;
}
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
    background: #efefef;
}
