
.flag-icon-centered {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.nav-tabs > li.active > .tab-red,
.nav-tabs > li.active > .tab-red:hover,
.nav-tabs > li.active > .tab-red:focus {
    color: white;
    background-color: #d9534f;
}

.nav-tabs > li > .tab-red,
.nav-tabs > li > .tab-red:hover,
.nav-tabs > li > .tab-red:focus {
    color: white;
    background-color: #d9534f;
}

.nav-tabs > li.active > .tab-blue,
.nav-tabs > li.active > .tab-blue:hover,
.nav-tabs > li.active > .tab-blue:focus {
    color: white;
    background-color: #5bc0de;
}

.nav-tabs > li > .tab-blue,
.nav-tabs > li > .tab-blue:hover,
.nav-tabs > li > .tab-blue:focus {
    color: white;
    background-color: #5bc0de;
}

ul > li > .badge-interactions {
	color: white !important;
	background-color: #3BAFDA;
	font-weight: 400;
	font-size: 12px !important;
	line-height: 1.4;
	padding: 2px 7px;
}

ul > li.active > a:after {
    content: "\00b7";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    line-height: 5px;
}

.nav-tabs > li > a.tab-blue,
.nav-tabs > li > a.tab-red,
.nav-tabs > li.active > a.tab-blue,
.nav-tabs > li.active > a.tab-red,
.nav-tabs > li > a.tab-blue:hover,
.nav-tabs > li > a.tab-red:hover {
    border: none;
}

ul.border-bottom-tab-blue {
    border-bottom: 2px solid #5bc0de;
}

ul.border-bottom-tab-red {
    border-bottom: 2px solid #d9534f;
}

ul.nav-tabs.border-bottom-tab-blue > li,
ul.nav-tabs.border-bottom-tab-red > li {
    margin-bottom: 0px;
}

#variance_report_all_all_569 table.variance-report {
    border: none !important;
}

#variance_report_all_all_569 td:first-child,
#variance_report_all_all_569 th:first-child {
    border-left: 3px solid #123342 !important;
}

#variance_report_all_all_569 td:last-child,
#variance_report_all_all_569 th:last-child,
#variance_report_all_all_569 td.gene-header {
    border-right: 3px solid #123342 !important;
}

.form-group.checkbox {
    margin-top: 0px;
    margin-bottom: 25px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.gene-name {
    color: white;
    text-decoration: none;
}

.wrench-margin {
    margin-right: 2px;
}

.pagination-height {
    min-height: 35px;
}