{% extends "base.html" %}

{% load keyword_link %}
{% load format_moas_description %}
{% load format_moas_targets %}
{% load remove_whitespace %}
{% load split from chemical_filters %}
{% load static from staticfiles %}
{% load remove_whitespace %}
{% load gene_chemical_highchart_categories from genome_tags %}
{% load rating %}


{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <link rel="stylesheet" href="{% static "rating/css/star-rating.css" %}">
    <link rel="stylesheet" href="{% static "rating/themes/krajee-uni/theme.min.css" %}">
    <style>
        table, th, td {
            padding: 10px;
        }
        #top_interacting_highcgart tspan {
            cursor: pointer;
        }
        table tr {
            vertical-align: top;
        }
        #mechanism-of-action + .panel-body p{
            text-indent: 15px;
        }
        #general-information + .panel-body ul{
            font-size: 17px;
        }
        .rating-stars{
            font-size: 27px;
        }

    </style>
{% endblock %}


{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Chemicals">Chemicals</a>
        </li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.display_name|upper }}
            </strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.display_name.strip|title }}
    <sup><span style="font-size: 20px!important;">
    {% if location == "US" and query_set.affiliate_us %}
        <a href="{{ query_set.affiliate_us }}" target="_blank"><i
                class="fa fa-shopping-cart "></i></a></span>
    {% elif location == "international" and query_set.affiliate_international %}
        <a href="{{ query_set.affiliate_international }}" target="_blank"><i class="fa fa-shopping-cart "></i></a>
    </sup>
    {% endif %}
    {% if user.is_staff %}
        <a href="/joes_office/chemical/chemical/{{ query_set.id }}/change/"> Edit</a>
    {% endif %}
        <span class="pull-right" style="font-size: 20px!important;">
       {% if query_set.selfhacked_link %}
           <a href="{{ query_set.selfhacked_link }}" target="_blank">Read about {{ query_set.name|capfirst }} on SelfHacked</a>
       {% endif %}
    </span>
{% endblock %}

{% block extra_page_title %}
    <h4 class="pull-right">
        {{ query_set.categories.all|join:', '|default:"Uncategorized chemicals" }}
    </h4>
{% endblock %}

{% block content %}
    <div class="container">
        <p style="margin-top: 20px">
            {% comment %}<strong>
                Do you use {{ query_set.name }}?
                Please rate this substance if you've tried it and find out what the average score is.
            </strong>{% endcomment %}
            {% rating 'chemical' 'chemical' query_set.id %}
        </p>
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                {% if query_set.definition %}
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="panel panel-info panel-toggle">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Definition</h3>
                                </div>
                                <div class="panel-body">
                                    {{ query_set.definition|safe }}
                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if query_set.relation.t3db_data %}
                    {% if t3db_data.description %}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="panel panel-info panel-toggle">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Description</h3>
                                    </div>
                                    <div class="panel-body">
                                        {{ t3db_data.description|safe }}
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% include 'genome/partials/advertisement.html' %}

                {% if user.is_authenticated and substance_gene_interaction %}
                    <div class="panel panel-no-border panel-info panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="substance-and-problematic-gene-interactions">
                            <div class="pull-left"><h3 class="panel-title">Substance and Problematic Gene Interactions</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <table class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width: 300px;">Gene</th>
                                        <th>Interaction</th>
                                    </tr>
                                </thead>
                                <tbody id="problematic-gene-table">
                                    {% for item in substance_gene_interaction %}
                                        <tr>
                                            <td>
                                                <span>
                                                    <a href="{% url 'gene' item.gene.slug %}">{{ item.gene|upper }}</a>
                                                    {% if item.gene.description_simple %}
                                                        <span class="fa fa-info-circle tooltip-icon"
                                                                 data-toggle="tooltip"
                                                                 data-placement="top"
                                                                 title="{{ item.gene.description_simple|striptags|safe|cut:"[R]"|cut:"(R)"|truncatechars:300 }}">
                                                        </span>
                                                    {% endif %}
                                                    {{ item.score|stringformat:'.2f' }}
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    {% for action in item.actions_merged %}
                                                        {% if forloop.counter0 > 0 %},{% endif %}
                                                        {{ action.f1|title }} {{ action.f2 }}
                                                    {% endfor %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if substance_gene_interaction_has_page %}
                            <div class="row">
                                <button
                                        class="btn btn-default center-block"
                                        id="problematic-gene-load-more"
                                        type="button"
                                        data-url="{{ request.build_absolute_uri }}"
                                >Load more</button>
                            </div>
                            {% endif %}
                        </div>
                        </div>
                {% endif %}

{#{% if query_set.relation.organisms %}#}
                    <div class="panel panel-no-border{% if query_set.relation.organisms %} panel-info{% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="chemical-foods">
                            <div class="pull-left"><h3 class="panel-title">{{ query_set.display_name.strip|title }} is Found in These Foods</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <div data-container="list"></div>
                            <div class="row">
                                <button class="btn btn-default center-block"
                                        data-action="load-more"
                                        data-tmpl="#chemical-related-foods-tmpl"
                                        data-url="{% url 'api:chemical-top-organisms' query_set.pk %}">
                                    Load more
                                </button>
                            </div>
                        </div>
                    </div>
{#                {% endif %}#}

                {% if top_interactions %}
                    <div class="panel panel-no-border panel-info panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="top-gene-interactions">
                            <div class="pull-left"><h3 class="panel-title">Top Gene Interactions</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <div id="top_interacting_highcgart"></div>
                        </div>
                    </div>
                {% endif %}
{#                {% if query_set.relation.pathways %}#}
                    {% include 'chemical/partials/chemical_pathway.html' %}
{#                {% endif %}#}
{#                {% if query_set.relation.health_effects %}#}
                    <div class="panel panel-no-border{% if query_set.relation.health_effects %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="compound-health-effects">
                            <div class="pull-left"><h3 class="panel-title">{{ query_set.display_name.strip|title }} Health Effects</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <ul>
                                {% for health_effect in query_set.health_effects.all %}
                                    <li>
                                        <b>
                                            <a href="{% url "chemical:health-effect" health_effect.slug %}">
                                                {{ health_effect.name | capfirst }}
                                            </a>
                                        </b>
                                        {% if health_effect.description != '' %}
                                            <span class="fa fa-info-circle tooltip-icon"
                                                  data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  title="{{ health_effect.description }}">
                                                </span>
                                        {% endif %}

                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

{#                {% endif %}#}

{#                {% if query_set.relation.t3db_data %}#}
                    <div class="panel panel-no-border {% if query_set.relation.t3db_data %}panel-info panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                        <div class="panel-heading" data-hash="general-information">
                            <div class="pull-left"><h3 class="panel-title">General Information</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <ul>
                                {% if t3db_data.metabolism %}
                                    <li><b>Metabolism:</b> {{ t3db_data.metabolism|safe }}</li>{% endif %}
                                {% if t3db_data.uses_sources %}
                                    <li><b>Uses/Sources:</b> {{ t3db_data.uses_sources|safe }}</li>{% endif %}
                                {% if t3db_data.health_effects %}
                                    <li><b>Health Effects:</b> {{ t3db_data.health_effects|safe }}</li>{% endif %}
                                {% if t3db_data.symptoms %}
                                    <li><b>Symptoms:</b> {{ t3db_data.symptoms|safe }}</li>{% endif %}
                                {% if t3db_data.treatment %}
                                    <li><b>Treatment:</b> {{ t3db_data.treatment|safe }}</li>{% endif %}
                                {% if t3db_data.route_of_exposure %}
                                    <li><b>Route of Exposure:</b> {{ t3db_data.route_of_exposure|safe }}</li>{% endif %}
                            </ul>
                        </div>
                    </div>
{#                    {% if t3db_data.toxicity %}#}
                        <div class="panel panel-no-border {% if query_set.relation.t3db_data %}panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                            <div class="panel-heading" data-hash="toxicity">
                                <div class="pull-left"><h3 class="panel-title">Toxicity</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <ul>
                                    {% if t3db_data.carcinogenicity %}
                                        <li><b>Carcinogenicity:</b> {{ t3db_data.carcinogenicity }}</li>{% endif %}
                                    {% if t3db_data.toxicity %}
                                        <li><b>Toxicity:</b> {{ t3db_data.toxicity }}</li>{% endif %}
                                    {% if t3db_data.lethal_dose %}
                                        <li><b>Lethal Dose:</b> {{ t3db_data.lethal_dose }}</li>{% endif %}
                                    {% if t3db_data.minimum_risk_level %}
                                        <li><b>Minimum Risk Level:</b> {{ t3db_data.minimum_risk_level }}
                                        </li>{% endif %}
                                </ul>
                            </div>
                        </div>
{#                    {% endif %}#}
{#                    {% if query_set.relation.moas %}#}
                        <div class="panel panel-no-border{% if query_set.relation.moas %} panel-info {% else %} panel-default{% endif %} panel-toggle" data-plugin="collapsible">
                            <div class="panel-heading" data-hash="mechanism-of-action">
                                <div class="pull-left"><h3 class="panel-title">Mechanism of Action</h3></div>
                                <div class="pull-right"><i class="fa fa-plus"></i></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body collapsed">
                                <table class="table table-bordered" cellspacing="0" width="100%">
                                    {% if t3db_data.mechanism_of_toxicity %}
                                        <p>{{ t3db_data.mechanism_of_toxicity }}</p>
                                    {% endif %}
                                    <br>
                                    <tr>
                                        <th style="width: 300px;">Target Name</th>
                                        <th>Mechanism of Action</th>
                                        <th>References</th>
                                    </tr>
                                    {% for mech in query_set.moas.all %}
                                        <tr>
                                            <td>
                                                <span>{{ mech | format_moas_targets }}</span>
                                            </td>
                                            <td>
                                                <span>{{ mech.mechanism_of_action }}</span>
                                            </td>
                                            <td>
                                                <span>
                                                        {{ mech.reference.all | format_moas_description }}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
{#                    {% endif %}#}
{#                {% endif %}#}
{#                {% if query_set.relation.diseases %}#}
                    {% include "chemical/partials/chemical_disease.html" %}
{#                {% endif %}#}
{#                {% if query_set.relation.genes %}#}
                {% include "chemical/partials/genes_interactions.html" %}
{#                {% endif %}#}
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
{% include 'chemical/partials/interactions_list.html' with interactions=top_interactions chemical=query_set %}
{% endblock %}



<style>
    .highcharts-container{
        width: 100% !important;
        height: 100% !important;
    }
    .highcharts-root{
        width: inherit;
        height: inherit;
    }
</style>

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
    jQuery(function () {
            jQuery('#top_interacting_highcgart').highcharts({
                chart: {
                    type: 'bar',
                    events: {
                        render: function(event) {
                            $('[data-toggle="tooltip"]').tooltip({container: 'body'});
                        }
                    }
                },
                exporting: {enabled: false},
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        {% gene_chemical_highchart_categories top_interactions chemical=query_set %}
                    ],
                    labels: {
                        useHTML: true
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Interactions'
                    }
                },
                series: [{
                    name: 'Interactions',
                    data: [{% for interaction in top_interactions %} {
                        y:{{ interaction.total }},
                        desc: '{{ interaction.interaction }}'
                    },{% endfor %}],
                }],
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var gene = $.parseHTML(this.category)[0].innerText.toLowerCase();
                                    console.log(gene);
                                    $('#interactions-modal-' + gene).modal('show');
                                }
                            }
                        }
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.point.desc + '<br>'
                                + 'Number of interactions: <b>' + this.y + '</b>';
                    }
                }

            }, function () {
                $('.hashtip').tooltipsy();
            });


            $("#top_interacting_highcgart .highcharts-axis-labels:first text").click(function () {

                window.location.href = '/gene/' + $(this).text();
            });
        });
    </script>
    <script src="{% static 'chemical/chemical.js' %}"></script>
    <script src="{% static 'rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'rating/js/rating.js' %}"></script>
    {% include 'genome/partials/ad_popup.html' %}

    {% verbatim %}
<script type="text/x-jquery-tmpl" id="chemical-related-foods-tmpl">


        </tbody>
    </table>



        {{if response.count == 0}}
    <p>${app.config.AJAX_NOINFO_MESSAGE}</p>
    {{else}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Organism</th>
                <th>Concentration (per 100 grams)</th>
            </tr>
        </thead>
        <tbody>

        {{each(i, item) items}}
            <tr>
                <td><a href="${item.details_page_url}">${item.name}</a></td>
                <td>${item.max_conc} ${item.conc_unit}</td>
            </tr>
         {{/each}}

        </tbody>
    </table>
    {{/if}}





</script>
{% endverbatim %}



{% endblock %}