{% extends "base.html" %}
{% load static from staticfiles %}
{% load keyword_link %}

{% block title %} <title>{{ query_set.english_name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Health Effects">Health Effects</a>
        </li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.english_name|capfirst|default:query_set.latin_name }}
            </strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.english_name|capfirst|default:query_set.latin_name }}
    {% if user.is_staff %}
        <a href="/joes_office/chemical/organism/{{ query_set.id }}/change/"> Edit</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                {% include 'genome/partials/advertisement.html' %}
                {% load remove_whitespace %}
                {% if query_set.definition %}
                    <div class="panel panel-no-border panel-info panel-toggle">
                        <div class="panel-heading" id="definition">
                            <div class="pull-left"><h3 class="panel-title">Description</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <p>{{ query_set.definition }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if chemicals.exists %}
                    <div class="panel panel-no-border panel-info panel-toggle">
                        <div class="panel-heading" id="chemical-concentration">
                            <div class="pull-left"><h3 class="panel-title">Chemicals that are contained in this
                                Organism</h3></div>
                            <div class="pull-right"><i class="fa fa-plus"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body collapsed">
                            <table class="table table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <th>Chemical</th>
                                    <th>Concentration</th>
                                </tr>
                                {% for concnentration in chemicals.all %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'chemical:chemical' chemical=concnentration.chemical__slug %}"><span>{{ concnentration.chemical__name|capfirst }}</span></a>
                                        </td>
                                        <td>
                                            <span>{{ concnentration.max_conc }} {{ concnentration.conc_unit }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
{% endblock %}

{% block scripts %}
    {% include 'genome/partials/ad_popup.html' %}
    <script src="{% static 'chemical/scroller.js' %}"></script>
{% endblock %}
