{% extends "base.html" %}

{% load keyword_link %}


{% block title %} <title>{{ query_set.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Health Effects">Organism</a>
        </li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ query_set.name|upper }}
            </strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ query_set.name|upper }}
    {% if user.is_staff %}
        {% comment %}<a href="/joes_office/chemical/healtheffect/{{ query_set.id }}/change/"> Edit</a>{% endcomment %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                {% include 'genome/partials/advertisement.html' %}
                {% load remove_whitespace %}
                <div class="panel panel-no-border panel-default">
                    <div class="panel-heading">
                        <div class="pull-left"><h3 class="panel-title">Description</h3></div>
                        <div class="pull-right"><i class="fa fa-cubes"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <p>{{ query_set.info }}</p>
                    </div>
                </div>

                <div class="panel panel-no-border panel-default">
                    <div class="panel-heading">
                        <div class="pull-left"><h3 class="panel-title">Health effect affects Chemicals</h3></div>
                        <div class="pull-right"><i class="fa fa-cubes"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                    <ul>
                      {% comment %}  {% for chemical in  query_set.chemicals.all %}
                            <li>
                                <a href="{% url "chemical:chemical" chemical.slug %}">{{ chemical.name | capfirst }}</a>
                            </li>
                        {% endfor %}{% endcomment %}
                    </ul>
                    </div>
                </div>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
{% endblock %}

{% block scripts %}
    {% include 'genome/partials/ad_popup.html' %}
{% endblock %}
