{% extends 'base_forum.html' %}
{% load extras %}
            
            {% block title %} <title>All tags | SelfDecode | Genome Analysis</title> {% endblock %}

            {% block breadcrumd %}
                <li class="active">All Tags</li>
            {% endblock breadcrumd %}

            {% block content_wraper %}
            {% include 'new-post-button.html' %}

            <div class="row">
                <h2 class="category-header">All tags:</h2>
            </div>

            {% if all_tags %}
            <div class="row">
            {% for tag in all_tags %}
                <a href="{% url 'forum:tag-posts' tag.slug %}" target="_blank">
                    <button type="button" style="margin: 5px 5px;" class="btn btn-info">
                        {{ tag.name }}&nbsp;&nbsp;&nbsp;<span class="badge">{{ tag.posts.count }}</span>
                    </button>
                </a>
            {% endfor %}
            </div>
            {% else %}
                <p class="text-muted lead text-center">You have no tags.</p>
            {% endif %}

            {% endblock content_wraper %}
            