{% extends "base.html" %}
{% load extras %}
{% load staticfiles %}

{% block head %}
    <style>
        .category-header{
            margin-bottom: 25px;
            margin-top: 0px;
        }

        .category{
            margin-bottom: 0px;
        }

        .content-wraper{
            margin-bottom: 40px;
        }

        .fake-nickname{
            max-width: 200px;
        }

        .comment-section{
            margin-top: 50px
        }
        .wrap-notifications{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 400px;
        }
        .change_username{
            float: left;
            line-height: 2em;
        }
    </style>
    <link rel="stylesheet" href="{% static 'forum/css/forum.css'  %}">
{% endblock head %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home">
            <a class="bread-link bread-home" href="/" title="Home">Home</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url 'profile' %}" title="User">User</a>
        </li>
        <li class="item-parent item-parent-3602">
            <a class="bread-parent bread-parent-3602" href="{% url 'forum:main' %}">Forum</a>
        </li>
        {% block breadcrumd %}
        {% endblock breadcrumd %}
    </ol>
{% endblock %}

{% block page_title %}
    Forum
{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}
            <div class="col-sm-9 content-wraper">
                {% block content_wraper %}
                {% endblock content_wraper %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
