{% extends 'base_forum.html' %}            
{% load extras %}
            
            {% block title %} <title>Category: {{ category.name }} | SelfDecode | Genome Analysis</title> {% endblock %}

            {% block breadcrumd %}
                <li class="active">{{ category.name|truncatechars:50 }}</li>
            {% endblock breadcrumd %}

            {% block content_wraper %}
            {% include 'new-post-button.html' %}


            <div class="row">
                <h2 class="category-header">Category: {{ category.name }}</h2>
            </div>


            {% for post in posts %}
            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <img alt="" src="https://secure.gravatar.com/avatar/{{ post.author.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g" class="img-circle photo grav-hashed" scale="4">
                    </div>
                    <div class="media-body">
                        <h4>
                            <a href="{% url 'forum:post' post.slug %}">{{ post.title }}</a>
                        </h4>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;{{ post.comments.count }} Comments
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>&nbsp;{{ post.author.username }}</span>
                        &nbsp;
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{ post.time|date:"M dS o h:i A T" }}
                        &nbsp;
                        {% if request.user.is_staff %}
                            &nbsp;&nbsp;
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a target="_blank" href="{% url 'admin:forum_post_change' post.id %}">&nbsp;&nbsp;Change</a>
                            &nbsp;&nbsp;
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><a target="_blank" href="{% url 'admin:forum_post_delete' post.id %}">&nbsp;&nbsp;Delete</a>
                        {% endif %}

                    </div>
                </div><!-- #media -->
                <br>
            </div>
            {% endfor %}

            {% if posts.paginator.num_pages > 1 %}
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                        {% if posts.has_previous %}
                            <li>
                                {% url 'forum:category-posts-paginated' category.slug posts.previous_page_number as prev_page_url %}
                                <a href="{{ prev_page_url }}" area-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for i in posts.paginator.page_range %}
                            <li {% if posts.number == i %} class="active" {% endif %}>
                                {% url 'forum:category-posts-paginated' category.slug i as page_url %}
                                <a href="{{ page_url }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if posts.has_next %}
                            <li>
                                {% url 'forum:category-posts-paginated' category.slug posts.next_page_number as next_page_url %}
                                <a href="{{ next_page_url }}" area-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        </ul>
                    </nav>
                </div>
            {% endif %}

            {% endblock content_wraper %}
            