{% extends 'base_forum.html' %}
{% load extras %}
{% load static %}


            {% block breadcrumd %}
                <li class="active">Edit post</li>
            {% endblock breadcrumd %}      

            {% block content_wraper %}
            {% if not user.forum_permissions.first.is_banned %}
                <h2 class="category-header">Edit post.</h2>

                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="title">Title:</label>
                        <div class="col-sm-10">
                            <input
                                    required=""
                                    type="text"
                                    class="form-control"
                                    name="title"
                                    id="title"
                                    placeholder="Enter post title"
                                    value="{{ form.title.value }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-1" for="category">Category:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="category" name="category">
                                {% for category in categories %}
                                   <option value="{{ category.id }}" {% if category.id == form.category.value  %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-1" for="category">Tags:</label>
                        <div class="col-sm-10">
                        
                            <input
                                    required=""
                                    type="text"
                                    class="form-control"
                                    name="tags"
                                    id="tag"
                                    placeholder="Enter a list of tags separated by comma"
                                    value="{{  post_tags|join:", " }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="body">Text:</label>
                        <div class="col-sm-10">
                            {{ form.body }}
{#                            <textarea required="" class="form-control" id="body" name="body" rows="12" placeholder="Enter post body"></textarea>#}
    <!--                         <em class="text-muted">
                                Also you can use <a target="_blank" href="https://guides.github.com/features/mastering-markdown/#examples">Markdown</a> tags in the post body.
                            </em> -->
                        </div>
                    </div>

                    <div class="form-group"> 
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form><!-- #form -->
            {% else %}
                <p class="text-muted lead text-center">Sorry, This page is not availble for you.</p>
            {% endif %}

            {% endblock content_wraper %}

            {% block scripts %}
                <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
            {% endblock scripts %}

