{% extends 'base_forum.html' %}            
{% load extras %}


            {% block content_wraper %}
            {% include 'new-post-button.html' %}

            {% for category in categories %}
                {% if category.posts.count %}
                    <div class="row">
                        
                        <h2><a href="{% url 'forum:category-posts' category.slug %}">{{ category.name }}</a></h2>
                        
                        {% for post in category.get_top_posts %}

                        <div class="media">
                            <div class="media-body">
                                <h4>
                                    <a href="{% url 'forum:post' post.slug %}">{{ post.title }}</a>
                                </h4>
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;{{ post.comments.all.count }}
                                &nbsp;
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>&nbsp;{{ post.author }}</span>
                                &nbsp;
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{ post.time|date:"M dS o h:i A T" }}

                            </div>
                        </div><!-- #media -->
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
            {% endblock content_wraper %}
            