            {% if not user.forum_permissions.first.is_banned %}
	            <a href="{% url 'forum:new-post' %}">
	                <button type="button" class="btn btn-primary pull-right">
	                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	                    Start new post
	                </button>
	            </a>
            {% endif %}