{% load replace_underscores %}

{% for view in forum_notifications.all %}
    <li>
        <a href="{% url 'forum:post' view.post.slug %}" class="wrap-notifications"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ view.author_name|first }} commented on
        {{ view.post.title }}
        </a>
    </li>
{% endfor %}
{% for item in access_notifications.all %}
    <li>
        <a href="{% url 'social:account_access' %}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ item.sender }} sent you request to {{ item.type|replace_underscores }}
        </a>
    </li>
{% endfor %}
{% if forum_notifications %}
    <li>
        <a href="" id="clear-all-btn">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            &nbsp;
            Clear forum notifications.
        </a>
    </li>
{% endif %}
