{% extends 'base_forum.html' %}
{% load staticfiles %}

{% load extras %}
{% load bbcode_tags %}
{% load static %}
{% load social_tags %}

            {% block title %} <title>{{ post.title }} | SelfDecode | Genome Analysis</title> {% endblock %}

            {% block head %}
                <style>
                    .func-btn{
                        display: inline-block;
                    }
                    .func-btn-wrapper{
                        margin-bottom: 15px;
                        line-height: 1.7em;
                    }
                    .comment-section{
                        margin-top: 50px;
                    }
                   .change_username {
                        float: left;
                        line-height: 2em;
                    }
                </style>
            {% endblock %}

            {% block breadcrumd %}
                    <li class="active">{{ post.title|truncatechars:50 }}</li>
            {% endblock breadcrumd %}


            {% block content_wraper %}
            {% include 'new-post-button.html' %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    
                </div>
            {% endif %}

            <div class="media">
                <div class="media-left">
                    <img alt="" src="https://secure.gravatar.com/avatar/{{ post.author.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g" class="img-circle photo grav-hashed" scale="4">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <div class="func-btn-wrapper">
                        <div class="func-btn text-muted">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="text-muted">&nbsp;{{ post.author }}  </span>
                            {% social_button 'xs' post.author %}
                        </div>
                            &nbsp;
                        <div class="func-btn text-muted">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            &nbsp;{{ post.time|date:"M dS o h:i A T" }}
                        </div>
                            &nbsp;
                        <div class="func-btn text-muted">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                            <a href="{% url 'forum:category-posts' post.category.slug %}">&nbsp;&nbsp;{{ post.category }}</a>
                        </div>
                            &nbsp;
                        {% if user == post.author and not user.is_staff %}
                            <div class="func-btn text-muted">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                <a href="{% url 'forum:edit-post' post.id %}" class="edit-post-btn">Edit</a>
                            </div>
                        {% endif %}
                        {% if request.user.is_staff %}
                            &nbsp;&nbsp;
                            <div class="func-btn text-muted">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <a target="_blank" href="{% url 'admin:forum_post_change' post.id %}">&nbsp;&nbsp;Change</a>
                            </div>
                            &nbsp;&nbsp;
                            <div class="func-btn text-muted">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <a target="_blank" href="{% url 'admin:forum_post_delete' post.id %}">&nbsp;&nbsp;Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="post-content">                        
                        {{ post.body|repair_bb_links|bbcode|safe }}
                    </div>
                    {% if post.updated_at %}
                        <i class="text-muted pull-right">Last edited: {{ post.updated_at|date:"M dS o h:i A T" }}</i>
                    {% endif %}

                    <br>
                    <p><strong>Post tags: </strong>
                    {% for tag in post.tag.all %}
                        <a href="{% url 'forum:tag-posts' tag.slug %}">{{ tag }}
                        {% if not forloop.last %},{% endif %}
                        </a>
                    {% endfor %}
                    </p>
                </div>
            </div>

            <br>
            {% if not user.forum_permissions.first.is_banned %}
                <form action="" method="POST" class="form-horizontal col-sm-offset-1">
                    {% csrf_token %}
                    <div class="form-group">
                        <div >
                            {% if user.forum_permissions.first.username_changed %}
                                <div style="float: left; line-height: 2em;" class="text-muted">
                                    You're logged in as: <strong>{{ request.user.username }}</strong>.
                                </div>
                            {% else %}
                                <div class="text-muted change_username">
                                    You're logged in as: <strong>{{ request.user.username }}</strong>.
                                    You can change your username to &nbsp;&nbsp;&nbsp;
                                </div>
                                <div style="float: left; ">
                                    <input type="text" name="new-username" class="form-control" placeholder="Your new username">
                                </div>
                                <div class="text-muted change_username">&nbsp;&nbsp; or via <a href="{% url 'profile' %}">profile</a>.</div>
                           {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Leave your comment here:</label>
                            {{ form.body }}
{#                        <textarea required="" class="form-control" name="body" rows="5" id="comment" placeholder="Your comment"></textarea>#}
    <!--                     <em class="text-muted">
                            Also you can use <a target="_blank" href="https://guides.github.com/features/mastering-markdown/#examples">Markdown</a> tags in your comment.
                        </em> -->
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            {% else %}
                <p class="text-muted lead text-center">Sorry, You can not add comments. Contact administrator.</p>
            {% endif %}

            <div class="row comment-section">
            {% if comments.object_list.count %}

                {% for comment in comments %}
                    <div class="media" data-action="voting" data-content-type="comment" data-label="forum" data-object-id="{{ comment.id }}" id="forum-comment-{{ comment.id }}">
                        <div class="media-left">
                            <img alt="" src="https://secure.gravatar.com/avatar/{{ comment.author.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g" class="img-circle photo grav-hashed" scale="4">
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.author }} {% social_button 'xs' comment.author %}</h4>
                            <div class="func-btn-wrapper">
                                <div class="func-btn text-muted">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    &nbsp;{{ comment.time|date:"M dS o h:i A T" }}
                                </div>
                                {% if request.user.is_staff %}
                                    &nbsp;&nbsp;
                                    <div class="func-btn text-muted">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <a target="_blank" href="{% url 'admin:forum_userpermissions_add' %}">&nbsp;&nbsp;Ban user</a>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="func-btn text-muted">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <a target="_blank" href="{% url 'admin:forum_comment_delete' comment.id %}">&nbsp;&nbsp;Delete message</a>
                                    </div>
                                {% endif %}
                                &nbsp;
                                {% if user == comment.author %}
                                    <div class="func-btn text-muted">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                        <a href="" class="edit-comment-btn">Edit</a>
                                    </div>
                                {% endif %}
                            </div>
                            <span data-comment-id="{{ comment.id }}">
                                {{ comment.body|repair_bb_links|safe|bbcode|linebreaks }}
                            </span>
                            {% if comment.updated_at %}
                                <p><i class=" text-muted">Last edited: {{ comment.updated_at|date:"M dS o h:i A T" }}</i></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if comments.paginator.num_pages > 1 %}
                    <div class="row">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">

                            {% if comments.has_previous %}
                                <li>
                                    {% url 'forum:post-paginated' post.slug comments.previous_page_number as prev_page_url %}
                                    <a href="{{ prev_page_url }}" area-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for i in comments.paginator.page_range %}
                                <li {% if comments.number == i %} class="active" {% endif %}>
                                    {% url 'forum:post-paginated' post.slug i as page_url %}
                                    <a href="{{ page_url }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if comments.has_next %}
                                <li>
                                    {% url 'forum:post-paginated' post.slug comments.next_page_number as next_page_url %}
                                    <a href="{{ next_page_url }}" area-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            </ul>
                        </nav>
                    </div>
                {% endif %}

            {% else %}

                <p class="text-muted lead text-center">Sorry, There is no comments here.</p>
            {% endif %}

            </div>
            {% endblock content_wraper %}

            {% block scripts %}
                {% include 'partials/modal_bodies/edit_comment_modal_body.html' %}
                <script src="{% static 'js/utils.js' %}"></script>
                <script src="{% static 'forum/js/rating.js' %}"></script>
                <script src="{% static 'social/social.js' %}"></script>
                <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

                <script>
                    $(document).ready(function () {
                        console.log($('span[data-comment-id]').data('comment-id'));
                        $('.edit-comment-btn').on('click', function (event) {
                            event.preventDefault();
                            var comment_placeholder = $(this).parent().siblings('span[data-comment-id]');
                            var comment_id = comment_placeholder.data('comment-id');
                            $.get('/forum/get-comment-body/', {id: comment_id}, function (data) {
                                var comment_form  = $('#tpl-comment').html();
                                comment_form = comment_form
                                    .replace('{csrftoken}', getCookie('csrftoken'))
                                    .replace(new RegExp('{comment_id}', 'g'), comment_id)
                                    .replace('{body}', data.body);
                                comment_placeholder.html(comment_form);
                                CKEDITOR.replace('comment-' + comment_id, data.options);
                            });
                        });

                        $(document).on('click', '.cancel-btn', function () {
                            var parentSpan = $(this).closest('[data-comment-id]');

                            var commentHtml = CKEDITOR.instances['comment-' + parentSpan.data('comment-id')].document.getBody().getHtml();
                            parentSpan.html(commentHtml);
                        })
                    })
                </script>
            {% endblock scripts %}

