            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase" id="decodify-members-menu">
                        <li><a href="{% url 'forum:my-posts' %}">My posts<span class="badge pull-right"></span></a></li>
                        <li><a href="{% url 'forum:recent-posts' %}">Recent posts<span class="badge pull-right"></span></a></li>
                </ul>
            
            
            <h4>Categories:</h4>
                <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase" id="decodify-members-menu">
                    {% for category in categories %}
                        <li><a href="{% url 'forum:category-posts' category.slug %}">{{ category.name|truncatechars:16 }}<span class="badge pull-right">{{ category.posts.count }}</span></a></li>
                    {% endfor %}
                </ul>

            <!-- <hr> -->

            <h4>Tags:</h4>
                <ul class="nav nav-pills nav-stacked nav-primary nav-pills-showcase" id="decodify-members-menu">
                    {% for tag in tags|slice:":10" %}
                        <li><a href="{% url 'forum:tag-posts' tag.slug %}">{{ tag.name|truncatechars:18 }}<span class="badge pull-right">{{ tag.posts.count }}</span></a></li>
                    {% endfor %}
                    {% if tags.count > 10 %}
                        <a href="{% url 'forum:all-tags' %}" style="font-size: 13px; margin-left: 15px;">See all tags >></a>
                    {% endif %}
                </ul>
            </div>