{% load genome_filters %}
{% load formatting %}
{% load remove_dunder %}
{% load keyword_link %}


<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a
                href="#ajax-me-info-{{ item.rsid }}"
                aria-controls="home" role="tab"
                data-toggle="tab"
                aria-expanded="true">Me</a></li>
        <li role="presentation" class=""><a
                href="#ajax-all-info-{{ item.rsid }}"
                aria-controls="profile" role="tab"
                data-toggle="tab"
                aria-expanded="false">All Info</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="ajax-me-info-{{ item.rsid }}"><br>
        {% if user_rsid_record.genotype %}
            {% for study in item.studies.all %}
                    {% if study.risk_allele and study.ci_text %}
                    {% for diseasetrait in study.diseasestraits.all %}
                        {% include "genome/partials/part_conclusion.html" with query_set=study diseasetrait=diseasetrait user_rsid_record=user_rsid_record %}
                        <br/>
                    {% endfor %}
                    {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        {% include "genome/partials/part_conclusion_study_info.html" %}
        <br>
        </div>
        <div role="tabpanel" class="tab-pane" id="ajax-all-info-{{ item.rsid }}"><br>
            {{ item.description_advanced|safe }}
            {% for item in item.studies.all %}
                {% for diseasetrait in item.diseasestraits.all %}
                <h3>Disease/Trait: {{ diseasetrait.name|title }}</h3>
                <p>
                    <i class="fa fa-dot-circle-o"></i> <a href="{% url 'diseasetrait' diseasetrait.slug %}" target="_blank">{{ diseasetrait.name|capfirst }}</a> 
                    (<strong>P={{ item.p_value|format_pvalue }}</strong>)<br>
                    <i class="fa fa-dot-circle-o"></i> Risk Allele:
                    <strong>{{ item.risk_allele }}</strong>
                    {% if item.snp|is_ambiguous_snp %}
                        <i class="fa fa-warning text-warning" data-toggle="tooltip" data-placement="top"
                           title="Please be advised that this is an ambiguous SNP and G could mean C and A could mean T - and vice versa."></i>
                    {% endif %}
                    <br>
                    <i class="fa fa-dot-circle-o"></i> Reported risk allele frequency:
                    <strong>{{ item.risk_allele_frequency|percentages }}</strong><br>
                    <i class="fa fa-dot-circle-o"></i> Impact: <strong>{{ item.p_value_mlog }}</strong>&nbsp;<i
                        class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                        title="The higher the number, the bigger the impact. Anything over 4 will be very statistically significant."></i><br>
                    {% if user_rsid_record.genotype and item.risk_allele and item.ci_text %}
                    <i class="fa fa-dot-circle-o"></i> Conclusion:
                    {% include "genome/partials/part_conclusion.html" with query_set=item diseasetrait=diseasetrait user_rsid_record=user_rsid_record %}
                    <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                       title="The conclusion is based solely on this SNP and doesn't necessarily represent the absolute risk to an individual"></i>
                    <br>
                    {% endif %}
                    <i class="fa fa-dot-circle-o"></i> Odds Ratio:
                    <strong>{{ item.odds_ratio }}</strong>&nbsp;<i class="fa fa-info-circle text-info"
                                                                   data-toggle="tooltip"
                                                                   data-placement="top"
                                                                   title="What does Odds Ratio mean?  An Odds Ratio lower than 1 indicates a decreased risk of disease or measurement.  An Odds Ratio great than 1 indicates an increased risk of disease or measurement.  For example, a 0.5 Odds Ratio means that you have < 50% decreased risk of getting a disease/trait than normal.  An Odds Ratio of 2 means that you have < 2 times increased likelihood of getting a disease/trait."></i><br>
                    <i class="fa fa-dot-circle-o"></i> Reported genes:
                    {% for gene in item.snp.genes.all %}
                        <a href="{% url 'gene' gene.slug %}" target="_blank">{{ gene|upper }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <i class="fa fa-dot-circle-o"></i> Context: <strong>{{ item.context }}</strong><br>
                    <i class="fa fa-dot-circle-o"></i> Study title: <strong>{{ item.study }}&nbsp;(<a
                        href="http://www.ncbi.nlm.nih.gov/pubmed/{{ item.pubmed_id }}">R</a>)</strong><br>
                    <i class="fa fa-dot-circle-o"></i> Initial sample size:
                    <strong>{{ item.initial_sample_size }}</strong><br>
                    <i class="fa fa-dot-circle-o"></i> Replication sample size:
                    <strong>{{ item.replication_sample_size }}</strong><br>
                    <i class="fa fa-dot-circle-o"></i> Journal: <strong>{{ item.journal }}&nbsp;(<a
                        href="http://www.ncbi.nlm.nih.gov/pubmed/{{ item.pubmed_id }}">R</a>)</strong><br>
                    <i class="fa fa-calendar"></i> Year published:
                    <strong>{{ item.journal_published_at }}</strong><br>
                    <i class="fa fa-calendar"></i> Strength of evidence: <strong>Strong</strong><br>
                </p>
                    {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>
<script>$('[data-toggle="tooltip"]').tooltip();</script>