{% load keyword_link %}

<div class="modal-body">

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#me-info-{{ item.rsid }}"
                   aria-controls="home" role="tab"
                   data-toggle="tab"
                   aria-expanded="true">Me</a>
            </li>
            <li role="presentation">
                <a href="#all-info-{{ item.rsid }}"
                    aria-controls="profile" role="tab"
                    data-toggle="tab"
                    aria-expanded="false">All Info</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="me-info-{{ item.rsid }}"><br>
                {% if item.genotype_style == "heterozygous" and item.description_hetero != "" %}
                    {{ item.description_hetero|keyword_link|safe }}
                {% elif item.genotype_style == "homozygous_major" and item.description_major != "" %}
                    {{ item.description_major|keyword_link|safe }}
                {% elif item.genotype_style == "homozygous_minor" and item.description_minor != "" %}
                    {{ item.description_minor|keyword_link|safe }}
                {% else %}
                    No info...
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="all-info-{{ item.rsid }}"><br>
                {% if item.description_advanced_x %}
                    {{ item.description_advanced_x|keyword_link|safe }}
                {% else %}
                    No info...
                {% endif %}
            </div>
        </div>
    </div>

</div>
