<div class="modal fade" id="my-modal">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content modal-no-shadow modal-no-border">
                <div class="modal-header bg-primary no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                <div id="loader"></div>

                <div class="chem-graph" ></div>

                </div>
                <p class="legend">Selected genes are highlighted in <span style="color: orange;">orange</span>, bookmarked genes are <span style="color: green;">green</span></p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i> - Chemical increases gene,
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i> - Chemical decreases gene,
                    <i class="fa fa-arrows-v" aria-hidden="true"></i> - Chemical increases and decreases gene simultaneosly,
                    <strong>No arrows</strong> - gene doesn't interact with the chemical.
                </p>
                <p class="legend">
                    <i class="fa fa-long-arrow-up" style="color: #3eafdb;" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: #3eafdb;" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time and the chemical does it.
                    <i class="fa fa-long-arrow-up" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-down" style="color: rgb(158, 2, 2);" aria-hidden="true"></i>
                     - Gene should be increased/decreased most of the time but the chemical does the opposite.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div><!-- /.modal-footer -->
            </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .primary .full -->
        </div>
    </div>