{% load genome_filters %}
{% load formatting %}
{% load remove_dunder %}
{% load keyword_link %}
{% load staticfiles %}

<div>
    <!-- Nav tabs -->
    {% if increase_tab_active == "active" %}
        <ul class="nav nav-tabs border-bottom-{{ increase_tab_class }}" role="tablist">
    {% else %}
        <ul class="nav nav-tabs border-bottom-{{ decrease_tab_class }}" role="tablist">
    {% endif %}
        <li role="presentation" class="{{ increase_tab_active }}">
            <a
                href="#increase-tab"
                aria-controls="home" role="tab"
                data-toggle="tab"
                aria-expanded="true"
                class="{{ increase_tab_class }}"
                data-cls="border-bottom-{{ increase_tab_class }}"
        >Increase</a>
    </li>

        <li role="presentation" class="{{ decrease_tab_active }}">
            <a
                href="#decrease-tab"
                aria-controls="home" role="tab"
                data-toggle="tab"
                aria-expanded="true"
                class="{{ decrease_tab_class }}"
                data-cls="border-bottom-{{ decrease_tab_class }}"
        >Decrease</a>
    </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {{ increase_tab_active }}" id="increase-tab"><br>
            <ul>
                {% for interaction in item2.grouper|gene_interactions:"increases" %}
                    <li>
                        <a href="{% url "chemical:chemical" chemical=interaction.interaction__chemical__slug %}"
                           target="_blank"
                           data-toggle="tooltip"
                           {% if interaction.interaction__chemical__t3db_data__description|default:interaction.interaction__chemical__definition %}
                                class="hashtip"
                           {% endif %}
                           data-placement="bottom"
                           title="{{ interaction.interaction__chemical__t3db_data__description|default:interaction.interaction__chemical__definition }}">
                            {{ interaction.interaction__chemical__display_as|default:interaction.interaction__chemical__name|title }}
                        </a>
                        <span class="badge badge-interactions">{{ interaction.total }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane {{ decrease_tab_active }}" id="decrease-tab"><br>
            <ul>
                {% for interaction in item2.grouper|gene_interactions:"decreases" %}
                    <li>
                        <a href="{% url "chemical:chemical" chemical=interaction.interaction__chemical__slug %}"
                           target="_blank"
                           data-toggle="tooltip"
                           {% if interaction.interaction__chemical__t3db_data__description|default:interaction.interaction__chemical__definition %}
                                class="hashtip"
                           {% endif %}
                           data-placement="bottom"
                           title="{{ interaction.interaction__chemical__t3db_data__description|default:interaction.interaction__chemical__definition }}">
                            {{ interaction.interaction__chemical__display_as|default:interaction.interaction__chemical__name|title }}
                        </a>
                        <span class="badge badge-interactions">{{ interaction.total }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        destroy_tooltipsy('.hashtip');
        resubscribe_tooltipsy('.hashtip');
    </script>
</div>