{% load resolve_url %}
{% load staticfiles %}

<style>
    .exit-intent .overlay {
        position: fixed;
        z-index: 999999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .exit-intent .popup {
        position: fixed;
        width: 100%;
        max-width: 800px;
        min-height: 200px;
        background: rgb(242, 244, 247);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1vw 2vw;
        z-index: 9999999;
    }
    .exit-intent .popup .wrapper{
        padding: 1vw;
    }
    .exit-intent .popup img {
        max-width: 100%;
    }
    .exit-intent .popup .headline {
        color: #000;
        font-family: Roboto,sans-serif;
        font-size: 3.6rem;
        min-height: 1em;
        line-height: 1.5;
        text-align: center;
    }
    .exit-intent .popup .subheadline {
        color: #000;
        font-family: Roboto,sans-serif;
        font-size: 2.5rem;
        min-height: 1em;
        line-height: 1.5;
        text-align: center;
    }
    .exit-intent .popup .btn {
        display: inline-block;
        width: 100%;
        color: rgb(0, 0, 0);
        padding: 12px;
        border-color: rgb(230, 192, 41);
        background: rgb(230, 192, 41);
        text-shadow: none;
        transition: color 0.2s linear, background 0.2s linear, border-color 0.2s linear, text-shadow 0.2s linear;
        text-decoration: none;
        font-size: 3rem;
        font-weight: 700;
        white-space: normal;
    }
    .exit-intent .popup .btn:hover {
        background-color: rgb(179, 149, 32);
        border-color: rgb(179, 149, 32);
    }
    .js-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    .js-close:focus {
        border: none;
        outline: none;
    }
    .js-close svg polygon {
        fill: #999;
        transition: fill .3s ease-in-out;
    }
    .js-close:hover svg polygon {
        fill: #000;
    }
</style>

<div class="exit-intent" style="display: none;">
    <div class="overlay"></div>
    <div class="popup">
        <a class="js-close" tabindex="0" >
            <svg viewBox="0 0 10.6 11"><polygon points="6.3,5.4 10.4,1.4 9.2,0.3 5.3,4.2 1.3,0.3 0.2,1.4 4.3,5.4 0.2,9.5 1.3,10.7 5.3,6.8 9.2,10.7 10.4,9.5 "></polygon></svg>
        </a>
        <div class="wrapper">
            <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/decodify_logo4.png" alt="Logo">
        </div>
        <div class="wrapper">
            <h1 class="headline">Do your genes contribute to your health problems?</h1>
        </div>
        <div class="wrapper">
            <h2 class="subheadline">Get your personalized health recommendations based on your genetic profile and symptoms.</h2>
        </div>

        {% contains_url "account_signup" "payment:checkout" as is_signup %}

        {% if is_signup %}
        <div class="wrapper">
            <form class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/169874/subscribe" data-remote="true">
                <input type="hidden" value="{&quot;form_style&quot;:&quot;minimal&quot;}" id="ck_form_options">
                <input type="hidden" name="id" value="169874" id="landing_page_id">

                <div class="form-group">
                    <input type="email" name="email" class="form-control text" placeholder="Enter email address" required>
                </div>
                <div class="form-group">
                    <button class="btn" type="submit" style="font-size: 1.8rem;">
                    Sign up to view the demo site with our DNA data and see what SelfDecode can do
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="wrapper">
            <a href="{% url "account_signup" %}" target="" rel="" class="btn">Sign up for SelfDecode</a>
        </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function () {
        var current_time = Date.now();
        var ttl = 30 * 24 * 60 * 60 * 1000; // 30 days
        var time_limit = 30; // 30 sec
        var expires_days = 30;
        if (!$.cookie.get("eiLastShown") || current_time - $.cookie.get("eiLastShown", current_time) > ttl) {
            var timer = setInterval(function () {
                var elapsed_time = $.cookie.get("eiElsapsedTime", 0);
                elapsed_time++;
                $.cookie.set("eiElsapsedTime", elapsed_time);
                if(elapsed_time >= time_limit) {
                    clearInterval(timer);
                }
            }, 1000);

            $(document).on("mouseleave", function () {
                if($.cookie.get("eiElsapsedTime", 0) >= time_limit) {
                    $('.exit-intent').show();
                    $.cookie.remove("eiElsapsedTime");
                    $.cookie.set("eiLastShown", current_time, expires_days);
                }
            });
        }

        $('.js-close,.exit-intent .overlay').on("click", function (e) {
            $('.exit-intent').remove();
            e.preventDefault();
            return false;
        });
    });
</script>
