{% load experiment_tags %}

{% for analytic in analytics.all %}
        <tr>
            <td>
                <a {% if analytic.gene %} href="{{ analytic.gene.name }}"{% else %}
                                          class="disabled"{% endif %}>{{ analytic.gene_name }}</a>
            </td>
            <td>{{ analytic.log2folds|max_log2fold|floatformat:1 }}</td>
            {#                                <td>{{ analytic.log2fold|floatformat:1 }}</td>#}

            {% log2folds_tds analytic.log2folds context %}
            {% comment %}
            {% for conf in context.configurations %}
                {% if log2folds %}
                <td style="background:
                        {% if log2fold >= 0 %}
                            {% colour_saturation "red" context.min_positive context.max_positive log2fold %}
                        {% else %}
                            {% colour_saturation "blue" context.max_negative context.min_negative log2fold %}
                        {% endif %}">
                    <div class="gxaShowCell">
                        {{ log2fold|floatformat:1 }}
                    </div>
                </td>
            {% endfor %}{% endcomment %}
        </tr>
{% endfor %}