{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block head %}
    <style>
        #id_email{
            display:block;
            width:100%;
            height:35px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3527"><strong class="bread-current bread-3527"> Confirm E-mail Address</strong>
        </li>
    </ol>

{% endblock %}

{% block page_title %}
    Confirm E-mail Address
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="the-box decodify-form" style="margin-top:30px;">
            <h4 class="small-title">Confirm E-mail Address</h4>

            {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that 
                    <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
                </p>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button type="submit">{% trans 'Confirm' %}</button>
                </form>
            {% else %}
                {% url 'account_email' as email_url %}
                <p>{% blocktrans %} This e-mail confirmation link expired or is invalid. Please 
                    <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
                </p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}