{% extends "base.html" %}

{% block head %}
    <style>

        #id_login, #id_password {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }


    </style>
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me"
                                 title="Home">Home</a></li>
        <li class="item-current item-3534"><strong class="bread-current bread-3534"> Login</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Login
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="the-box decodify-form" style="margin-top:30px;">
                <h4 class="small-title">SIGN IN</h4>
                {% get_providers as socialaccount_providers %}

                <!--{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->

                    <div class="socialaccount_ballot">

                        {#                        <ul class="socialaccount_providers">#}
                        {#                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
                        {#                        </ul>#}

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

                <form id="loginform" class="it-exchange-log-in login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="form-group">
                        <button class="primaryAction btn btn-success btn-block" type="submit">
                            <i class="fa fa-sign-in"></i> {% trans "Sign In" %}
                        </button>
                        <a href="{% provider_login_url "facebook" method="oauth2" %}"
                           class="btn btn-block btn-info btn-social btn-facebook">
                            <span class="fa fa-facebook"></span> Sign in with Facebook
                        </a>
                    </div>
                    <div style="width:100%;text-align:center;">
                        <a class="button secondaryAction"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
            </div>
            </form>


        </div>

    </div>
{% endblock %}

{% block scripts %}



{% endblock %}