{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block head %}
<style>
#id_email{
    display:block;
    width:100%;
    height:35px;
}

</style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me" title="Home">Home</a></li>
        <li class="item-current item-3527"><strong class="bread-current bread-3527"> Password Reset</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Password Reset
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<div class="the-box decodify-form" style="margin-top:30px;">
<h4 class="small-title">Password Reset</h4>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success btn-block" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>

{% endblock %}