{% extends "account/base.html" %}

{% block head %}
<style>
#id_oldpassword, #id_password1, #id_password2 {
	display:block;
	width:100%;
	height:35px;
}

</style>
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me" title="Home">Home</a></li>
        <li class="item-current item-3534"><strong class="bread-current bread-3534"> Change Password</strong></li>
    </ol>
{% endblock %}

{% block page-title %}
    Change Password
{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<div class="the-box decodify-form" style="margin-top:30px;">
<h4 class="small-title">Change Password</h4>


    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger btn-block" name="action">{% trans "Change Password" %}</button>
    </form>

 </div>
 </div>
 </div>
{% endblock %}
