{% extends "account/base.html" %}

{% load i18n %}

{% block head %}
    <style>
        #id_email, #id_password1 {
            display: block;
            width: 100%;
            height: 35px;
        }
    </style>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me" title="Home">Home</a></li>
        <li class="item-current item-3527"><strong class="bread-current bread-3527"> Sign Up</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Sign Up
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="the-box decodify-form" style="margin-top:30px;">
                <h4 class="small-title">Analyze My Genome</h4>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup_free' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{% url "dashboard" %}"/>
                    <input id="agree_check" style="margin:15px;" name="agree" type="checkbox"><span
                        id="agree_check_text">I've read and agree with the <a href="/page/terms-of-service/">Terms and Conditions</a></span>
                    <button type="submit"
                            onclick="if (document.querySelector('#agree_check').checked==false) { event.preventDefault(); document.querySelector('#agree_check_text').setAttribute('style','color:red;') }"
                            class="btn btn-block btn-danger"><i class="fa fa-sign-in"></i> Analyze My Genome
                    </button>
                    <div style="width:100%;text-align:center;">
                        <p>{% blocktrans %}Already have an account?
                            <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
                    </div>
                    <input type="hidden" id="traffic_source_field" name="traffic_source" value=""/>
                    <input type="hidden" id="affiliate_code" name="affiliate_code" value=""/>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
