{% extends "account/base.html" %}

{% block head %}
    <style>
        #id_email, #id_password1 {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    </style>
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me" title="Home">Home</a></li>
        <li class="item-current item-3527"><strong class="bread-current bread-3527"> Sign Up</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Sign Up
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="the-box decodify-form" style="margin-top:30px;">
                <h4 class="small-title">Analyze My Genome</h4>

                {#                <div class="socialaccount_ballot">#}
                {#                    <ul class="socialaccount_providers">#}
                {#                        <li>#}
                {#                            <a title="Facebook" class="socialaccount_provider facebook"#}
                {#                               href="/accounts/facebook/login/?process=login">Facebook</a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </div>#}

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{% url "payment:checkout" %}"/>
                    <input id="agree_check" style="margin:15px;" name="agree" type="checkbox"><span
                        id="agree_check_text">I've read and agree with the <a href="/page/terms-of-service/">Terms and Conditions</a></span>
                    <button type="submit"
                            onclick="if (document.querySelector('#agree_check').checked==false) { event.preventDefault(); document.querySelector('#agree_check_text').setAttribute('style','color:red;') }"
                            class="btn btn-block btn-danger"><i class="fa fa-sign-in"></i> Analyze My Genome
                    </button>
                    <a href="{% provider_login_url "facebook" method="oauth2" %}"
                       class="btn btn-block btn-info btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign up with Facebook
                    </a>
                    <div style="width:100%;text-align:center;">
                        <p>{% blocktrans %}Already have an account?
                            <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
                    </div>
                    <input type="hidden" id="traffic_source_field" name="traffic_source" value=""/>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        function createCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }


        function setCookie(name, value) {
            document.cookie += "; " + name + "=" + value;
        }

        if (GetURLParameter("affiliate_code")) {
            createCookie("affiliate_code", GetURLParameter("affiliate_code"), 365)
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        jQuery("#traffic_source_field").attr("value", getCookie("traffic_source"));

    </script>
{% endblock %}