{% extends "base.html" %}
{% block title %} <title>{{ query_set.title }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3535"><strong class="bread-current bread-3535"> FAQs</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    FAQs
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-3535" class="post-3535 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div id="it-exchange-store" class="it-exchange-wrap it-exchange-account">
                            <div class="row">
                                <ul>
                                    {% for faq in query_set %}
                                        <li><a class="faq-navigation" href="#{{ faq.id }}"> {{ faq.question }}</a></li>
                                    {% endfor %}
                                </ul>

                                {% for faq in query_set %}
                                    <div id="{{ faq.pk }}"></div>

                                    <h2>{{ faq.question }}</h2>
                                    <p>
                                            {{ faq.answer|safe }}
                                    </p>

                                {% endfor %}
                            </div>

                        </div>

                    </div><!-- .entry-content -->

                </article><!-- #post-## -->

            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .container -->

{% endblock %}

{% block scripts %}
    <script>
        $(".faq-navigation").click(function () {
            var id = $(this).attr("href");
            $('html, body').animate({
                scrollTop: parseInt($(id).offset().top - $(".top-navbar").height() - 10)
            }, 100);
        });
    </script>
{% endblock %}