<div>
Hi SelfDecoder,
<br><br>
You have a new request from user {{ user }} to {{ type }}. You could check the requests on "Account Access" page: <a href='{{ page }}'>{{ page }}</a>
<br><br>
Sincerely, SelfDecode Team
</div>
