<div>
Greetings,
<br><br>
One of your friends ({{ email }}) wants to compare your genotype records. You could do that by joining selfdecode.com via this link <a href='{{ page }}'>{{ page }}</a>
<br><br>
Sincerely, SelfDecode Team
</div>
