.color-inherit,
.color-inherit:hover,
.color-inherit:focus {
    color: inherit;
}

.text-short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-spacing {
    margin-bottom: 20px;
}