.panel-no-border.panel-default > .panel-heading.bg-snps {
    background-color: #37BC9B;
    color: #fff;
}

.panel-no-border.panel-default > .panel-heading.bg-uniprot {
    background-color: #3BAFDA;
    color: #fff;
}

.panel-toggle {
    cursor: pointer;
}

.panel-toggle .collapsed {
    display: none;
}

.x-axis-label{
cursor: pointer;
    color: #666666;
    text-decoration: none;
    font-size: 11px;
    text-overflow: clip;
    text-align: right;
    line-height: normal;
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.x-axis-label:hover{
    text-decoration: none;
    color: #666666;
}

.icon-image {
    height: 50%;
    width: 47%;
}

.label {
 z-index: 1!important;
}

.highcharts-tooltip {
    font-size: 12px;
    background-color: white;
    opacity:1;
    z-index:9999!important;
}

.highcharts-tooltip span {
    background-color: white;
    opacity:1;
    z-index:9999!important;
}

.highcharts-label-box {
    background-color: white;
    opacity: 1;
    z-index:9999!important;
}

.gene-background {
    background: white;
}

.side-text {
    font-size: 13px;
}

.lesser-font p {
    font-size: 14px;
    margin-bottom: 3px;
}

.lesser-font span {
    font-size: 13px;
    margin-left: 5px;
}

.gene-td {
    width: 10%;
}

.pointer {
    cursor:pointer
}

.green-pointer {
    color: limegreen;
}

.red-pointer {
    color: red;
}