html, body {
	font-family:"Proxima Nova";
  margin: 0;
}

.navbar.navbar-fixed-top { 
	position: initial !important; 
  border-bottom: 0 !important;
}

.navbar-brand {
	font-weight:600;
	font-size:1.3em;
	color:white !important;
}

.navbar-brand>img { 
  display:inline-block;
}

nav.navbar.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color:#ffffff;
  font-weight:200;
  font-size:0.9em;
}

.navbar-default .navbar-nav>li>a:hover {
  color:white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background:none;
}

.navbar-default .navbar-nav>.open>a {
	color:white !important;
}

nav .container {
	padding-top:20px;
}

.headline-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-background-container {
  min-width: 100%;
  min-height: 100%; 
  width: auto;
  height: auto;
  position:fixed;
  display:block;
  z-index:-3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-size: cover;
  background:black;

}

video {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; 
  z-index:-10;
}

.video-section {
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  min-height:480px;
  max-height: 56vw;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(300deg, rgba(0, 198, 255, 0.5) , purple); 
  background: linear-gradient(300deg, rgba(0, 198, 255, .5) , purple);             

}

.main-headline {
  color:white;
  font-size: 50px;
  line-height: 70px;
  font-weight:600;
  text-transform:uppercase;
/*  text-shadow: 0 0px 50px rgba(0,0,0,.5);
*/}
.main-subtext {
  color:white;
  font-size: 24px;
  line-height: 36px;
  font-weight:100;
  letter-spacing:0.01em;
  text-shadow: 0 0 16px black;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);    
  background: #ef7419;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease;
}

.left-button {
  margin-top:40px;
  color:#6772e5;
  background:white;
  padding-top:1px;
  margin-right:10px;
}

.right-button {
  margin-top:40px;
  padding-top:1px;
}

a {
	text-decoration:none !important;
}

.learn-more {
  color:white;
  position:absolute;
  bottom:10px;
  right:0;
  left:0;
  text-shadow:0 0 16px black;
}

.learn-more .glyphicon {
	font-size:0.7em;
	margin-right:5px;
}


.section-2 {
  box-shadow: inset 0px 8px 14px rgba(0,0,0,0.2);
  padding:40px;
  overflow: auto; 
}
.section-2 .how-it-works, .section-2 .step, .section-2 div {
  text-align:center;
  border:none;
  box-shadow:none;
}
.section-2 img {
  border-radius:250px;
  height:200px;
  box-shadow:0px 2px 8px rgba(0,0,0,0.2);
  margin-bottom:10px;
}
.how-it-works {
  margin-bottom:28px;
}
.section-2 p {
  padding-left:20px;
  padding-right:20px;
  color:rgba(0,0,0,0.4);
}
.section-2 .step, .section-2 .how-it-works {
  color:#80007f;
}


.section-3 {
  background: #f4f7fb;
  padding:40px;
  height:650px;
  overflow:hidden;
}
.card3 {
  margin: 15px;
  overflow: hidden;
  padding: 30px;
  border-radius: 4px;
  width:100%;
  background:#ffffff;
  box-shadow:0px 2px 6px rgba(0,0,0,0.1);
}

.square p {
  line-height:2.2em;
}
.comp-image {
  max-width:1000px;
  margin-left:-40px;
}
.section-3 .right-box {
  padding:90px;
  margin-top:-10px;
}
.section-3 .right-box h1 {
  letter-spacing:3px;
  font-size:4.3em;
}
.section-3 .right-box h4 {
  color:rgba(0,0,0,0.6);
  line-height:2;
  margin-top:30px;
}
.section-features {
  padding:40px;
  min-height:500px;
  background:#25234c;
  padding-top:70px;
  box-shadow: inset 0px 20px 14px -7px rgba(0,0,0,0.4);
}
.how-it-works, .step, .section-features div {
  text-align:center;
  border:none;
  box-shadow:none;
}
.section-features img {
  border-radius:3px;
  height:200px;
  box-shadow:1px 4px 22px rgba(0,0,0,0.9);
}
.how-it-works {
  margin-bottom:28px;
}
.section-features p {
  padding-left:20px;
  padding-right:20px;
  color:rgba(255,255,255,0.8);
  line-height:1.7em;
}
.section-features .step {
  color:#fff;
  text-transform:uppercase;
  font-size:1.2em;
  font-weight:600;
  letter-spacing:0.3px;
  margin-bottom:15px;
}


.section-community {
  padding:40px;
  padding-bottom:90px;
  background-image: linear-gradient(80deg, white 50%, yellow 50%);
  overflow: auto;

}
.section-community h1 {
  letter-spacing:3px;
  font-size:4.3em;
}
.section-community h4 {
  color:rgba(0,0,0,0.6);
  line-height:2;
  margin-top:30px;
}

.section-community .right-box {
  padding:90px;
  margin-top:20px;
}

.section-community img {
  width:600px;
  margin-top:85px;
}

.section-signup {
  overflow:auto;
  background:#f1f5fa;
  padding:60px;
}

.search-input{
  margin-top: 7px;
  width: 350px;
  border-color: #AAA;
  background: rgba(0,0,0,0.3);
  color: white;
}

.ui-autocomplete{
  font-size: 12px;
}
