@media only screen and (min-width : 1400px) {  
  /*set max-width ~1500px */
}
@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 1070px) {

	.section-community img {
    width:500px;
    margin-top:100px;
	}

}

@media only screen and (max-width : 1004px) {

	.section-features img{
	  height:160px;
	}
	.section-3 .right-box {
		padding:60px;
	}

}
@media only screen and (max-width : 992px) {
	video {
		display:none;
	}
	.video-section {
	  background: -webkit-linear-gradient(300deg, rgba(0, 198, 255, 1) , purple); 
    background: linear-gradient(300deg, rgba(0, 198, 255, 1) , purple);             
  }
	.main-headline {
		font-size:38px;
	}
	.headline-area {
		width:90%;
	}
	.section-features img{
	  height:130px;
	}
	.learn-more {
		display:none;
	}
}
@media only screen and (max-width : 768px) {
	.headline-area {
		width:90%;
	}
}
@media only screen and (max-width : 480px) {    
  /*set font-size ~1em */
  .headline-area {
		width:90%;
	}
	.section-3 .right-box {
		padding:0px;
	}
	.section-community .right-box {
		padding:20px;
	}
	.section-community {
    padding:0px !important;
	}

	.section-community img {
    width:95%;
    margin-top:50px;
	}
	.main-headline {
		line-height:1;
		font-size:28px;
	}
	.main-subtext {
		line-height:1.3;
		font-size:25px;
	}

}
@media only screen and (max-width : 320px) {
}
