.panel-toggle {
    cursor: pointer;
}

.panel-toggle .collapsed {
    display: none;
}

.panel-toggle select {
    color: initial;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: pointer;
    fill: #e7573e;
}

.node[selected="true"]{
    fill: orange;
}

.node[bookmarked="true"]{
    fill: green;
}

.link {
  stroke: #999;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 12px;
    text-anchor: middle;
    cursor: pointer;
}
table{
    width: 50%;
}

td ,th {
    padding: 5px;
    text-transform: capitalize;
}

ul.chosen-choices{
    line-height: 27px !important;
    box-shadow: none !important;
    border: none !important;
    background-image: none !important;
}

.search-field input{
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    font-size: 20px !important;
    margin-top: 7px !important;
}

li.search-choice {
    line-height: 27px !important;
    border-radius: 11px !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    font-size: 15px !important;
    background-color: #3BAFDA !important;
    border: none !important;
    background-image: none !important;
    color: white !important;
    box-shadow: none !important;
    padding-left: 14px !important;
    padding-right: 22px !important;
}

.search-choice-close{
    top: 12px !important;
}

.chosen-single{
    height: 35px !important;
    border: none !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    font-size: 15px !important;
    color: white !important;
    background: #3BAFDA none !important;
    box-shadow: none !important;
    padding-top: 4px !important;
}

.chosen-single span{
    height: 35px !important;
    background-color: #3BAFDA !important;
}

.chosen-single div{
    background-color: #3BAFDA !important;
}

.chosen-single div b{
    background-position-y: 7px !important;
}

.d3-tip {
    line-height: 1;
    /*font-weight: bold;*/
    padding: 12px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    z-index: 9999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.9);
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

.legend{
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.disclaimer {
  text-align: left;
}

.tooltipsy p {
    line-height: 1.42857143;
    color: #FFFFFF;
    margin: 0;
}

