.pack-items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.pack-item {
    padding-bottom: 20px;
}

.pack-item h2 {
    font-size: 1.9em;
}

.pack-item .panel {
    height: 100%;
    position: relative;
}

.pack-item .panel .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    margin: auto;
}
