{% extends "base.html" %}

{% load staticfiles %}
{% load experiment_tags %}

{% block title %} <title>{{ object.name|upper }} | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "experiment/details.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-cat item-custom-post-type-gene">
            <a class="bread-cat bread-custom-post-type-gene" href="#" title="Genes">
                Experiments
            </a>
        </li>
        <li class="item-current item-custom-post-type-gene">
            <strong class="bread-current bread-archive">
                {{ object.name|upper }}
            </strong>
        </li>
    </ol>
{% endblock %}

{% block page_title %}
    {{ object.name|upper }}
    {% if user.is_staff %}
        <a href="{% url "admin:experiment_identification_change" object.pk %}"> Edit</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <h3 style="margin-bottom: 50px;">{{ object.title }}</h3>
{% comment %}

                <h4>Publication title:</h4>
                <p>{{ object.publication_title }}</p>

                <h4>Publication authors:</h4>
                <p>{{ object.publication_authors }}</p>

                <h4>Protocol names:</h4>
                <p>{{ object.protocol_name }}</p>

                <h4>Protocol description:</h4>
                <p>{{ object.protocol_description|safe }}</p>
{% endcomment %}
                {% include 'genome/partials/advertisement.html' %}
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-bordered experiment-table">
                        <thead class="bg-default">
                            <tr>
                                <th colspan="2" class="centered" style="height: 160px;">
{#                                    <button class="btn btn-default">Display log<sub>2</sub>-fold change</button>#}
                                </th>
                                {% for conf in object.configuration_set.all %}
                                    <th rowspan="2">
                                        <span class="vertical-text">{{ conf.name|truncatechars:"20" }}</span>
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th class="gene-column">Gene</th>
                                <th>log<sub>2</sub>-fold change</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-body">
                        {% include "experiment/partials/_details_table_body.html" %}
                        {% comment %}{% for analytic in analytics.all %}
                            <tr>
                                <td>
                                    <a {% if analytic.gene %} href="{{ analytic.gene.name }}"{% else %}
                                                              class="disabled"{% endif %}>{{ analytic.gene_name }}</a>
                                </td>
                            <td>{{ analytic.log2folds|max_log2fold|floatformat:1  }}</td>

{#                                <td>{{ analytic.log2fold|floatformat:1 }}</td>#}
                                {% for log2fold in analytic.log2folds|slice:context.slicer %}
                                    <td style="background:
                                            {% if log2fold >= 0 %}
                                                {% colour_saturation "red" context.min_positive context.max_positive log2fold %}
                                            {% else %}
                                                {% colour_saturation "blue" context.max_negative context.min_negative log2fold %}
                                            {% endif %}">
                                        <div class="gxaShowCell">
                                            {{ log2fold|floatformat:1 }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}{% endcomment %}
                        </tbody>
                    </table>
                    <div class="row">
                        <button id="more-experiments"
                                style="margin-bottom: 20px;"
                                class="btn btn-default center-block"
                                type="button"
                                data-url="{% url "experiment:experiment_ajax" object.slug %}"
                                data-type="increase"
                        >Load more
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var page = 2;
            $('#more-experiments').on('click', function () {
                var $this = $(this);
                $this.data("oldtext", $this.text());
                $this.text("Loading...");
                $this.attr("disabled", true);
                var url = $this.data("url") + "?page=" + page;
                $.get(url).success(function (response) {
                    var paginator = response.paginator;
                    if(!paginator.has_next)
                        $this.hide();
                    else
                        $this.show();
                    page = paginator.next_page_number;
                    $("#experiment-body").append(response.data)
                }).always(function () {
                    $this.text($this.data("oldtext"));
                    $this.attr("disabled", false);
                });
            });
        });
    </script>
    {% include 'genome/partials/ad_popup.html' %}

{% endblock %}