
.experiment-table .centered {
    text-align: center;
    vertical-align: middle;
}

.experiment-table .vertical-text {
    transform: rotate(-90deg);
    float: left;
    transform-origin: left;
    margin-left: 15px;
}

.experiment-table .gene-column {
    min-width: 160px;
}

.experiment-table .bg-default{
    background: #edf6f6;
}

.gxaShowCell {
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
    margin: 4px;
    padding: 2px;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.organism-td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle!important;
    border-top: 1px solid #ddd;
}

.organism-td span {
    font-size: 300%;
}