{% extends "base.html" %}
{% load div from set_var %}
{% load filters %}
{% load staticfiles %}
{% load demouser %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static "payment/css/payment.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3535"><strong class="bread-current bread-3535"> Subscribe</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Subscribe
{% endblock %}


{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
        {% if not user|is_demouser %}
            <main id="main" class="site-main" role="main">
                <article id="post-3535" class="post-3535 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div id="it-exchange-store" class="it-exchange-wrap it-exchange-account">
                            {% url "payment:checkout" as form_submit_url %}
                            {% include "payment/plans_list.html" with form_submit_url=form_submit_url %}
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 text-center">
                                    <h4>Have a coupon code? <a href="#coupon-code-field" data-action="toggle">Use it!</a></h4>
                                    <form action="" method="get">
                                        <div class="input-group" id="coupon-code-field" style="{% if not request.GET.cdc %}display: none;{% endif %}margin-bottom: 15px;">
                                            <input type="text" name="cdc" class="form-control" placeholder="Enter your coupon code here" value="{{ request.GET.cdc }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary">Use</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
            {% else %}
                <h3>You are not allowed to view this page</h3>
            {% endif %}
        </div><!-- #primary -->
    </div><!-- .container -->

{% endblock %}

{% block scripts %}
    <script src="{% static "payment/js/payment.js" %}"></script>
{% endblock %}
