{% extends "base.html" %}

{% load demouser %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3541"><strong class="bread-current bread-3541"> Confirmation</strong></li>
    </ol>
{% endblock %}
{% block page_title %}
    Confirmation
{% endblock %}


{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            {% if not user|is_demouser %}
            <main id="main" class="site-main" role="main">
                <article id="post-3541" class="post-3541 page type-page status-publish hentry">
                    <div class="entry-content">
                        <p style="font-size:1.1em;">You have succesfully purchased product: <b>{{ product }} for
                            ${{ price }}</b></p>
                        <p></br></p>
                        <p><!-- Facebook Pixel Code --><br/>
                            <script>
                                fbq('track', 'Purchase', {value: '10.00', currency: 'USD'});
                            </script>
                        </p>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
            {% else %}
                <h3>You are not allowed to view this page</h3>
            {% endif %}
        </div><!-- #primary -->
    </div><!-- .container -->
{% endblock %}

{% block scripts %}
    <script>
        ga('send', 'event', 'visit', 'purchase-page')
    </script>

    <!-- Google Code for purchase-script Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 975328164;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "TAdXCLHF8WcQpKeJ0QM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/975328164/?label=TAdXCLHF8WcQpKeJ0QM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

{% endblock %}