{% extends "base.html" %}

{% load demouser %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-current item-3541"><strong class="bread-current bread-3541"> Confirmation</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Confirmation
{% endblock %}

{% block content %}

    <div class="container">
        <div id="primary" class="content-area">
            {% if not user|is_demouser %}
            <main id="main" class="site-main" role="main">
                <article id="post-3541" class="post-3541 page type-page status-publish hentry">
                    <div class="entry-content">
                        <p style="font-size:1.1em;">You have succesfully cancelled you subscription.</p>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
            {% else %}
                <h3>You are not allowed to view this page</h3>
            {% endif %}
        </div><!-- #primary -->
    </div><!-- .container -->

{% endblock %}

