{% load div from set_var %}
{% load filters %}
{% load staticfiles %}
{% load demouser %}
{% load humanize %}

<div class="row">
    {% for plan, item in plans.items %}
        <div class="col-sm-4">
            <div class="table-item-2 text-center">
                <div class="table-heading">
                    <p class="plan-name">
                        Upgrade to
                    </p>
                    <h3>{{ item.name }}</h3>
                    <h1 class="plan-price">
                        <sup>$</sup>{{ item|apply_coupon:item.coupon|format_price }}<sub>
                        &nbsp;/&nbsp;{% if item.coupon.discount_period == 0 %}First {% endif %}{{ item.interval|title }}</sub>
                    </h1>
                    <p class="parenthesis">{% if item.coupon.discount_period == 0 %}Then ${{ item.price|format_price }} / {{ item.interval|title }}{% else %}&nbsp;{{ item.plan_parenthesis }}&nbsp;{% endif %}</p>
                    <img style="display:none;"
                         src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">
                    <form action="{{ form_submit_url }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="plan" value="{{ plan }}">
                        {% if request.GET.cdc %}
                        <input type="hidden" name="cdc" value="{{ request.GET.cdc }}">
                        {% endif %}
                        <script
                                src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-key="{{ STRIPE_API_KEY }}"
                                data-amount="{{ item|apply_coupon:item.coupon }}"
                                data-name="{{ item.plan_name }}"
                                data-description=""
                                data-panel-label="Pay {% templatetag openvariable %}amount{% templatetag closevariable %}/{{ item.interval|lower }}"
                                data-image="https://s3-us-west-1.amazonaws.com/decodify/assets/dec_strpe.png"
                                data-locale="auto">
                        </script>
                    </form>
                    <br>
                    {{ forms|get_item:plan|safe }}
                    {% if item.coupon %}
                    <div class="discount-corner-label">Discount <span>{{ item.coupon.discount }}</span></div>
                    {% endif %}
                </div><!-- /.table-heading -->
                <div class="table-body">
                    <ul>
                        <li><i class="fa fa-files-o icon-left"></i><strong>{% if item.max_file_uploads == 0 %}Unlimited{% else %}{{ item.max_file_uploads|apnumber|title }}{% endif %} file uploads</strong></li>
                        {% for permission in item.permissions.all %}
                        <li><i class="fa {{ permission.icon_class }} icon-left"></i><strong>{{ permission.name }}</strong></li>
                        {% endfor %}
                    </ul>
                </div><!-- /.table-body -->
            </div>
        </div>
    {% endfor %}
</div>