{% extends "base.html" %}
{% load demouser %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">History</li>
    </ol>
{% endblock %}

{% block page_title %}
    History
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                {% include "genome/_profile_sidebar.html" %}

                    <div class="col-sm-10">
                    {% include 'genome/partials/subscriptions.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!--   SECTION       -->
{% endblock %}

{% block scripts %}{% endblock %}





