{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <h4 style="padding-top: 20px;"><strong>How does it work?</strong></h4>
            <p>Use your special affiliate link we provide for you to place in your emails, website, blogs,
                Twitter,
                Youtube,
                Facebook, or any other social media source.&nbsp;For every person who clicks on your affiliate
                link
                and
                makes a purchase, you get a commission of that sale.</p>
            <p><strong>How much commission do you pay?</strong></p>
            <ul>
                <li>We pay you a $10 commission on every sale using your affiliate link</li>
            </ul>
            <h4><strong>How will I get paid?</strong></h4>
            <p>We pay commissions 1st day of each month via PayPal when your commissions have reached at least
                $100.00.&nbsp;
                You will need to have a PayPal account to open an affiliate program with SelfDecode.</p>
            <h4><strong>How do I generate sales?</strong></h4>
            <p>Once people that you know see how much you enjoy and benefit from SelfDecode it’s easy for them
                to
                start making purchases.&nbsp;We have found that networking socially on Facebook brings great
                return.
                By
                simply posting your affiliate link with a picture of a SelfDecode, people will be curious and
                ask
                questions. Once they visit the site from your affiliate link and make purchases, you will begin
                generating
                commissions.</p>
            <h4><strong>What if I need help?</strong></h4>
            <p>We provide you with many types of banners and texts links for your website.&nbsp;In addition, we
                send
                out
                monthly emails with tips on making referrals and generating sales.</p>
            <p>Please direct all Affiliate Account questions:<br>
                <strong><a href="mailto:support@selfdecode.com">Contact Us</a></strong>&nbsp;(Please allow 24-48
                hrs reply
                from this form)</p>
            <h4><strong>Do I need to have a website?</strong></h4>
            <p>No, you can still become an affiliate and send your affiliate link in emails and post on facebook
                and
                twitter. I have also seen other affiliates do a short youtube video on the products and post
                heir
                link at
                bottom of the video.</p>
            <h4><strong>How do I sign up?</strong></h4>
            <p>Fill out the form below It will only take you a few minutes.</p>
        </div>
        <form method="POST" action="{% url 'affiliate:register_affiliate' %}">
            {% csrf_token %}
            {{ registration_form.as_p }}
            <input type="submit" class="btn btn-success btn-block" value="Sign Up"/>
        </form>
    </div>


{% endblock %}