{% extends "base.html" %}

{% block content %}
<div class="container-wrap" style="opacity: 1;">

    <div class="container main-content">

        <div class="row">


            <h3 style="padding-top: 20px;">Affiliate Information</h3>
            <p>Welcome to your affiliate area. Here you can find information about your affiliate link and earnings.</p>
            <h3>Affiliate&nbsp;Tracking Methods</h3>
            <p><strong>Your affiliate URL:</strong><br>
                <code><a
                        href="{{ affiliate_url }}">{{ affiliate_url }}</a></code>
            </p>
            <p><strong>Use this code to embed your affiliate link:</strong><br>
                <code>&lt;a
                    href="{{ affiliate_url }}"&gt;Affiliate
                    link&lt;/a&gt;
                </code>* Tip: You should change the text <em>Affiliate link</em> to something more attractive.</p>
            {% comment %}<p><b>Your affiliate customer 10% off</b><strong>&nbsp;coupon code:</strong><br>
                <code>{{ affiliate_profile.affiliate_code }}
                </code>* This coupon code will also track the transaction, good for offline promotions. &nbsp;Have
                customers&nbsp;enter this code on checkout to receive 10% off thier order and track the transaction.</p>
            <p><strong>Your&nbsp;affiliate&nbsp;image tracking pixel<br>
            </strong><code>&lt;img src="https://elixinol.com/?affiliates_png=1&amp;affiliates=347" alt="" width="1"
                height="1" /&gt;
            </code>*&nbsp;Pixel-based tracking allows affiliates to refer customers without the need for them to click
                an affiliate link. By placing the tracking pixel on a site, the affiliate can automatically register
                hits from visitors who simply view the page on which the tracking pixel is placed.</p>{% endcomment %}
            <h3>Performance</h3>
            <h4>Total Earnings</h4>
            <h5>Commissions pending payment</h5>
            <ul>
                <li>USD&nbsp;{{ affiliate_profile.count_pending_commissions }}</li>
            </ul>
            <h5>Commissions paid</h5>
            <ul>
                <li>USD&nbsp;{{ affiliate_profile.total_payed|default_if_none:0 }}</li>
            </ul>
            <h4>Monthly Earnings</h4>
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Month</th>
                    <th>Earnings</th>
                </tr>
                </thead>
                <tbody>
                {% for per_month in affiliate_profile.count_per_month_commissions %}
                    <tr>
                        <td>{{ per_month.period }}</td>
                        <td>{{ per_month.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div><!--/row-->

    </div><!--/container-->

</div>

{% endblock %}