<script type="html/template" id="tpl-comment">
    <form action="/forum/save-comment-body/" method="post" class="form-horizontal">
        <input type="hidden" name="csrfmiddlewaretoken" value="{csrftoken}">
        <input type="hidden" name="id" value="{comment_id}">
        <div class="form-group">
            <textarea
                required=""
                class="form-control"
                name="body"
                rows="5"
                id="comment-{comment_id}"
                minlength="1"
                placeholder="Your comment">{body}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger cancel-btn" type="button">Cancel</button>
    </form>
</script>