{% extends "base.html" %}

{% load demouser %}
{% load replace_underscores %}
{% load staticfiles %}
{% load social_tags %}

{% block head %}
    <style>
        .action-btn{
            margin: 0 3px;
        }
        .request-row{
            margin: 5px 0;
        }
    </style>
{% endblock head %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
        <li class="item-parent item-parent-3602"><a class="bread-parent bread-parent-3602" href="/profile" title="User">User</a>
        </li>
        <li class="active">Account Access</li>
    </ol>
{% endblock %}

{% block page_title %}
    Account Access
{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">

            <div class="row">
                {% include "genome/_profile_sidebar.html" %}
                <div class="col-sm-10">


                    {% if not user|is_demouser %}
                        <div class="it-exchange-wrap it-exchange-account">

                            <form action="/user_authorization/" method="post" id="hijack-form">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-sm-12">
                                        <div class="the-box decodify-form">
                                            <h4 class="small-title">Account Access</h4>
                                            <div class="form-group">
                                                <label>Browse As</label>
                                                <select class="form-control" id="hijack-input"
                                                        onchange='jQuery("#hijack-form").attr("action", "/hijack/email/"+jQuery(this).val()+"/");jQuery("#hijack-form").submit()'>
                                                    <option></option>
                                                    {% for item in user.authorized_users.all %}
                                                        <option>{{ item.user.email }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Authorize a User</label>
                                                <input type="text" class="form-control" name="add_auth_user"
                                                       placeholder="Enter Email Address">
                                            </div>
                                            <div class="form-group">
                                                <label>Remove Authorized User</label>
                                                <select class="form-control" name="remove_auth_user"
                                                        onchange='jQuery("#hijack-form").submit()'>
                                                    <option></option>
                                                    {% for item in user.user_profile.authorized_users.all %}
                                                        <option value="{{ item.id }}">{{ item.email }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <button type="submit"
                                                    onclick='if (jQuery("#hijack-input").val() > 0) { return false }'
                                                    class="btn btn-success" id="it-exchange-save-profile"
                                                    name="it-exchange-save-profile"><i class="fa fa-save"></i> Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            {% if not user.user_profile.active_file.is_demofile %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="the-box decodify-form">
                                            <h4 class="small-title">Send a request to compare genotype by email</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="user_email"
                                                       placeholder="Enter Email Address">
                                            </div>
                                            <button class="btn btn-primary" id="invite"
                                                    name="email-input">
                                                    Send invite
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="the-box decodify-form">
                                            <h4 class="small-title">Received requests</h4>
                                            {% for item in received_requests %}
                                                {% if item.status == 'pending' %}
                                                    <div class="row request-row">
                                                        <div class="col-sm-9">
                                                            <strong>{{ item.sender }}</strong>
                                                            sent you request to <strong>{{ item.type|replace_underscores }}</strong>
                                                            on: <span class="text-muted">{{ item.updated_at }}</span>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            {% generate_btn "decline" item.id %}
                                                            {% generate_btn "accept" item.id %}
                                                        </div>
                                                    </div>
                                                {% elif item.status == 'accepted' %}
                                                    <div class="row request-row">
                                                        <div class="col-sm-9">
                                                            You have accepted request from
                                                            <strong>{{ item.sender }}</strong>
                                                            to <strong>{{ item.type|replace_underscores }}</strong>
                                                            on: <span class="text-muted">{{ item.updated_at }}</span>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            {% generate_btn "decline" item.id %}
                                                            {% include 'social/partials/compare-btn.html' with hash=item.hash %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% empty %}
                                                <p>There is no requests at the moment.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="the-box decodify-form">
                                            <h4 class="small-title">My requests</h4>
                                            {% for item in sent_requests %}
                                                <div class="row request-row">
                                                    <div class="col-sm-9">
                                                            Your request for user <strong>{{ item.receiver }}</strong>
                                                            to <strong>{{ item.type|replace_underscores }}</strong>
                                                            has status:
                                                            {% if item.status == 'pending' %}
                                                                <span class="text-muted">{{ item.status }}</span>
                                                            {% elif item.status == 'accepted' %}
                                                                <span class="text-success">{{ item.status }}</span>
                                                            {% elif item.status == 'declined' %}
                                                                <span class="text-danger">{{ item.status }}</span>
                                                            {% endif %}
                                                    </div>
                                                    <div class="col-sm-3">
                                                            {% if item.status == 'pending' %}
                                                                {% generate_btn "delete" item.id %}
                                                            {% elif item.status == 'declined' %}
                                                                {% generate_btn "delete" item.id %}
                                                                {% generate_btn "retry" item.id %}
                                                            {% elif item.status == 'accepted' %}
                                                                {% generate_btn "delete" item.id %}
                                                                {% include 'social/partials/compare-btn.html' with hash=item.hash %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                            {% empty %}
                                                <p>There is no requests at the moment.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% else %}
                        <p>You are not allowed to view this page</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div> <!--   SECTION 		-->

    </div><!-- #content -->

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'social/social.js' %}"></script>
{% endblock %}
