<div class="dropdown select-btn pull-right action-btn">
    <button
            class="btn btn-xs btn-info dropdown-toggle"
            type="button" id="dropdownsocial"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
        Compare
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        aria-labelledby="dropdownsocial">
        <li>
            <a href="{% url 'compare_reports' 'rare_snps' hash %}" >Compare bad and rare snps</a>
        </li>
        <li>
            <a href="{% url 'compare_reports' 'bad_snps' hash %}" >Compare bad snps</a>
        </li>
    </ul>
</div>