{% if request.user != receiver and not request.user.user_profile.active_file.is_demofile %}
    <div class="dropdown" style="display: inline-block; vertical-align: text-bottom">
      <button
              class="btn btn-{{ size }} btn-warning dropdown-toggle"
              type="button" id="dropdownsocial"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownsocial">
        <li data-action="compare" data-receiver="{{ receiver.id }}"><a href="">Compare genotype</a></li>
      </ul>
    </div>
{% endif %}