<div class="col-sm-4" style="margin-top: 20px;">
    <form action="/search/" method="get">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
                <input type="text" name="query" class="form-control" id="{{ autocomplete_id }}">
                {% if filter %}
                    <input type="hidden" name="filter" value="{{ filter }}">
                {% endif %}
        </div>
    </form>
</div>