{% load staticfiles %}
{% load hijack_tags %}
{% load extras %}
{% load demouser %}
{% load resolve_url %}


<!doctype html>
<html>
<head>
<meta name="google-site-verification" content="MRZhWGBfhGhvXccX9lnSrc8oVAt2iszxMHnSZ-qnfgg" />
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/decodify/assets/favicon-decodify.png">
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta property="fb:app_id"             content="{{ fb_app_id }}" />
    <meta property="og:url"                content="{{ abs_url }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:site_name"          content="SelfDecode.com" />
    <meta property="og:title"              content="SelfDecode | Genome Analysis" />
    <meta property="og:description"        content="I just uploaded my Genome to be analyzed by SelfDecode.com!" />
    <meta property="og:image"              content="{{ fb_share_image }}" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WRGVJZQ');</script>
    <!-- End Google Tag Manager -->

    {% block title %} <title>SelfDecode | Genome Analysis</title> {% endblock %}

    <link rel="stylesheet" href="{% static "css/bootstrap-3.3.6.min.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "genome/styles.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static "genome/css/dashboard.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "genome/responsive.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="stylesheet" href="{% static "fancybox/jquery.fancybox.css" %}" type='text/css' media='all'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	{% block head %}{% endblock %}

    {#  Fix wysiwyg broken styles  #}
    <style>
        .tab-content span,
        .container span[style] {
            font-family: inherit !important;
            font-size: inherit !important;
            color: inherit !important;
        }
        .tooltip-icon {
            font-size: 18px;
            line-height: 18px;
            vertical-align: middle;
        }
        .top-navbar ul.menus li.parent a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .notification{
            position: relative;
            left: -10px;
            z-index: 1;
            width: 30px;
            height: 20px;
        }
        .notification-mobile{
            position: relative;
            left: -30px;
            z-index: 1;
            height: 20px;
        }
        .tooltipsy p {
            color: white;
        }
    </style>

    <script>
        window.app = {
            config: {
                "AJAX_NOINFO_MESSAGE": "{{ config.AJAX_NOINFO_MESSAGE }}"
            }
        };
    </script>

</head>
<body class="home page page-id-3494 page-template-default tooltips static-nav">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRGVJZQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% hijack_notification %}

{% if user.is_authenticated %}
    {% unread_comments user as comments_unread %}
    {% notifications request user as user_notifications %}

{% endif %}

{% block navbar %}
    {% include "nav-bar.html" %}
{% endblock %}

<div class="page-title-wrap">
    <div class="container">
        <div class="row" style="padding-top: 20px">
            <div class="col-md-8">
                {% block breadcrumbs %}{% endblock %}
            </div>
            <div class="col-md-4 input-group pull-right">
                      <span class="input-group-addon" id="basic-addon1">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </span>
                <form action="/search/" method="get">
                    <input type="text"
                           name="query"
                           class="form-control"
                           data-action="global-autocomplete"
                           data-url="{% url "search:autocomplete" %}"
                           placeholder="Type here for searching all around the Site...">
                </form>
                <p id="global-autocomplete-description"></p>
            </div>
        </div>
        <h2 class="page-title">{% block page_title %}{% endblock %}</h2>
    {% block extra_page_title %}{% endblock %}
    </div>
    <div class="border-bottom">
        <div class="container">
            <div class="border-bottom-color bg-info"></div>
        </div>
    </div>
</div>

{% block inline_notifications %}
    <div class="container notifications-section"></div>
{% endblock %}

{% if user.user_profile.active_file.is_demofile and not user|is_demouser %}
    <div class="row" style="height: 45px; background-color: #f7f0ba;">
        <div class="container" style="text-align: center;">
            <h4 style="color: dimgrey">
                You are viewing a sample genome.
                {% if not user.user_profile.has_subscription %}
                    <a href="{% url "payment:checkout" %}">Subscribe</a> and upload
                {% else %}
                    <a href="{% url "uploader" %}">Upload </a>
                {% endif %}
                 a file to view your genotype.
            </h4>
        </div>
    </div>
{% elif user.is_authenticated and user|is_demouser %}
    <div class="row" style="height: 45px; background-color: #f7f0ba;">
        <div class="container" style="text-align: center;">
            <h4 style="color: dimgrey">
                You are viewing a sample genome.
                <a href="{% url "account_logout" %}?next=/accounts/signup/">Sign up</a> today for only $19 and view your genome!
            </h4>
        </div>
    </div>
{% endif %}

{% block content %}{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

<script src="{% static "js/jquery-1.12.3.min.js" %}"></script>

<script src="{% static "js/jquery.plugins.js" %}"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{% static 'js/tooltipsy.min.js' %}"></script>

<script src="{% static "js/bootstrap-3.3.6.min.js" %}"></script>

<script src="{% static "fancybox/jquery.fancybox.pack.js" %}"></script>

<script src="{% static "js/notifications.js" %}"></script>

<script src="{% static 'genome/graph.js' %}"></script>

<script src="{% static 'search/search.js' %}"></script>

<script src="{% static 'js/utils.js' %}"></script>

<script src="{% static 'js/jquery.tmpl.min.js' %}"></script>

<script src="{% static 'js/jquery.plugins.js' %}"></script>

<script>
    $("#nav-icon-search, .btn-toggle-search").click(function () {
        $("#search-sub").toggle();
    });

    $("#close-search-nav").click(function () {
        $("#search-sub").toggle();
    });

    (function () {
        if (window.location.search.indexOf("utm") > -1) {
            var expire = new Date();
            expire.setDate(expire.getDate() + 7);
            document.cookie = "traffic_source=" + window.location.search + ";path=/;expires=" + expire;
        } else if (window.location.search.indexOf("invited") > -1) {
            var expire = new Date();
            var invited = new URLSearchParams(window.location.search).get('invited');
            expire.setDate(expire.getDate() + 365);
            document.cookie = "invited=" + invited + ";path=/;expires=" + expire;
        }
    })();

    $("#btn-toggle-nav").click(function () {
        $(".menus").toggleClass("toggle-nav");
    });

    $(document).ready(function () {
    {% if instructional_video %}
        var $title = $('.page-title');
        var $icon = $('<a href="{{ instructional_video.video_url }}" class="fancybox fancybox.iframe"><span class="fa fa-play-circle-o text-info" data-toggle="tooltip" data-placement="bottom" title="See instructional video for this page"></span></a>');
        $title.append("&nbsp;");
        $title.append($icon);
        $(".fancybox").fancybox();
    {% endif %}

        $('[data-toggle="tooltip"]').tooltip();

        $('.learn-more').on('click', function () {
            document.location = "#how-it-works";
            return false;
        });

    });
</script>

<script src="/marketing_scripts" type="text/javascript"></script>

{% if user.is_authenticated %}
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        window.intercomSettings = {
            app_id: "{{ INTERCOM_APP_ID }}",
            name: "{{ request.user.name|escapejs }}",
            email: "{{ request.user.email|escapejs }}",
        };
        if (urlParams.get('utm_source'))
            $.extend(window.intercomSettings, {utm_source: urlParams.get('utm_source')});
        if (urlParams.get('utm_campaign'))
            $.extend(window.intercomSettings, {utm_campaign: urlParams.get('utm_campaign')});
        if (urlParams.get('utm_medium'))
            $.extend(window.intercomSettings, {utm_medium: urlParams.get('utm_medium')});
        $.extend(window.intercomSettings, {seen_page: window.location.pathname});
    </script>
{% else %}
    <script>
      window.intercomSettings = {
        app_id: "{{ INTERCOM_APP_ID }}",
      };
    </script>
{% endif %}

{% block scripts %}{% endblock %}

<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args)
        };
        w.Intercom = i;
        function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/{{ INTERCOM_APP_ID }}';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})();
    $(document).ready(function () {
        {% if messages %}
            {% for message in messages %}
                $.inlineNotification("{{ message }}", "info");
            {% endfor %}
        {% endif %}

        {% if not user.emailaddress_set.first.verified and user.user_profile.has_subscription %}
            $.inlineNotification("Please verify your account. " +
                    "A verification email has been sent to {{ user.email }}" +
                    '(<a href="{% url "profile" %}">wrong email?</a>)' +
                    '<br>If you did not receive your email click <a href="{% url "resend-confirmation-email" %}">here</a> to resend.',
                    "warning",
                    true,
                    15000 // 15 sec
            );
        {% endif %}
    });
</script>

{% contains_url "home_page" as is_excluded %}

{% if not user.is_authenticated and not is_excluded %}
    {% include "popups/exit_intent.html" %}
{% endif %}

<script src="{% static 'js/jquery.initial.js' %}"></script>

</body>
</html>