{% if gene_id in bad_genes %}
        {{ gene_score|floatformat:2 }}
        <i class="fa fa-exclamation-triangle text-warning hashtip"
           title="Potentially bad gene"></i>
{% endif %}
{% if gene_id in contains_risk_allele %}
        <i class="fa fa-exclamation-circle text-danger hashtip"
           title="Contains Risk Alleles"></i>
{% endif %}
