<footer class="light-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h4>ABOUT SELFDECODE</h4>
                <p>
                    SelfDecode is a personalized health report service, which enables users to obtain detailed
                    information and reports based on their genome. SelfDecode does not treat, diagnose or cure any
                    conditions, but is for informational and educational purposes alone.
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>CONTACT</h4>
                <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-envelope media-object"></i>
              </span>
                    <div class="media-body">
                        <address>
                            Support<br>
                            <a href="mailto:support@selfdecode.com">support@selfdecode.com</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-2">
                <h4>NAVIGATION</h4>
                <ul class="list">
                    <li><a href="{% url "guide:faqs" %}">FAQs</a></li>
                    <li><a href="{% url "page" "how-it-works" %}">How it works</a></li>
                    <li><a href="{% url "page" "pricing" %}">Pricing</a></li>
                    <li><a href="{% url "database:main" %}">Database</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>SIGN UP NEWSLETTER</h4>
                <p>
                    Sign up to our newletter to receive updates on new reports and features.
                </p>
                <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/169874/subscribe" data-remote="true">
                    <input type="hidden" value="{&quot;form_style&quot;:&quot;minimal&quot;}" id="ck_form_options">
                    <input type="hidden" name="id" value="169874" id="landing_page_id">

                    <div class="input-group subscribe">
                        <input type="email" name="email" class="form-control text" id="ck_emailField" placeholder="Enter email address" required>
                        <span class="input-group-btn">
                          <button class="btn btn-info" id="ck_subscribe_button">
                            <i class="fa fa-chevron-right"></i>
                          </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

<div class="footer light-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                Copyright &copy; 2016 <a href="#">SelfDecode</a>
            </div>
            <div class="col-sm-7 text-right">
                <ul class="list-inline">
                    <li><a href="{% url "page" "terms-of-service" %}">Terms and condition</a></li>
                    <li><a href="{% url "page" "privacy" %}">Privacy policy</a></li>
                    <li><a href="{% url "guide:faqs" %}">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
