{% load staticfiles %}
{% load hijack_tags %}
{% load extras %}
{% load demouser %}

<div class="top-navbar fancy-color">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="https://s3-us-west-1.amazonaws.com/decodify/assets/decodify_logo4.png" alt="Logo"></a>
        </div>

        <div class="btn-toggle-nav" id="btn-toggle-nav"><i class="fa fa-bars"></i></div>
        <div class="btn-toggle-search" id="btn-icon-search"><i class="fa fa-search"></i></div>

        <div id="search-sub" class="nav-right-info">
            <i class="fa fa-times times-icon" id="close-search-nav"></i>
            <form role="form" action="{% url "search:main" %}" method="get">
                <input type="text" name="query" id="search" class="form-control" placeholder="Search something...">
            </form>
        </div>

        <ul class="menus">
            {% if not user.is_authenticated %}
                <li class="show-md-custom text-center" style="padding: 15px;background: white;">
                    <a class="btn btn-success" href="{% url "account_login" %}">Login</a>
                    <a class="btn btn-success" href="{% url "account_signup" %}">Signup</a>
                </li>
                <li class="parent warning">
                    <a href="#">About</a>
                    <ul class="sub-menus">
                        <li class="sub-list"><a href="{% url "page" "how-it-works" %}">How It Works</a></li>
                        <li class="sub-list"><a href="{% url "page" "learn" %}">The Science</a></li>
                        <li class="sub-list"><a href="{% url "page" "investors" %}">Investors</a></li>
                        <li class="sub-list"><a href="{% url "page" "privacy" %}">Privacy</a></li>
                        <li class="sub-list"><a href="{% url "page" "contributors" %}">Contributors</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown show-md-custom text-center" style="padding: 15px;background: white;">
                    <ul class="nav-user navbar-right" style="float: none !important;">

                        <li class="dropdown notification-mobile pull-right">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                {% if comments_unread %}
                                    <span class="badge badge-warning" title="New messages">{{ comments_unread }}</span>
                                {% endif %}
                            </a>
                            <ul style="margin-top: 30px;"
                                class="dropdown-menu square primary margin-list-rounded with-triangle">
                                {{ user_notifications|safe }}
                            </ul>
                        </li>

                        <li class="dropdown" style="display: inline-block;">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                <img alt=""
                                     src="https://secure.gravatar.com/avatar/{{ user.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g"
                                     class="avatar img-circle  avatar-96 photo grav-hashed" height="96" width="96"
                                     originals="96" scale="2" id="grav-d1a96cc59755d627b35b9cd11666eadc-0">
                                Hi, <strong>{{ user.email|truncatechars:16 }}</strong>
                            </a>
                            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                                <li><a href="{% url 'forum:main' %}">Forum</a></li>
                                {% if not user|is_demouser %}
                                    <li><a href="{% url "affiliate:affiliate" %}">Affiliate</a></li>
                                    <li><a href="{% url "payment:history" %}">Subscriptions</a></li>
                                    <li><a href="{% url "profile" %}">Profile</a></li>
                                    <li><a href="{% url "social:account_access" %}">Account Access</a></li>
                                {% endif %}
                                <li><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "account_logout" %}">Log out</a></li>
                            </ul>
                        </li>

                    </ul>                </li>
                <li class="parent info">
                    <a href="{% url "recommendation:main" %}">Substance Explorer</a>
                </li>
                <li class="parent warning">
                    <a href="{% url "snp_packs" %}">Health Categories</a>
                </li>

            {% endif %}

            <li class="parent danger">
                {% if not user.is_authenticated %}
                    <a href="{% url "account_login" %}">Login</a>
                {% else %}
                    <a href="#">Genes</a>
                    <ul class="sub-menus">
                        <li class="sub-list"><a href="{% url "gene_packs" %}">Gene Packs</a></li>
                        <li class="sub-list"><a href="{% url "genes_to_look_at" %}">Potentially Bad Genes</a></li>
                        <li class="sub-list"><a href="{% url "my_favorable_options" %}">Potential Fixes</a></li>
                    </ul>
                {% endif %}
            </li>

            {% if user.is_authenticated %}
                <li class="parent primary">
                    <a href="#">SNPs</a>
                    <ul class="sub-menus">
                        <li class="sub-list"><a href="{% url "snps_to_look_at" %}">Potentially Bad SNPs</a></li>
                        <li class="sub-list"><a href="{% url "my_important_snps" %}">My Important SNPs</a></li>
                        <li class="sub-list"><a href="{% url "rare" %}">Potentially Bad & Rare SNPs</a></li>
                        <li class="sub-list"><a href="{% url "bookmarked_snps" %}">My Bookmarked SNPs</a></li>

                    </ul>
                </li>
            {% endif %}

            <li class="parent success">
                <a href="{% url "variance" %}">SNP Explorer</a>
            </li>

            <li class="parent right-icon">
                <i class="fa fa-search" id="nav-icon-search"></i>
            </li>
        
            <ul class="nav-user navbar-right hide-md-custom">

                {% if user.is_authenticated %}

                    <li class="dropdown notification">
                        <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                            {% if comments_unread %}
                                <span class="badge badge-warning" title="New messages">{{ comments_unread }}</span>
                            {% endif %}
                        </a>
                        <ul style="margin-top: 30px;"
                            class="dropdown-menu square primary margin-list-rounded with-triangle">
                            {{ user_notifications|safe }}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">

                            <img alt=""
                                 src="https://secure.gravatar.com/avatar/{{ user.email|to_md5 }}?s=96&amp;d=identicon&amp;r=g"
                                 srcset="https://secure.gravatar.com/avatar/d1a96cc59755d627b35b9cd11666eadc?s=192&amp;d=mm&amp;r=g 2x"
                                 class="avatar img-circle  avatar-96 photo grav-hashed" height="96" width="96"
                                 originals="96" scale="2" id="grav-d1a96cc59755d627b35b9cd11666eadc-0">
                            Hi, <strong>{{ user.email|truncatechars:16 }}</strong>
                        </a>
                        <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                            <li><a href="{% url 'forum:main' %}">Forum</a></li>
                            {% if not user|is_demouser %}
                                <li><a href="{% url "affiliate:affiliate" %}">Affiliate</a></li>
                                <li><a href="{% url "social:account_access" %}">Account Access</a></li>
                            {% endif %}
                            <li><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "account_logout" %}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <ul class="nav-user navbar-right">
                        <ul class="navbar-right member-buttons">
                            <a class="btn btn-success" href="{% url "account_login" %}">Login</a>
                            <a class="btn btn-success" href="{% url "account_signup" %}">Signup</a>
                        </ul>
                    </ul>
                {% endif %}

            </ul>
        </ul>
    </div>
</div>