{% load demouser %}

<div class="video-section">

    <div class="video-background-container" data-type="background">
        <video preload="auto" autoplay="" loop="" muted="" class="video-background">
            <source type="video/mp4" src="https://d3eypmm5cuevmz.cloudfront.net/gene.mp4">
        </video>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "home_page" %}">
                    <img src="https://s3-us-west-1.amazonaws.com/decodify/assets/helix.png"
                         style="height:15px;margin-top:-5px;"> SelfDecode
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><span class="save-progress">About</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "page" "how-it-works" %}">How it Works</a></li>
                            <li><a href="{% url "page" "learn" %}">The Science</a></li>
                            <li><a href="{% url "page" "investors" %}">Investors</a></li>
                            <li><a href="{% url "page" "privacy" %}">Privacy</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "account_login" %}">Log In</a></li>
                    <li class=""><a href="{% url "account_signup" %}" style="font-weight:600;color:#fff;">Sign Up <i
                            style="font-weight:200;font-size:0.8em;"
                            class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                        <li class="hide-on-search"><a href="{% url "recommendation:main" %}">Substance Explorer</a></li>
                        <li class="hide-on-search"><a href="{% url "snp_packs" %}">Health Categories</a></li>
                        <li class="dropdown hide-on-search">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">Genes</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="sub-list"><a href="{% url "gene_packs" %}">Gene Packs</a></li>
                                <li class="sub-list"><a href="{% url "genes_to_look_at" %}">Potentially Bad Genes</a></li>
                                <li class="sub-list"><a href="{% url "my_favorable_options" %}">My Fixes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown hide-on-search">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">SNPs</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "snps_to_look_at" %}">Potentially Bad SNPs</a></li>
                                <li><a href="{% url "my_important_snps" %}">My Important SNPs</a></li>
                                <li><a href="{% url "rare" %}">My Bad Rare SNPs</a></li>
                                <li><a href="{% url "bookmarked_snps" %}">My Bookmarked SNPs</a></li>
                            </ul>
                        </li>
                        <li class="hide-on-search"><a href="{% url "variance" %}">SNP Explorer</a></li>
                        <li style="display: none;" class="search-box">
                            <form role="form" action="/search/" method="get">
                                <input
                                    type="text"
                                    class="form-control search-input"
                                    name="query"
                                    data-action="global-autocomplete"
                                    data-url="{% url "search:autocomplete" %}"
                                    placeholder="Type here for searching all around the Site...">

                            </form>
                            <p id="global-autocomplete-description"></p>
                        </li>
                        <li class="btn-search"><a href="#"><span class="fa fa-search"></span></a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"><strong>{{ user.email }}</strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                                {% if not user|is_demouser %}
                                    <li><a href="{% url "affiliate:affiliate" %}">Affiliate</a></li>
                                    <li><a href="{% url "payment:history" %}">Subscriptions</a></li>
                                    <li><a href="{% url "profile" %}">Profile</a></li>
                                    <li><a href="{% url "social:account_access" %}">Account Access</a></li>
                                {% endif %}
                                <li><a href="{% url 'forum:main' %}">Forum</a></li>
                                <li><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "account_logout" %}">Log out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="headline-area text-center">
        <h1 class="main-headline">Decode Your Genome</h1>
        <p class="main-subtext" style="font-size: 28px;">Uncover your genetic weaknesses,<br>play to your strengths.</p>
        {% if not user.is_authenticated %}
            <a href="{% url "account_signup" %}" class="button left-button">Decode My Genome</a>
            <a href="{% url "try-demo" %}" class="button right-button">Check demo site</a>
            &nbsp;
            <a href="{% url "account_signup" %}" class="button right-button">Buy</a>
        {% elif user.is_authenticated and not user|is_demouser and not user.user_profile.has_subscription %}&nbsp;
            <a href="{% url "payment:checkout" %}" class="button right-button">Subscribe</a>
        {% elif user|is_demouser %}
            <a href="{% url "account_logout" %}?next=/accounts/signup/" class="button right-button">Buy Now</a>
        {% endif %}
    </div>
    <p class="text-center learn-more" style="cursor: pointer;"><i class="glyphicon glyphicon-chevron-down"></i> Learn More</p>
</div>