{% extends "base.html" %}

{% load keyword_link %}
{% load remove_whitespace %}
{% load static from staticfiles %}

{% block title %} <title>Database | SelfDecode | Genome Analysis</title> {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "genome/css/gene.css" %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .heading,
        .p-wrap p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol id="decodify_breadcrumbs" class="breadcrumb">
        <li class="item-home"><a class="bread-link bread-home" href="https://www.decodify.me" title="Home">Home</a></li>
        <li class="item-current item-18076"><strong class="bread-current bread-18076"> Database</strong></li>
    </ol>
{% endblock %}

{% block page_title %}
    Database
{% endblock %}

{% block content %}

    <div class="container">

        <!-- BEGIN FEATURE SECTION -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="the-box bg-danger no-border box-feature text-center">
                            <h4 class="heading">GENES</h4>
                            <img class="icon icon-image"
                                 src="{% static "genome/images/icon-resonance.png" %}"
                                 alt="Icon">
                            <div class="p-wrap">
                                <p>
                                    List of all genes.
                                </p>
                            </div><!-- /.p-wrap -->
                            <div class="btn-wrap">
                                <a href="{% url "database:list-genes" %}"><button class="btn btn-danger btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-danger no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-warning no-border box-feature text-center">
                            <h4 class="heading">SNP</h4>
                            <i class="fa fa-medkit icon-lg"></i>
                            <p>
                                All SNP's here.
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-snps" %}"><button class="btn btn-warning btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-warning no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-success no-border box-feature text-center">
                            <h4 class="heading">SUBSTANCES</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All substances. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals" %}"><button class="btn btn-success btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-primary no-border box-feature text-center">
                            <h4 class="heading">HEALTH EFFECTS</h4>
                            <i class="fa fa-heartbeat icon-lg"></i>
                            <p>
                                All health effects. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-health_effects" %}"><button class="btn btn-primary btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="the-box bg-info no-border box-feature text-center">
                            <h4 class="heading" title="Consumable natural treatments">Consumable natural treatments</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <div class="p-wrap">
                                <p title="List of all Consumable natural treatments.">
                                    List of all Consumable natural treatments.
                                </p>
                            </div><!-- /.p-wrap -->
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "natural-treatments" %}"><button class="btn btn-info btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-danger no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-danger no-border box-feature text-center">
                            <h4 class="heading">Beneficial substances</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All Beneficial substances.
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "beneficial-substances" %}"><button class="btn btn-danger btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-warning no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-warning no-border box-feature text-center">
                            <h4 class="heading">Important natural compounds</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All Important natural compounds. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "important-natural-compounds" %}"><button class="btn btn-warning btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-success no-border box-feature text-center">
                            <h4 class="heading">Popular drugs</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All Popular drugs. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "popular-drugs" %}"><button class="btn btn-success btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="the-box bg-primary no-border box-feature text-center">
                            <h4 class="heading">Toxins</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <div class="p-wrap">
                                <p>
                                    List of all Toxins.
                                </p>
                            </div><!-- /.p-wrap -->
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "toxins" %}"><button class="btn btn-primary btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-danger no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-info no-border box-feature text-center">
                            <h4 class="heading">Drugs</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All Drugs.
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "drug" %}"><button class="btn btn-info btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-warning no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-danger no-border box-feature text-center">
                            <h4 class="heading">Obscure chemicals</h4>
                            <i class="fa fa-plus-square icon-lg"></i>
                            <p>
                                All Obscure chemicals. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-chemicals-categorized" "obscure_chemicals" %}"><button class="btn btn-danger btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-warning box-feature text-center">
                            <h4 class="heading">DISEASES</h4>
                            <i class="fa fa-stethoscope icon-lg"></i>
                            <p>
                                All diseases. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "disease-tree" %}"><button class="btn btn-warning btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                </div>
                <div class="row">
                    <!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-success no-border box-feature text-center">
                            <h4 class="heading">TRAITS</h4>
                            <i class="fa fa-user-md icon-lg"></i>
                            <p>
                                All traits. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-traits" %}"><button class="btn btn-success btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-primary no-border box-feature text-center">
                            <h4 class="heading">MEASUREMENTS</h4>
                            <i class="fa fa-ambulance icon-lg"></i>
                            <p>
                                All Measurements. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-measurements" %}"><button class="btn btn-primary btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-info no-border box-feature text-center">
                            <h4 class="heading">EXPERIMENTS</h4>
                            <i class="fa fa-tasks icon-lg"></i>
                            <p>
                                All Experiments. <br />
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-experiments" %}"><button class="btn btn-info btn-learn-more">LEARN MORE</button></a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-danger no-border box-feature text-center">
                            <h4 class="heading">MOLECULAR FUNCTIONS</h4>
                            <img class="icon icon-image"
                                 src="{% static "genome/images/icon-cube.png" %}"
                                 alt="Icon">
                            <p>
                                All Molecular Functions. <br/>
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-molecular-function" %}">
                                    <button class="btn btn-danger btn-learn-more">LEARN MORE</button>
                                </a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <!-- /.col-sm-3 -->
                    <div class="col-sm-3">
                        <div class="the-box bg-warning no-border box-feature text-center">
                            <h4 class="heading">BIOLOGICAL PROCESSES</h4>
                            <img class="icon icon-image"
                                 src="{% static "genome/images/icon-health.png" %}"
                                 alt="Icon">
                            <p>
                                All Biological Processes. <br/>
                            </p>
                            <div class="btn-wrap">
                                <a href="{% url "database:list-biological-process" %}">
                                    <button class="btn btn-warning btn-learn-more">LEARN MORE</button>
                                </a>
                            </div><!-- /.btn-wrap -->
                        </div><!-- /.the-box bg-success no-border box-feature text-center -->
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row -->

            </div><!-- /.container -->
        </div><!-- /.section -->
        <!-- END FEATURE SECTION -->

    </div><!-- .container -->

    </div><!-- #content -->

{% endblock %}
